/*!
 * Boehringer Ingelhiem Financial Plan Management Application CSS
 *
 */

#headerToolbar input,
#headerToolbar button,
#headerToolbar a {
	margin-right:10px;
}

#headerToolbar select[multiple],
#headerToolbar select[size]  {
    margin-left: 5px;
    margin-bottom: 0px;
    height: 35px;
    font-size: 20px;
    text-indent: 15px;
}
.planType {

}

.planType .currency {
	text-align: right;
}

.planType td.negative-balance {
    background-color: #ff66cc;
}

.planType td.positive-balance {
    background-color: #66ff99;
}


.planType .currency-separator {
    padding-right: 5px;
    white-space: nowrap;
    padding-left: 5px;
    padding-bottom: 4px;
    margin-top: 5px;
    padding-top: 4px;
    font-size: 20px;
    vertical-align: middle;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

table td.tier1 {
    padding-left:15px;
}
    
table td.tier2 {
    padding-left:30px;
}

table td.tier3 {
    padding-left:45px;
}

table td.tier4 {
    padding-left:60px;
}

table td.tier5 {
    padding-left:75px;
}

table td.tier6 {
    padding-left:90px;
}

table td.tier7 {
    padding-left:105px;
}

.planFolderIcon {
	padding-right: 10px;
}


/**********************************************
 *
 *Styling for the page to act like a table
 *
 **********************************************/

div.main-panel, div.main-panel-edit {
    border: 1px solid #ddd;
    border-radius: 7px;            
    margin: auto;
}

div.main-panel, div.main-panel div.collapsible { width: 849px; }
div.main-panel-edit, div.main-panel-edit div.collapsible { width: 876px; }

div.main-panel.prior-year, div.main-panel.prior-year div.collapsible { width: 712px; }
div.main-panel-edit.prior-year, div.main-panel-edit.prior-year div.collapsible { width: 699px; }

div.main-panel.future-year, div.main-panel.future-year div.collapsible { width: 575px; }
div.main-panel-edit.future-year, div.main-panel-edit.future-year div.collapsible { width: 699px; }

div.collapsible {             
    display:table;
    overflow: hidden;            
    border-top: 1px solid #ddd;
}        
div.plan-name {
    width:300px;
    float:left
}

div.plan-name div {
    padding-left: 10px;
}
div.row-edit { height: 50px; }

div.plan-amount {
    width:136px;
    float:left;                    
}
input.plan-amount-input { 
    margin-top: -5px;            
    width:120px;
}        
span.input-add-ons span.add-on { margin-top:-5px;}

div.plan-unallocated-amount {
    width:136px;
    float:left;                    
}

div.main-panel-edit div.plan-unallocated-amount { width:176px; }
div.plan-amount-edit {
    width:220px;
    float:left;                    
}

div.plan-ytd-actuals {
    width:136px;
    float:left;
}

div.plan-vs-allocated {
    width:136px;
    float:left;                    
}

div.plan-vs-actual {
    width:136px;
    float:left;                    
}

div.main-panel-edit div.plan-ytd-actuals { width:176px; }

div.plan-ytd-plan {
    width:136px;
    float:left;
}

div.plan-ytd-percent {
    width:130px;
    float:left;
}                    

div.planType div.positive-balance { 
    background-color: #6f9; 
    display:block;
}
div.planType div.low-balance { 
    background-color: #FF0; 
    display:block;
}
div.planType div.negative-balance { 
    background-color: #f6c; 
    display:block;
}
div.table-header { 
    font-weight: bold; 
    border-radius: 2px;
    border-right: solid 1px #ddd;
    height: 32px;
}
div.table-header div {
    padding-left: 10px;
}

div.cell {
    border-right: 1px solid #ddd;
    height: 40px;
}   

span.cell-wrapper {
    display: block;
    margin-right:10px;
    margin-top:10px;
}     

div.panel-separator {
    width: 100%;
    height: 20px;
    border-top: solid 1px #ddd;
}

i.icon-briefcase, i.icon-chevron-down, 
i.icon-plus, i.icon-minus,
i.icon-folder-open, i.icon-folder-close
{ margin-left: 5px;}

div.plan-name div.tooltip {
    margin-top: -3px;
    margin-left: -6px;
}

div.controls input.fund-request-amount-input, div.currency input.plan-amount-input { border-radius: 0 4px 4px 0; }

