<apex:component controller="AttachedArticlesControllerMITS" allowDML="true">
    <apex:includeScript value="/support/console/27.0/integration.js"></apex:includeScript>
    <script type="text/javascript">
    var parentTabId;
    
    function getIds() {
        sforce.console.getEnclosingPrimaryTabId(setPrimaryTabId);
    }
    
    var setPrimaryTabId = function setPrimaryTab(result){
        parentTabId = result.id;
    }
    function openTabUrl(url, name){
        sforce.console.openSubtab(parentTabId, url, true, name, null);
    }
    
    setTimeout(getIds,2000);
    </script>
    <style>
        tr.headerRow.textShadow th{
            text-shadow: 1px 1px 0px #fff, 3px 2px 0px rgba(0,0,0,0.15);
        }
    </style>
    <apex:includeScript value="{!URLFOR($Resource.JQuery_MVN, 'JQuery/jquery-latest.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.JQuery_MVN, 'JQuery/TableSorter/jquery.tablesorter.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.JQuery_MVN, 'JQuery/QTip/jquery.qtip.min.js')}"/>
    
    <apex:stylesheet value="{!URLFOR($Resource.JQuery_MVN, 'JQuery/TableSorter/style.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.JQuery_MVN, 'JQuery/QTip/jquery.qtip.min.css')}" />
                        
    <apex:pageBlock title="{!$Label.Knowledge_Search_Attached_Articles_Header}" id="attachedBlock">
        <apex:outputPanel rendered="{!attachedKnowledgeListMITS.size == 0}">   
            {!$Label.Service_Cloud_Knowledge_Search_No_Attached_Articles}
        </apex:outputPanel>
        <apex:actionstatus id="attach-status">
            <apex:facet name="start">
                <div style="padding-left:40%"> 
                    <img src="{!URLFOR($Resource.MavensGlobalAssets, '/gifs/loading.gif')}" height="13px" width="13px"/>
                    <span class="waitingDescription">{!$Label.Waiting_to_Update_Articles_Message}</span>
                    <a href="#" onclick="if(document.URL.indexOf('KnowledgeSearchMITS')!=-1){location.reload(true);}else{sforce.console.refreshPrimaryTabById(parentTabId);}"><span class="waitingDescription">{!$Label.Service_Cloud_Knowledge_Search_Cancel}</span></a>    
                </div>
            </apex:facet>
            <apex:facet name="stop">
                <apex:outputPanel id="selectedList">
                     <apex:outputPanel id="selectedArticles" rendered="{!attachedKnowledgeListMITS.size > 0}">
                            <apex:pageBlockTable headerClass="textShadow" style="border-color: #F8F8F8; font-size:11px;" styleClass="tablesorter" value="{!attachedKnowledgeListMITS}" var="ak" id="attachedResultsTable">
                                <apex:column rendered="{!!casearticle.IsClosed}">
                                    <apex:commandLink status="attach-status" rerender="theForm, opHelper" action="{!MITSremoveArticle}">
                                        <img class="mavensIcon" title="{!$Label.Remove_Article}" src="{!URLFor($Resource.MavensGlobalAssets, 'Icons/File_delete.png')}" />
                                        <apex:param name="kId" assignTo="{!MITSattachedArticleId}" value="{!ak.Id}" />
                                    </apex:commandLink>
                                </apex:column>
                                <apex:column headerValue="{!$Label.Knowledge_Search_Column_Name_Title}">
                                    <div style="width:200px;max-width:200px;word-wrap:break-word;overflow:hidden;">
                                        <apex:commandLink style="color: #3A97C4;text-decoration: none; font-size:11px;" onclick="openTabUrl('/articles/{!ak.Article_Language_MVN__c}/{!SUBSTITUTE(ak.Article_Type_API_MVN__c, '__kav', '')}/{!ak.Article_URL_Name_MVN__c}?popup=true', '{!$Label.Knowledge_Search_Article_Tab_Name}');" value="{!ak.Article_Title_MVN__c}" rerender="search-status" />
                                    </div>
                                </apex:column>
                                <apex:column headerValue="{!$Label.Knowledge_Search_Column_Name_Summary}" value="{!ak.Article_Summary_MVN__c}" />
                            </apex:pageBlockTable>
                     </apex:outputPanel>
                 </apex:outputPanel>
            </apex:facet>
        </apex:actionStatus>
    </apex:pageBlock>

</apex:component>