<apex:component controller="BI_PL_ImportBITMANHierarchyCtrl">    
    <style>
        .importFromBITMAN table {
			padding:20px;
		}
		.importFromBITMAN td {
			padding:10px;
	    	vertical-align: middle;
		}
		/*.importFromBITMAN .successTable {
			padding:5px;
			text-align:center;
		}
		.importFromBITMAN .successTable th {
			padding-left:5px;
			padding-right:5px;
		}*/
		#modalReimport{
			left:0;
			top:0;
			position:absolute;
			width:100%;
			height:100%;
			background-color:rgba(255,255,255,0.8);
			z-index:999;
		}
		#modalReimport div{
			font-size:1.2em;
			font-weight: bold;
			text-align:center;
		}
		.inputWidth100 {
		    max-width: 100% !important;
		}
    </style>
    <script id="bi-pl-import-from-bitman" type="text/x-template">
    	<span>
	        <vf-card title="{!$Label.BI_PL_DM_Import_from_BITMAN}" icon-class="slds-icon-action-script" icon="utility/offline_cached">
	        	<!-- <div slot="buttons">
	        		<button type="button" :class="theme.button.primary" v-on:click="showCardBody = true" v-if="showCardBody === false" > Begin </button>
	        		<button type="button" :class="theme.button.neutral" v-on:click="showCardBody = false" v-if="showCardBody === true"> Cancel</button>
	        	</div> -->
	        	<div slot="title">
	                {!$Label.BI_PL_DM_Import_from_BITMAN}
	                <span class="slds-badge slds-badge_lightest"><vf-svg-icon size="xx-small" v-bind:path="iconCyclePath" />&nbsp;<strong>{!$Label.BI_PL_Cycle}</strong></span>
	               
            	</div>
		    	<div slot="body" >

		    		<vf-action-status v-model="status" ref="status">
						<p v-for="error in errors" class="not-approved-error text-center">
							{{error}}
						</p>
		    		</vf-action-status>

					
					<div class="slds-p-around_small">
						<h4>{!$Label.BI_PL_ImportBitmanStep1}</h4>

						<div class="slds-grid slds-wrap slds-gutters_small">
							<div class="slds-col slds-size_1-of-3 slds-has-flexi-truncate" role="listitem">
								<div class="slds-form-element slds-form-element_edit slds-hint-parent">
									<span class="slds-form-element__label"> 
										{!$Label.BI_PL_DM_Snapshot_date}
									</span>
									<div class="slds-form-element__control">
										<vf-input-date  v-model="selectedSnapshotDate" />
										<!-- <vf-input field="BI_PL_Cycle__c.BI_PL_Start_date__c" v-model="selectedSnapshotDate" /> -->
									</div>
								</div>
							</div>
							<div class="slds-col slds-size_1-of-3 slds-has-flexi-truncate" role="listitem">
								<div class="slds-form-element slds-form-element_edit slds-hint-parent">
									<span class="slds-form-element__label"> 
										{!$ObjectType.BI_PL_Cycle__c.fields.BI_PL_Field_force__c.Label}
									</span>
									<div class="slds-form-element__control">
										<select v-model="selectedFieldForce" :class="theme.input">
						                    <option v-bind:value="null">{!$Label.Common_None_vod}</option>
						                    <option v-for="(name, id) in fieldForces" v-bind:value="id" >{{name}}</option>
						                </select>
									</div>
								</div>
							</div>
							<div class="slds-col slds-size_1-of-3 slds-has-flexi-truncate" role="listitem">
								<div class="slds-form-element slds-form-element_edit slds-hint-parent">
									<span class="slds-form-element__label"> 
										{!$Label.BI_PL_DM_Import_to_PLANiT_cycle}
									</span>
									<div class="slds-form-element__control">
										<!-- <select v-model="cycle" class="form-control  navbar-dropdown"  :class="theme.input">
						                    <option v-bind:value="null">{!$Label.Common_None_vod}</option>
						                    <option v-for="c in cycles" v-bind:value="c">{{c.Name}}</option>
						                </select> -->
						                <span v-if="cycle">
						                	{{cycle.Name}}
						                </span>
						                <span v-else>
						                	<b> Select a cycle 
						                		<!-- or <a @click="openCycleModal"> create a new cycle </a> -->
						                	</b>
						                </span>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div v-if="alignments">
			        	<div class="slds-col col-lmedium-g-12-12 slds-small-size_1-of-1">
			        		<div class="" v-if="selectionMessage">{{selectionMessage}}</div>
			        			<vf-table
			        				v-bind:selectable="true"
			        				v-bind:exportable="false"
			        				v-bind:searchable="true"
			        				v-bind:items="filteredAlignments"
			        				sobject="BI_TM_Alignment__c"
			        				sobject-fields="Name, BI_TM_Start_date__c, BI_TM_End_date__c, BI_TM_FF_type__r.Name, BI_TM_Country_Code__c, BI_TM_Status__c"
			        				v-on:items-selected="onSelectAlignment">
				        			<template slot="globalActions">
				        				<button type="button" :class="theme.button.primary" v-bind:disabled="!selectedAlignment || !cycle" v-on:click="importFromBITMAN">{!$Label.BI_PL_DM_Import_from_BITMAN}</button>
				        			</template>
				        		</vf-table>
			        	</div>
					</div>
		        </div>
		    	<!-- <div slot="body" class="slds-p-around_medium" v-if="!showCardBody">
		    		Gets an aligment from BITMAN and creates Position-Cycle and Position-Cycle-User records in PLANIT
		    	</div> -->
		    </vf-card>
    	</span>
    </script>
    <script>
        var vueInstance = Vue.component('bi-pl-import-from-bitman', {
			template : '#bi-pl-import-from-bitman',
			// el: '#splitCycle',
			created : function(){
			},

			mounted : function(){
                // this.status = this.$refs.status.createModel();
				// this.checkStatus();
			},

			updated : function() {
				// this.checkStatus();
			},

			props : {
				country : {type : String, default : null},
				cycle : {type : Object, default : null},
				hierarchy : {type : String, default : null},

			},

			data: function(){
				return {
                    showCardBody : false,
                    showProgressBar : false,

                    status : {
                        show : false,
                        level : 'error',
                        messages : []
                    },

                    batchStatus : undefined,
					batchId : undefined,
					fieldForces : [],
					alignments : [],
					filteredAlignments : [],
					// cycles : [],

					// cycle : null,
					selectedSnapshotDate : null,
					selectedFieldForce : null,
					selectedAlignment : null,

					selectionMessage : null,

					status : {
						show : false,
						messages : [],
						level : 'info'
					},
					
					errors : []
				}
			},
            methods :  {
            	addError : function() {
					this.showMessage('error', msg);
				},
				showMessage : function(lv, msg) {
                    this.$refs.status.showMessage(lv, msg);
                },
				filterAlignments : function(filter) {
					var self = this;
					this.filteredAlignments =  this.alignments.filter(function(item) {
						return item.BI_TM_FF_type__c == filter;
					})
				},

				getAlignments : function(onDate, country) {
					var self = this;
					self.status.messages = ['Loading ...'];
					// self.status.percent = 0;
					self.status.show = true;
					self.status.level = 'info';

					var remoteDate = new Date(onDate).toUTCString();
					
					BI_PL_ImportBITMANHierarchyCtrl.getAlignmentsRemote(remoteDate, this.workingCountry, function(r, ev){
						if(ev.statusCode == 200) {
							if(r.alignments && r.alignments.length > 0) {
								self.alignments = r.alignments;
								self.fieldForces = r.fieldForces;
								self.status.show = false;
								if(self.selectedFieldForce){
									//var index = _.indexOf(self.fieldForces,self.selectedFieldForce);
									if(self.fieldForces.hasOwnProperty(self.selectedFieldForce)){
										self.filterAlignments(self.selectedFieldForce);
									}else{
										self.selectedFieldForce = null;
										self.filteredAlignments = [];
									}
								}	
							} else {
								self.showMessage('warning', 'No aligments found');
							}
						} else {
							// self.status.percent = 100;
							self.status.messages.push(ev.message);
							self.status.level = 'error';
						}
					}, { escape : false })
				},

				// getCycles : function() {
				// 	console.log("BI_PL_ImportBITMANHierarchy : getCycles()");
				// 	var self = this;
				// 	self.status.messages = ['Loading ...'];
				// 	self.status.percent = 0;
				// 	self.status.show = true;
				// 	self.status.level = 'info';

				// 	var remoteDate = new Date(this.selectedSnapshotDate).toUTCString();
					
				// 	BI_PL_ImportBITMANHierarchyCtrl.getCycles(null, function(r, ev){
				// 		console.log('BI_PL_ImportBITMANHierarchyCtrl.getCycles() : ',r);
				// 		if(ev.statusCode == 200) {
				// 			self.cycles = r;
				// 			self.status.show = false;
				// 		} else {
				// 			self.status.percent = 100;
				// 			self.status.messages.push(ev.message);
				// 			self.status.level = 'error';
				// 		}
				// 	}, { escape : false })
				// },

				importFromBITMAN : function() {
					var self = this;
					this.errors = [];

					this.batchStatus = undefined;

					var remoteDate = new Date(this.selectedSnapshotDate).toUTCString();
					
					BI_PL_ImportBITMANHierarchyCtrl.startImportFromBitman(
							self.selectedAlignment.Id, 
							remoteDate, 
							self.cycle.Id, 
							function(r, ev){
						if(ev.statusCode == 200) {
							if(r == 'hierarchyAlreadyWithPreps'){
								self.errors.push("{!$Label.BI_PL_Hierarchy_already_PLANiT_with_preps}");
							}else if(r == 'hierarchyAlreadyReimport'){
								if(confirm("{!$Label.BI_PL_Hierarchy_already_PLANit_reimport}")){
									self.reimportFromBITMAN(self.selectedAlignment.Id, remoteDate, self.cycle.Id);
								}
							}else{
								self.batchId = r;
								self.status.show = false;
							}
						} else {
							self.status.percent = 100;
							self.status.messages.push(ev.message);
							self.status.level = 'error';
						}
					}, { escape : false })
				},
				reimportFromBITMAN : function(alignmentId, snapshotDate, cycleId){
					this.errors = [];
					var self = this;
					BI_PL_ImportBITMANHierarchyCtrl.runDeleteAndImportBatchJob(self.selectedAlignment.Id, snapshotDate, self.cycle.Id, 
							function(r, ev){
						if(ev.statusCode != 200) {
							self.errors.push("{!$Label.BI_PL_Error_during_process}");
						}
					}, { escape : false })
				},

				onSelectAlignment : function(selected) {
					if(selected.length > 1) {
						this.selectionMessage = '{!$Label.BI_PL_assigment_one}';
					} else {
						this.selectedAlignment = selected[0];
					}
				},

			},

			watch : {
				workingCountry : function(newValue) {
					if(newValue) {
						this.selectedSnapshotDate = null;
						this.alignments = [];
					}
				}, 
				cycle : function(newValue) {
					if(newValue) {
						this.selectedSnapshotDate = null;
						this.alignments = [];
					}
				}, 
				selectedSnapshotDate : function(newValue) {
					if(newValue){
						this.getAlignments(newValue);

					}
				}, 
				selectedFieldForce : function(newValue) {
					if(newValue) this.filterAlignments(newValue);
				}
			},
			computed : {
				workingCountry : function() { return this.$store.getters.getWorkingCountry },
				theme : function() { return this.$store.getters.getTheme },
				iconCyclePath : function() {
                    return !this.cycle ? 'utility/error' : 'utility/check';
                }
			}
		});
    </script>
</apex:component>