<apex:component >
  <script type="text/x-template" id="load-page-bar">

		<div class="container" style="margin-top: 2%; width: 25%!important;">   
            <div class="progress">  
                <div class="progress-bar progress-bar-striped active" role="progressbar" v-bind:aria-valuenow="loadPercentage" aria-valuemin="0" aria-valuemax="100"  v-bind:style="{ width: loadPercentage + '%!important'}">
                    {{loadPercentage.toFixed(2)}}%
                </div>
            </div>
        </div>


  </script>


  <script>
        Vue.component('load-page-bar', {
            template : '#load-page-bar',
            props : {
                nTotal : 0,
                nDone: 0,
                pctg: 0,
                              
		    },
            data : function(){
                return {
                

                }
            },

                        
            computed:{
            	loadPercentage: function(){
            		if(typeof this.pctg != "undefined")
            		{
            			return this.pctg;
            		}
            		else
            		{
            			return (this.nTotal>0)?(this.nDone*100)/this.nTotal:0;
            		}
                    
                }

            },
            
           
            methods : {

                
            }
        });
    </script>
</apex:component>