<apex:component controller="BI_PL_PreparationTargetAdjModalCtrl">
<style>
    .vf-specialties-selector-clear {
        position: absolute;
        right: 1em;
        top: 0;
        bottom: 3px;
        height: 14px;
        margin: auto;
        font-size: 14px;
        cursor: pointer;
        color: #ccc;
    }
    .vf-specialties-selector-container{
        display: flex;
    }
    .vf-specialties-selector-container>div {
        width: 100%;
        display: block;
        position: relative;
        margin-right: 0.5em;
    }
    .vf-specialties-selector-container .vf-specialties-selector-container-input {
        width: 100%;
        display: block;
        position: relative;
        margin-right: 0.5em;

    }
    .vf-specialties-selector-container .vf-specialties-selector-container-input input{
        margin-right: 0.5em;
        width: 100% !important;

    }
</style>
<script type="text/x-template" id="bi-pl-specialty-selector">
    <!-- <div class="bs modal fade" id="preparationTargetAdjustmentModal" tabindex="-1" role="dialog" aria-hidden="true"> -->
        <span>
            <!-- REFERENCE TYPE -->
            <div v-if="specialtyField && specialtyField.type==='reference'">
                <vf-lookup
                    sobject="Customer_Attribute_BI__c"
                    fields="Name"
                    :filters="countryFilter"
                    :multiple-selection="multiple"
                    v-model="selectedSpecialty"
                    :styleclass="theme.input"
                >
                </vf-lookup>
            </div>
            <!-- END REFERENCE TYPE -->
            <!-- PICKLIST TYPE - TABLE SELECTOR -->
            <div v-else-if="specialtyField && multiple && specialtyField.type==='picklist'">
                <vf-table
                    :searchable="true"
                    :selectable="true"
                    :columns="columns"                   
                    :items="specialtyValues"
                    unique-key="Name"
                    @items-selected="selectedSpecialty = $event"
                >
                </vf-table>
            </div>
            <!-- END PICKLIST TYPE -->
            <!-- TEXT SELECTOR -->
            <div v-else-if="specialtyField && multiple && specialtyField.type==='string'">
                <div v-for="(specialty, index) in textSpecialties">
                    <div class="vf-specialties-selector-container">
                        <div class="vf-specialties-selector-container-input">
                            <input type="text" class="slds-input slds-m-bottom_xx-small" placeholder="Type specialty" v-model="specialty.label"/>
                            <span class="vf-specialties-selector-clear" v-if="index != textSpecialties.length - 1" @click="clearSpecialty(index)"> 
                                <vf-svg-icon path="utility/clear" size="x-small" />
                            </span> 
                        </div>   
                        <button v-if="index === textSpecialties.length - 1" class="slds-button slds-button_icon slds-button_icon-border-filled" @click="addSpecialty(specialty)">
                            <vf-svg-icon path="utility/add" />
                        </button>
                    </div>
                </div>
            </div>

            <div v-else>
                <vf-input :field="'Account.' + specialtyFieldName" v-model="selectedSpecialty"/>
            </div>
            <!-- END TEXT SELECTOR -->
           <!--  <vf-modal v-if="modalDisplayed" width="60vw" v-on:close="modalDisplayed = false" title="Field force selector">
            	<div slot="body">
	            	 <ul class="nav nav-tabs">
	                    <li role="button" v-bind:class="(selectedTab == 'veeva' ? 'active' : '') ">
	                        <a v-on:click="selectedTab = 'veeva'">Search in Veeva</a>
	                    </li>
	                    <li role="button" v-bind:class="(selectedTab == 'cycle' ? 'active' : '') " >
	                        <a v-on:click="selectedTab = 'cycle'" >Search in cycle</a>
	                    </li>
	                    <li>
	                    	Field {{settings.BI_PL_Specialty_field__c}} ({{specialtyField.type}})
	                    </li>
	                </ul>

	                <div class="tab-content ffselector-content">
	                    <div class="tab-pane active">
	                    	<div v-if="selectedTab === 'cycle'">
	                    		<cycle-hierarchy-selector :multiple-hierarchies="false" :show-hierarchy="false" :show-channel="false" @selection="onSelectionChange" />
	                    	</div>

	                    	<template v-if="selectedTab === 'veeva' || (selectedTab === 'cycle' && filterSelection)">
				                <vf-table 
				                    :columns="columns"
				                    :items="availableSpecialties"
				                    :selectable="true"
				                    :searchable="true"
				                    :exportable="false"
				                    :hidable="false"
				                    @items-selected="onSelectFieldForce">
				                </vf-table>
				            </template>
	                       
	                    </div>
	                </div>
	            </div>
            </vf-modal> -->

            <!-- <input :class="theme.input" v-model="inputValue"  :disabled="disabled" />
            <button :class="theme.button.neutral" @click="modalDisplayed = true" :disabled="disabled">
            	<vf-svg-icon path="utility/search" /> *** Search specialties
            </button> -->
            
            <!--si tipo campo != reference && no muplite -->
            <!--<vf-input :field="'Account.' + specialtyFieldName" v-model="selectedSpecialty"/>-->

            <!--si  reference y mutiple -->
            <!--
            <vf-lookup   
                        :multiple-selection="true"
                            sobject="RecordType" 
                            fields="Name, DeveloperName, Description"
                            remote-source="BI_COMMON_VueForceController.getRecordTypes"
                            :remote-params="[objectName]"
                            v-model="selectedRecordType"
                            :query-on-create="true"
                            :styleclass="theme.input"
                            :buttonstyleclass="theme.button.primary"></vf-lookup>
        -->
        </span>
    </script>
    <script>

        //Usage
        // <bi-pl-specialty-selector v-bind:disabled="layout.mode == 'detail'" v-model="mydata" @input="mydata = $event" :value="mydata"  />
        // <bi-pl-specialty-selector v-bind:disabled="layout.mode == 'detail'" v-model="mydata" @input="mydata = $event" />
        // 
        var specialtySelector = Vue.component('bi-pl-specialty-selector', {
            template : '#bi-pl-specialty-selector',
            props : {
                /**
                 * v-model prop
                 */
                 value : [String, Array],

                /**
                 * Whether input should be disabled or not
                 */
                 disabled : {type : Boolean, default : false},

                /**
                 * Whether component should accept multiple output or not
                 */
                 multiple : {type : Boolean, default : false},

                /**
                 * Cycle Hierarchy filters
                 */
                filterSelection : null,
             },

             mixins : [],

             data : function(){
                return {     
                    /**
                     * ingle selected specialty
                     */
                     selectedSpecialty : null,  

                    /**
                     * Selected specialties if multiple
                     */
                     selectedSpecialties : null,  

                    /**
                     * Inner input text
                     */
                     inputValue : '', 

                    /**
                     * Modal toggler
                     */
                     modalDisplayed : false,


                    /**
                     * List of avilable specialties
                     */
                     availableSpecialties : [],

                    /**
                     * Modal tab
                     */
                    selectedTab : 'cycle',//veeva, cycle

                    /**
                     * Cycle-hierarchy selection
                     */
                    //filterSelection : null,

                    /**
                    * Text selector datas
                    */
                    textSpecialties: [
                        {label: ''}
                    ]

                }
             },
             watch : {
               selectedTab : function(nv) {
            		// this.availableSpecialties = [];
            		this.retrieveAvailableSpecialties(nv);
            	},

            	inputValue : {
            		handler : function(nv) {
            			if(nv && nv !== this.value) this.$emit('input', nv);
            		},
            		deep : true
            	},

                selectedSpecialty : {
                    handler : function(nv) {


                        //if is multiple,....
                        if(nv && nv !== this.value) {
                            var specs = [];
                            if(_.isArray(nv)) {
                                nv.forEach(function(v){
                                    specs.push(v.Name);
                                });

                                this.$emit('input', specs);
                            } else if(_.isObject(nv)){
                                this.$emit('input', nv.Name);
                            } else {
                                this.$emit('input', nv);

                            }
                        }
                    },
                    deep : true
                },

                textSpecialtiesLabels : {
                    handler : function(nv) {
                        if(nv && nv !== this.value) this.$emit('input', nv);
                    },
                    deep : true  
                }

            },
            computed : {
            	settings : function() {
            		return this.$store.getters.getSettings;
            	},

            	theme : function() {
            		return this.$store.getters.getTheme;
            	},
            	schema : function() {
            		return this.$store.getters.getSchema;
            	},
            	user : function() {
            		return this.$store.getters.getUser;
            	},
                columns : function() {
                    return [{label : 'Name', field : 'Name', hidden : false}];
                },
            	// columns : function(){
            	// 	if(this.selectedTab === 'veeva') {
            	// 		return [
            	// 			{label : 'Name', field : 'Name', hidden : false},
            	// 			{label : 'Id', field : 'Id', hidden : false}
            	// 		]
            	// 	} else if(this.selectedTab === 'cycle') {
            	// 		return [
            	// 			{label : 'Name', field : 'Name', hidden : false}
            	// 		]
            	// 	}
            	// }, 

            	specialtyField : function() {
                    if(this.settings.BI_PL_Specialty_field__c.indexOf(".")!='-1'){
                        return  this.$store.getters.getSchemaFor('Account',this.settings.BI_PL_Specialty_field__c.substring(0, this.settings.BI_PL_Specialty_field__c.indexOf(".")-1) + 'c');
                    }else{
                        return this.$store.getters.getSchemaFor('Account', this.settings.BI_PL_Specialty_field__c);
                    }
            	},

                specialtyFieldName : function() {
                    if(this.settings.BI_PL_Specialty_field__c.indexOf(".")!='-1'){
                        return this.settings.BI_PL_Specialty_field__c.substring(0, this.settings.BI_PL_Specialty_field__c.indexOf(".")-1) + 'c';
                    }else{
                        return this.settings.BI_PL_Specialty_field__c;
                    }
                    
                },

                textSpecialtiesLabels : function() {
                    return _.map(this.textSpecialties, 'label');
                },

                specialtyValues : function() {
                    var self = this;
                    var values = [];

                    if(this.schema && this.schema.account) {
                        var fieldDesc = _.find(this.schema.account.fields, function(v) { 
                            return v.name === self.specialtyFieldName;
                        });

                        if(fieldDesc){
                            fieldDesc.picklistValues.forEach(function(plv) {
                                if(plv.active === true) {
                                    values.push({Name : plv.value})
                                }
                            });
                        }
                    }

                    return values;
                },

                countryFilter : function() {
                    var cc = this.settings.BI_PL_Country_code__c;
                    var countryCodeFilter = "Country_Code_BI__c = '"+cc+"' AND ";
                    if(this.specialtyFieldName === 'Specialty_BI__c'){
                        return countryCodeFilter + " (Type_BI__c = 'ACCT_Specialty' OR OK_Type_Code_BI__c = 'SP') ";
                    }else if(this.specialtyFieldName === 'BI_Specialty_BI__c')
                        return countryCodeFilter + "Type_BI__c = 'ACCT_BI Specialty'";
                    return '';
                }
                
            },
            created : function() {
            	this.$store.dispatch('getSchemaDefinition', 'Account');
            },

            mounted : function(){
            	this.inputValue = this.value;
            },
            beforeDestroy : function(){

            },

            methods : {
            	retrieveAvailableSpecialties : function() {
            		var self = this;
            		this.availableSpecialties = [];
            		if(this.filterSelection)
                       BI_PL_RemotingServiceExt.getSpecialtyList(null, this.filterSelection.cycle.Id, this.filterSelection.hierarchy, function(r, e) {
                        _.each(r, function(specialty){
                          self.availableSpecialties.push({Name : specialty});
                      })
                    });

               },
               onSelectFieldForce : function(payload) {
                    if(payload != null &&payload.length > 0){
                        var val = payload[0].Name;
                        this.selectedSpecialty = payload[0];
                        this.inputValue = val;
                        this.modalDisplayed = false
                    }
                },
                onSelectionChange : function(payload) {
                    this.filterSelection = payload;
                    this.retrieveAvailableSpecialties();
                },
                addSpecialty : function(specialty){
                    if(specialty.label!=='')
                        this.textSpecialties.push({label:''});
                },
                clearSpecialty : function(index){
                    this.textSpecialties.splice(index, 1);
                }
      }
});

</script>
<style>
.ffselector-content {
  padding-top: 1em;
}
</style>
</apex:component>