<apex:component controller="BI_PL_DashboardsCtrl">

    <style>
    </style>

    
    <script type="text/x-template" id="bi-pl-channel-detail-charts">
    	<div id="planitDashboard">
                
                <vf-modal id="approveAll_modal" title="{!$Label.BI_PL_Dash_Approve}" v-if="modalApprove" @close="modalApprove = false" width="50vw">
                    <div slot="body"> {!$Label.BI_PL_Dash_confirm_approve_all}</div>
                    <div slot="footer">
                        <button :class="theme.button.neutral" @click="approveAll_modal">{!$Label.Common_CancelButton_vod} </button>
                        <button :class="theme.button.primary" @click="approveAll" :disabled="!allDataReady || batchExecuting" v-if="permissions.isDS || permissions.isSysAdmin"> {!$Label.BI_PL_Dash_Approve} </button>
                        
                    </div>
                </vf-modal>
                
                <vf-modal id="approveAllAdjustments_modal" title="{!$Label.BI_PL_Dash_Approve_all_adj}" v-if="modalApproveAllAdj" @close="modalApproveAllAdj = false" width="50vw">
                    <div slot="body"> {!$Label.BI_PL_Dash_confirm_approve_all_adjustments}</div>
                    <div slot="footer">
                        <button :class="theme.button.neutral" @click="approveAllAdjustments_modal">{!$Label.Common_CancelButton_vod} </button>
                        <button :class="theme.button.primary" @click="approveAllAdjustments" :disabled="!allDataReady || batchExecuting" v-if="permissions.isDS"> {!$Label.BI_PL_Dash_Approve_all_adj} </button>
                        
                    </div>
                </vf-modal>
                 
                <vf-modal id="reopenAll_modal" title="{!$Label.BI_PL_Dash_Reopen}" v-if="modalReopen" @close="modalReopen = false" width="50vw">
                    <div slot="body"> {!$Label.BI_PL_Dash_confirm_action}</div>
                    <div slot="footer">
                        <button :class="theme.button.neutral" @click="reopenAll_modal">{!$Label.Common_CancelButton_vod} </button>
                        <button :class="theme.button.primary" @click="reopenAll" :disabled="!allDataReady || batchExecuting" v-if="permissions.isDS || permissions.isSysAdmin"> {!$Label.BI_PL_Dash_Reopen} </button>
                    </div>
                </vf-modal>

                <div  >
                    <div class="container-fluid">
                        
                        <div class="panel panel-default" v-if="showBatchLoader">
                            <div class="panel-body">
                                <vf-batch-status-poller 
                                    :batch-ids="batchIds"
                                    @batch-completed="onBatchCompleted" />
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading text-center">
                                <button :class="theme.button.success" @click="executeDashboard" :disabled="selectedCycle == '' || selectedHierarchy == ''">{!$Label.BI_PL_Dash_execute} </button>
                                <button :class="theme.button.neutral" @click="showTables = !showTables" :disabled="selectedCycle == '' || selectedHierarchy == '' || !allDataReady">{!$Label.BI_PL_Dash_toggle_tables} </button>
                                <template v-if="showActions">
	                                <button :class="theme.button.primary" @click="reopenAll_modal" :disabled="!allDataReady || batchExecuting" v-if="permissions.isDS"> {!$Label.BI_PL_Dash_Reopen} </button>
	                                <button :class="theme.button.primary" @click="approveAll_modal" :disabled="!allDataReady || batchExecuting" v-if="permissions.isDS"> {!$Label.BI_PL_Dash_Approve}</button>
	                                <button :class="theme.button.primary" @click="approveAllAdjustments_modal" :disabled="!allDataReady || batchExecuting" v-if="permissions.isDS"> {!$Label.BI_PL_Dash_Approve_all_adj} </button>
                                </template>
                            </div>
                            <div class="panel-body" :class="theme.grid.container">
                              <!--   <div class="row form-inline" v-if="showFilters">
                                    <div :class="theme.grid.md2" v-if="permissions.isAdmin || permissions.isRB || permissions.isDS ">
                                        <label> {!$Objecttype.BI_PL_Cycle__c.fields.BI_PL_Country_code__c.label} </label>
                                        <select v-model="selectedCountry" class="form-control">
                                            <option v-for="country in countriesList" :value="country">{{country}}</option>
                                        </select>
                                    </div>
                                    <div :class="theme.grid.md4">
                                        <label> {!$Label.BI_SAP_DM_Cycle} </label>
                                        <select v-model="selectedCycle" class="form-control">
                                            <option v-for="cycle in cyclesList" :value="cycle">
                                                {{cycle.Name}} ({{formatDate(cycle.BI_PL_Start_date__c)}} | {{formatDate(cycle.BI_PL_End_date__c)}})</option>
                                        </select>
                                    </div>
                                    <div :class="theme.grid.md3">
                                        <label> {!$Objecttype.BI_PL_Position_Cycle__c.fields.BI_PL_Hierarchy__c.label} </label>
                                        <select v-model="selectedHierarchy" class="form-control" :disabled="hierarchyList.length == 0">
                                            <option v-for="hierarchy in hierarchyList" :value="hierarchy">{{hierarchy}}</option>
                                        </select>
                                    </div>
                                    <div :class="theme.grid.md3">
                                        <label> {!$Objecttype.BI_PL_preparation__c.fields.BI_PL_Position_name__c.label}</label>
                                        <select v-model="selectedTerritory" class="form-control" :disabled="immediateNodes.length == 0">
                                            <option :value="">{!$Label.BI_PL_All_Label}</option>
                                           <option v-for="node in immediateNodes" :value="node.positionId">{{node.positionName}}</option>
                                        </select>
                                    </div>
                                </div> -->
                                <div class="row slds-text-align_center text-center" v-if="dashboardLoading">
                                    <!-- <div id="spinner" >
                                        <div class="loader"></div>
                                    </div> -->

                                    <vf-spinner size="large"  />
                                </div>

                                <div class="dashboardRow" :class="theme.grid.row + ' ' + theme.grid.md12" v-if="!dashboardLoading && allDataReady">
                                    <div :class="theme.grid.md6">
                                        <div class="panel panel-default">
                                            <div class="panel-body" style="position: relative; height: 400px">
                                                <chart-bar  title="{!$Label.BI_PL_Dash_interactions_specialty_title}" description="{!$Label.BI_PL_Dash_interactions_specialty_desc}" :labels="bySpecialty_targetPlannedVsAdjusted.labels" :chart-data="bySpecialty_targetPlannedVsAdjusted.chartData" :options="pvaChartOpts" ></chart-bar>
                                            </div>
                                        </div>
                                    </div>
                                    <div :class="theme.grid.md6">
                                        <div class="panel panel-default">
                                            <div class="panel-body" style="position: relative; height: 400px">
                                                <chart-bar  title="{!$Label.BI_PL_Dash_planned_vs_adjusted_title}" description="{!$Label.BI_PL_Dash_planned_vs_adjusted_desc}" :labels="bySpecialty_plannedVsAdjusted.labels" :chart-data="bySpecialty_plannedVsAdjusted.chartData" :options="pvaChartOpts" ></chart-bar>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="dashboardRow" :class="theme.grid.row + ' ' + theme.grid.md12" v-if="!dashboardLoading && allDataReady && showTables">
                                    <div :class="theme.grid.md12">
                                        <div class="panel panel-default">
                                            <vf-table :columns="bySpecialtyColumns" :items="Object.values(bySpecialty)" :searchable="false" :hidable="false" />
                                        </div>
                                    </div>
                                </div>

                                
                                

                                <div class="dashboardRow" :class="theme.grid.row + ' ' + theme.grid.md12" v-if="!dashboardLoading && allDataReady">
                                    <div :class="theme.grid.md12">
                                        <div class="panel panel-default">
                                            <div class="panel-body" style="position: relative; height: 400px">
                                                <chart-bar  title="{!$Label.BI_PL_Dash_achievement_vs_allocation_title}" description="" :labels="byTerritory_achievementVSallocation.labels" :chart-data="byTerritory_achievementVSallocation.chartData" :options="pvaChartOpts" ></chart-bar>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="dashboardRow" :class="theme.grid.row + ' ' + theme.grid.md12" v-if="!dashboardLoading && allDataReady">
                                
                                    <div :class="theme.grid.md6">
                                        <div class="panel panel-default">
                                            <div class="panel-body" style="position: relative; height: 400px">
                                                <chart-bar title="{!$Label.BI_PL_Dash_channel_targets_pva_title}" description="{!$Label.BI_PL_Dash_channel_targets_pva_desc}" :labels="byChannel_targetspva.labels" :chart-data="byChannel_targetspva.chartData" :options="pvaChartOpts"></chart-bar>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div :class="theme.grid.md6">
                                        <div class="panel panel-default">
                                            <div class="panel-body" style="position: relative; height: 400px">
                                                <chart-bar title="{!$Label.BI_PL_Dash_channel_pva_title}" description="{!$Label.BI_PL_Dash_channel_pva_desc}" :labels="byChannel_pva.labels" :chart-data="byChannel_pva.chartData" :options="pvaChartOpts"></chart-bar>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                <div class="dashboardRow" :class="theme.grid.row + ' ' + theme.grid.md12" v-if="!dashboardLoading && allDataReady && showTables">
                                    <div :class="theme.grid.md12">
                                        <div class="panel panel-default">
                                            <vf-table :columns="byChannelColumns" :items="Object.values(byChannel)" :searchable="false" :hidable="false" />
                                        </div>
                                    </div>
                                </div>

                                <div class="dashboardRow" :class="theme.grid.row + ' ' + theme.grid.md12" v-if="!dashboardLoading && allDataReady">
                                    <div :class="theme.grid.md12">
                                        <div class="panel panel-default">
                                            <div class="panel-body" style="position: relative; height: 400px">
                                                
                                                <chart-line title="{!$Label.BI_PL_Dash_interactions_territory_title}" description="{!$Label.BI_PL_Dash_interactions_territory_desc}" :labels="byTerritory_pva.labels" :chart-data="byTerritory_pva.chartData" :options="pvaLineChartOpts" ></chart-line>
                                            </div>
                                        </div>
                                    </div>
                                    <div :class="theme.grid.md12">
                                        <div class="panel panel-default">
                                            <div class="panel-body" style="position: relative; height: 400px">
                                                <chart-line title="{!$Label.BI_PL_Dash_targets_title}" description="{!$Label.BI_PL_Dash_targets_desc}" :labels="byTerritory_targets.labels" :chart-data="byTerritory_targets.chartData" :options="pvaLineChartOpts" ></chart-line>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dashboardRow" :class="theme.grid.row + ' ' + theme.grid.md12" v-if="!dashboardLoading && allDataReady && showTables">
                                    <div :class="theme.grid.md12">
                                        <div class="panel panel-default">
                                            <vf-table :columns="byTerritoryColumns" :items="Object.values(byTerritory)" :searchable="false" :hidable="false" />
                                        </div>
                                    </div>
                                </div>
 
                                

                                <div class="dashboardRow" :class="theme.grid.row + ' ' + theme.grid.md12" v-if="!dashboardLoading && allDataReady">
                                    <div :class="theme.grid.md6">
                                        <div class="panel panel-default">
                                            <div class="panel-body" style="position: relative; height: 400px">
                                                <chart-bar  title="{!$Label.BI_PL_Dash_segment_pva_title}" description="{!$Label.BI_PL_Dash_segment_pva_desc}" :labels="bySegment_pva.labels" :chart-data="bySegment_pva.chartData" :options="pvaChartOpts" ></chart-bar>
                                            </div>
                                        </div>
                                    </div>
                                    <div :class="theme.grid.md6">
                                        <div class="panel panel-default">
                                            <div class="panel-body" style="position: relative; height: 400px">
                                                <chart-bar  title="{!$Label.BI_PL_Dash_channel_targets_title}" description="{!$Label.BI_PL_Dash_channel_targets_desc}" :labels="byChannel_targets.labels" :chart-data="byChannel_targets.chartData" :options="pvaChartOpts" ></chart-bar>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="dashboardRow" :class="theme.grid.row + ' ' + theme.grid.md12" v-if="!dashboardLoading && allDataReady && showTables">
                                    <div :class="theme.grid.md12">
                                        <div class="panel panel-default">
                                            <vf-table :columns="bySegmentColumns" :items="Object.values(bySegment)" :searchable="false" :hidable="false" />
                                        </div>
                                    </div>
                                </div>
                                


                            </div>
                            
                        </div>
                    </div>
                </div>
        </div>
    </script>

    <script>
        Vue.component('bi-pl-channel-detail-charts', {
            	template : '#bi-pl-channel-detail-charts',

            	props : {
            		showFilters : { type : Boolean, default : true },
            		showActions : { type : Boolean, default : false },
            		country : { type : String, default : null },
	                cycle : { type : Object, default : null },
	                hierarchy : { type : String, default : null },
	                hierarchies : null,
	                channel : { type : String, default : null },
	                positionId : { type : String, default : null },
            	},
                mounted() {
                    // $("html").css("font-size", '100%');
                    this.getSetupData();
                },
                created() {
                    // $("html").css("font-size", '100%');
                    this.allRecords = [];
                },
                data(){
                    return {
                        //Modals
                        modalApprove : false,
                        modalApproveAllAdj : false,
                        modalReopen : false,

                        //Array of colors to use in charts
                        chartColors : [
                            'rgba(159,225,231,0.4)',
                            'rgba(81,183,73,0.4)',
                            'rgba(251,215,91,0.4)',
                            'rgba(255,184,120,0.4)',
                            'rgba(255,136,124,0.4)',
                            'rgba(220,33,39,0.4)',
                            'rgba(219,173,255,0.4)',
                            'rgba(84,132,237,0.4)',
                            'rgba(164,189,252,0.4)',
                            'rgba(70,214,219,0.4)',
                            'rgba(122,231,191,0.4)',
                            'rgba(225,225,225,0.4)',


                            'rgba(255,0,0,0.4)',
                            'rgba(0,255,0,0.4)',
                            'rgba(0,255,230,0.4)',
                            'rgba(0,0,255,0.4)',
                            'rgba(0,100,255,0.4)',
                            'rgba(253,5,223,0.4)',
                            'rgba(123,5,253,0.4)'
                        ],

                        borderColors : [
                            'rgba(159,225,231,0.7)',
                            'rgba(81,183,73,0.7)',
                            'rgba(251,215,91,0.7)',
                            'rgba(255,184,120,0.7)',
                            'rgba(255,136,124,0.7)',
                            'rgba(220,33,39,0.7)',
                            'rgba(219,173,255,0.7)',
                            'rgba(84,132,237,0.7)',
                            'rgba(164,189,252,0.7)',
                            'rgba(70,214,219,0.7)',
                            'rgba(122,231,191,0.7)',
                            'rgba(225,225,225,0.7)',


                            'rgba(255,0,0,0.7)',
                            'rgba(0,255,0,0.7)',
                            'rgba(0,255,230,0.7)',
                            'rgba(0,0,255,0.7)',
                            'rgba(0,100,255,0.7)',
                            'rgba(253,5,223,0.7)',
                            'rgba(123,5,253,0.7)'
                        ],

                        // permissions : {},
                        businessRules : [],

                        selectedCountry : '',
                        countriesList : [],

                        selectedCycle : '',
                        cyclesList : [],

                        selectedHierarchy : '',
                        hierarchyList : [],

                        selectedTerritory : '{!$Label.BI_PL_All_Label}',
                        territoriesList : [],

                        selectedSpecialty : '',
                        specialtyList : [],

                        segments : [],
                        channels : [],

                        //Flags
                        showTables : false,
                        dashboardLoading : false,
                        allDataReady : false,
                        batchExecuting : false,
                        showBatchLoader : false,

                        //Current batch executed id
                        batchIds : [],

                        // allRecords : [],

                        //Grouped records
                        byTerritory : {},
                        byChannel : {},
                        bySpecialty : {},
                        bySegment : {},
                        byFF : {},

                        //columns
                        bySpecialtyColumns : [
                            { label : '{!$Objecttype.BI_PL_Target_Preparation__c.fields.BI_PL_Specialty__c.label} ', field : 'specialty' },
                            { label : '{!$Objecttype.BI_PL_Detail_Preparation__c.fields.BI_PL_Planned_details__c.label}  ', field : 'planned' },
                            { label : '{!$Objecttype.BI_PL_Detail_Preparation__c.fields.BI_PL_Adjusted_details__c.label}  ', field : 'adjusted' },
                            { label : '{!$Label.BI_SAP_Details_To_Be_Created_VEEVA}', field : 'detailsVeeva' },
                            { label : '∑ {!$Objecttype.BI_PL_Channel_Detail_Preparation__c.fields.BI_PL_Max_planned_interactions__c.label}  ', field : 'maxPlanned' },
                            { label : '∑ {!$Objecttype.BI_PL_Channel_Detail_Preparation__c.fields.BI_PL_Max_adjusted_interactions__c.label}  ', field : 'maxAdjusted' },
                            { label : '{!$Label.BI_SAP_Interactions_To_Be_Created_VEEVA}', field : 'interactionsVeeva' },
                        ],
                        byChannelColumns : [
                            { label : '{!$Objecttype.BI_PL_Channel_detail_preparation__c.fields.BI_PL_Channel__c.label} ', field : 'channel' },
                            { label : '{!$Objecttype.BI_PL_Detail_Preparation__c.fields.BI_PL_Planned_details__c.label}  ', field : 'planned' },
                            { label : '{!$Objecttype.BI_PL_Detail_Preparation__c.fields.BI_PL_Adjusted_details__c.label}  ', field : 'adjusted' },
                            { label : '{!$Label.BI_SAP_Details_To_Be_Created_VEEVA}', field : 'detailsVeeva' },
                            { label : '∑ {!$Objecttype.BI_PL_Channel_Detail_Preparation__c.fields.BI_PL_Max_planned_interactions__c.label}  ', field : 'maxPlanned' },
                            { label : '∑ {!$Objecttype.BI_PL_Channel_Detail_Preparation__c.fields.BI_PL_Max_adjusted_interactions__c.label}  ', field : 'maxAdjusted' },
                            { label : '{!$Label.BI_SAP_Interactions_To_Be_Created_VEEVA}', field : 'interactionsVeeva' },
                        ],

                        byTerritoryColumns : [
                            { label : '{!$Objecttype.BI_PL_preparation__c.fields.BI_PL_Position_name__c.label} ', field : 'position' },
                            { label : '{!$Objecttype.BI_PL_Detail_Preparation__c.fields.BI_PL_Planned_details__c.label}  ', field : 'planned' },
                            { label : '{!$Objecttype.BI_PL_Detail_Preparation__c.fields.BI_PL_Adjusted_details__c.label}  ', field : 'adjusted' },
                            { label : '{!$Label.BI_SAP_Details_To_Be_Created_VEEVA}', field : 'detailsVeeva' },
                            { label : '∑ {!$Objecttype.BI_PL_Channel_Detail_Preparation__c.fields.BI_PL_Max_planned_interactions__c.label}  ', field : 'maxPlanned' },
                            { label : '∑ {!$Objecttype.BI_PL_Channel_Detail_Preparation__c.fields.BI_PL_Max_adjusted_interactions__c.label}  ', field : 'maxAdjusted' },
                            { label : '{!$Label.BI_SAP_Interactions_To_Be_Created_VEEVA}', field : 'interactionsVeeva' },
                        ],
                        bySegmentColumns : [
                            { label : '{!$Objecttype.BI_PL_Detail_Preparation__c.fields.BI_PL_Segment__c.label} ', field : 'segment' },
                            { label : '{!$Objecttype.BI_PL_Detail_Preparation__c.fields.BI_PL_Planned_details__c.label} ', field : 'planned' },
                            { label : '{!$Objecttype.BI_PL_Detail_Preparation__c.fields.BI_PL_Adjusted_details__c.label} ', field : 'adjusted' },
                        ],



                        //paginated grouped
                        paginatedBySpecialty : {},
                        paginatedByChannel : {},
                        paginatedByTerritory : {},
                        paginatedBySegment : {},
                        paginatedByChannelInteractions : {},
                        paginatedBySpecialtyRadar : {},

                        //Charts
                        byTerritory_pva : {},
                        byTerritory_targets : {},
                        byChannel_pva : {},
                        byChannel_targetspva : {},
                        byChannel_targets : {},
                        // byChannel_toVeeva : {},
                        bySpecialty_plannedVsAdjusted : {},
                        bySpecialty_targetPlannedVsAdjusted : {},
                        bySegment_pva : {},
                        // GLOS-329
                        byTerritory_achievementVSallocation : {},
                        // bySegment_adjustedDetails : {},
                        averages : {},
                        hierarchyNodes:{},
                        immediateNodes:{},
                        rootNodeId:'',


                        //Chart options
                        pvaChartOpts : {
                            responsive: true,
                            maintainAspectRatio : false,
                            onResize(a, b) {},
                            scales: {
                                xAxes: [{
                                    gridLines: { 
                                        offsetGridLines: true
                                    }
                                }],
                                yAxes: [{
                                    ticks: {
                                        beginAtZero:true
                                    }
                                }]
                            }
                        },

                        pvaLineChartOpts : {
                            responsive: true,
                            maintainAspectRatio : false,
                            onResize(a, b) {},
                            scales: {
                                xAxes: [{
                                    display: true,
                                }],
                                yAxes: [{
                                    display: true,
                                }]
                            }
                        },

                        

                        //Errors
                        averageErrors : []
                    }
                },
                watch : {
                	country : {
                		immediate : true,
                		handler(nv, ov) { this.selectedCountry = nv }
                	},
                	cycle : {
                		immediate : true,
                		handler(nv, ov) { this.selectedCycle = nv }
                	},
                	hierarchy : {
                		immediate : true,
                		handler(nv, ov) { this.selectedHierarchy = nv }
                	},
                	channel : {
                		immediate : true,
                		handler(nv, ov) { this.selectedChannel = nv }
                	},
                	positionId : {
                		immediate : true,
                		handler(nv, ov) { this.selectedTerritory = nv }
                	},
                    selectedCycle(newValue) {
                    	if(this.showFilters) {
	                        this.selectedTerritory = '{!$Label.BI_PL_All_Label}';
	                        if(newValue != undefined) {
	                            this.getHierarchiesForCycle(newValue.Id);
	                        }
                    	}
                    },
                    selectedHierarchy(newValue) {
                    	if(this.showFilters) {
	                        this.selectedTerritory = '{!$Label.BI_PL_All_Label}';
	                        if(newValue != '') {
	                            this.remoting_getHierarchyNodes(this.selectedCountry, this.selectedCycle.Id, newValue);
	                        }
	                    }
                    },
                    selectedCountry(newValue) {
                    	if(this.showFilters) {
	                        this.selectedTerritory = '{!$Label.BI_PL_All_Label}';
	                        if(newValue != '') {
	                            this.getBusinessRules(newValue);
	                        }
	                    }
                    }
                },
                computed : {
                    groupedBusinessRules() {
                        var grouped = {};
                        for (var i = this.businessRules.length - 1; i >= 0; i--) {
                            var br = this.businessRules[i];

                            if(!grouped[br.BI_PL_Field_force__c]) {
                                grouped[br.BI_PL_Field_force__c] = br;
                            }
                        }

                        return grouped;
                    },
                    theme() { return this.$store.getters.getTheme },
	            	schema() { return this.$store.getters.getSchema },

	            	//Planit
	            	settings() { return this.$store.getters.getSettings },
	            	permissions() { return this.$store.getters.getPermissions},
	            	user() { return this.$store.getters.getUser },
	            	workingCountry() { return this.$store.getters.getWorkingCountry },
                },
                methods : {
                	asArray(obj) {
                		return  Object.values(obj)
                	},
                    getToVeevaAddValue(reviewed, removed, rejected, edited, addedManually, nextbest, noseelist, planned, adjusted){
                        if(reviewed) {
                            if(!removed){
                                if(!rejected && !edited){
                                    return planned;
                                }else{
                                    return adjusted;
                                }
                            }else{
                                return 0;
                            }
                        }else{
                            if(addedManually || nextbest || noseelist){
                                return 0;
                            }else{
                                return planned;
                            }
                        }
                    },
                    /**
                     * Call remote to get all initial data
                     */
                    getSetupData() {
                        var self = this;

                        BI_PL_DashboardsCtrl.getSetupData(function(response){
                            //Map all values
                            self.segments           = response.segments;
                            self.channels           = response.channels;
                            self.countriesList      = response.planitCountries;
                            self.cyclesList         = response.cycles;
                            // self.permissions        = response.permissions;
                            self.selectedCountry    = response.currentUserCountry;

                        }, {escape : false, timeout : 60000})
                    },

                    /**
                     * Call remote action to get hierarchies available for selected cycle
                     *
                     * @param      {String}  cycleId  The cycle identifier
                     */
                    getHierarchiesForCycle(cycleId) {
                        var self = this;
                        BI_PL_DashboardsCtrl.getHierarchiesForCycle(cycleId, function(response){
                            self.hierarchyList = response;
                            if(response.length > 0)
                                self.selectedHierarchy = response[0];
                            else
                                self.selectedHierarchy = '';
                        }, {escape : false, timeout : 60000});

                    },

                    getPositions(cycleId, hierarchyName) {
                        var self = this;
                        
                        if(cycleId && hierarchyName) {
                            BI_PL_DashboardsCtrl.getPositions(cycleId, hierarchyName, function(response){
                                self.territoriesList = response;
                                self.selectedTerritory = '{!$Label.BI_PL_All_Label}';
                            }, {escape : false, timeout : 60000});
                        }

                    },

                    remoting_getHierarchyNodes(countryCode, cycle, hierarchy){
                    var self = this;
                    BI_PL_DashboardsCtrl.getHierarchyNodes(countryCode, cycle, hierarchy, function(response, event) {
                        if(event.statusCode == 200) {

                            self.hierarchyNodes = Object.assign({}, self.hierarchyNodes, response.hierarchy);
                            if(response.rootNodeId){
                                self.rootNodeId = response.rootNodeId;

                            }
                            //Create the hierarchy for current user
                            self.immediateNodes = {};
                            if(self.rootNodeId!="")
                            {
                                var parentNode = self.hierarchyNodes[self.rootNodeId];
                                self.getImmediateNodes(parentNode);
                            }
                                
                            }
                            
                        }, {escape : false, timeout : 60000});
                    },

                    getImmediateNode(node)
                    {
                        if(node && node.childrenIds)
                        {
                            var childrenIds = node.childrenIds;
                            for (var i = childrenIds.length - 1; i >= 0; i--) {
                                var child = childrenIds[i];
                                this.immediateNodes[child] = this.hierarchyNodes[child];

                            }
                        }
                    },

                    getBusinessRules(countryCode) {
                        var self = this;
                        if(countryCode) {
                            BI_PL_DashboardsCtrl.getThresholdBusinessRules(countryCode, function(response){
                                self.businessRules = response;
                            }, {escape : false, timeout : 60000});
                        }
                    },


                    formatDate(sfTimestamp) {
                        if(sfTimestamp) {
                            var dtt = new Date(sfTimestamp);
                            var options = {timeZone : 'UTC'}
                            return dtt.toLocaleDateString(navigator.language, options)
                        } else {
                            return '';
                        }
                    },
                    executeDashboard(){
                        this.allRecords = [];
                        this.dashboardLoading = true;
                        this.getRecords(null);
                    },


                    // buildThresholdChart(byFF) {


                    //     // var chartAverageDataset = { data : [], backgroundColor : this.chartColors, borderColor : this.borderColors }
                    //     var avgWLDataset                = {label : '{!$Label.BI_PL_Dash_average} - {$Objecttype.BI_PL_Preparation__c.fields.BI_PL_Final_workload__c.label}', data : [], backgroundColor : this.chartColors[0], borderColor : this.borderColors[0]};
                    //     var avgAdjustedPlannedDataset   = {label : '{!$Label.BI_PL_Dash_average} - {$Objecttype.BI_PL_Business_rule__c.fields.BI_PL_Percent_a_over_p__c.label}', data : [], backgroundColor : this.chartColors[1], borderColor : this.borderColors[1]};
                    //     var avgVisitsDataset            = {label : '{!$Label.BI_PL_Dash_average} - {$Objecttype.BI_PL_Business_rule__c.fields.BI_PL_Visits_per_day__c.label}', data : [], backgroundColor : this.chartColors[2], borderColor : this.borderColors[2]};
                    //     var brWLDataset                 = {label : '{$Objecttype.BI_PL_Preparation__c.fields.BI_PL_Final_workload__c.label}', data : [], backgroundColor : this.chartColors[3], borderColor : this.borderColors[3]};
                    //     var brAdjustedDataset           = {label : '{$Objecttype.BI_PL_Business_rule__c.fields.BI_PL_Percent_a_over_p__c.label}', data : [], backgroundColor : this.chartColors[4], borderColor : this.borderColors[4]};
                    //     var brVisitsDataset             = {label : '{$Objecttype.BI_PL_Business_rule__c.fields.BI_PL_Visits_per_day__c.label}', data : [], backgroundColor : this.chartColors[5], borderColor : this.borderColors[5]};

                    //     var ffLabels = [];

                    //     var ffs = Object.keys(byFF);
                    //     for (var i = ffs.length - 1; i >= 0; i--) {

                    //         //get BR values for this FF
                    //         let ffkey = ffs[i];
                    //         let ffBr = this.groupedBusinessRules[ffkey] ? this.groupedBusinessRules[ffkey] :  null;

                    //         if(ffBr) {

                    //             ffLabels.push(ffkey);

                    //             //Calculate averages
                    //             let count = 0;
                    //             let avgWL = 0;
                    //             let avgVisits = 0;
                    //             let sumWL = 0;
                    //             let sumAdjusted = 0;
                    //             let sumPlanned = 0;
                    //             let sumMaxPlanned = 0;
                    //             let avgAdjustedPlanned = 0;
                    //             let preps = Object.keys(byFF[ffkey]);
                    //             for (var j = preps.length - 1; j >= 0; j--) {
                    //                 let rec = byFF[ffkey][preps[j]];
                    //                 sumWL += rec.workload;
                    //                 sumAdjusted += rec.adjusted;
                    //                 sumPlanned += rec.planned;
                    //                 sumMaxPlanned += rec.maxPlanned;
                    //                 count++;
                    //             }
                    //             avgWL = sumWL / count;
                    //             avgVisits = sumMaxPlanned / count;
                    //             avgAdjustedPlanned = (sumAdjusted / sumPlanned) * 100;

                    //             //Add data to dataets
                    //             avgWLDataset.data.push(avgWL);
                    //             avgVisitsDataset.data.push(avgVisits);
                    //             avgAdjustedPlannedDataset.data.push(avgAdjustedPlanned);
                    //             brWLDataset.data.push(ffBr.BI_PL_Percent_workload__c);
                    //             brAdjustedDataset.data.push(ffBr.BI_PL_Percent_a_over_p__c);
                    //             brVisitsDataset.data.push(ffBr.BI_PL_Visits_per_day__c);

                    //         } else {
                    //             //No Threshold business rules for the field force.
                    //             //Add error
                    //             this.averageErrors.push('There are not threshold Business Rules defined in the country for Field Force ' + ffkey);
                    //         }
                    //     }


                    //     this.averages = {labels : ffLabels, chartData : [avgWLDataset, brWLDataset, avgAdjustedPlannedDataset, brAdjustedDataset, avgVisitsDataset, brVisitsDataset]};

                    // },

                    groupData() {

                            // this.byTerritory = {};
                            // this.byChannel = {};
                            // this.bySpecialty = {};
                            // this.bySegment = {};
                            // this.byFF = {};
                            console.time('@@BIPLChannelDetailsCharts groupData');
                            let byTerritory = {};
                            let byChannel = {};
                            let bySpecialty = {};
                            let bySegment = {};
                            let byFF = {};


                            // Used to find the number of preparations by territory:
                            var preparationsByTerritory = {};
                            var channelsByTerritory = {};
                            // var recs = JSON.parse(JSON.stringify(this.allRecords));
                            console.time('@@BIPLChannelDetailsCharts groupData -> firstIteration');
                            for (var i = this.allRecords.length - 1; i >= 0; i--) {
                                let entry = this.allRecords[i];


                                //To copy without watchers
                                let gr = {
                                    targetName          : entry.BI_PL_Target__r.BI_PL_Target_customer__r.Name,
                                    channel             : entry.BI_PL_Channel__c,
                                    planned             : (entry.BI_PL_Sum_planned_interactions__c) ? entry.BI_PL_Sum_planned_interactions__c : 0,
                                    adjusted            : (entry.BI_PL_Sum_adjusted_interactions__c) ? entry.BI_PL_Sum_adjusted_interactions__c : 0,
                                    maxAdjusted         : (entry.BI_PL_Max_adjusted_interactions__c) ? entry.BI_PL_Max_adjusted_interactions__c : 0,
                                    maxPlanned          : (entry.BI_PL_Max_planned_interactions__c) ? entry.BI_PL_Max_planned_interactions__c : 0,
                                    edited              : entry.BI_PL_Edited__c,
                                    reviewed            : entry.BI_PL_Reviewed__c,
                                    target              : entry.BI_PL_Target__r.Id,
                                    added               : entry.BI_PL_Target__r.BI_PL_Added_manually__c,
                                    nextbest            : entry.BI_PL_Target__r.BI_PL_Next_best_account__c,
                                    noseelist           : entry.BI_PL_Target__r.BI_PL_No_see_list__c,
                                    deleted             : entry.BI_PL_Removed__c,
                                    specialty           : entry.BI_PL_Target__r.BI_PL_Specialty__c,
                                    preparation         : entry.BI_PL_Target__r.BI_PL_Header__c,
                                    position            : entry.BI_PL_Target__r.BI_PL_Header__r.BI_PL_Position_name__c,
                                    fieldForce          : entry.BI_PL_Target__r.BI_PL_Header__r.BI_PL_Field_force__c,
                                    workload            : entry.BI_PL_Target__r.BI_PL_Header__r.BI_PL_Final_workload__c,
                                    details             : entry.BI_PL_Details_Preparation__r,
                                    interactionsVeeva   : 0,
                                    detailsVeeva        : 0,
                                    totalCapacity       : entry.BI_PL_Target__r.BI_PL_Header__r.BI_PL_Total_capacity__c,
                                    rejected            : false
                                };


                                /*
                                 * GROUP BY FIELD FORCE
                                 */
                                if(byFF[gr.fieldForce]) {
                                    if(byFF[gr.fieldForce][gr.preparation]) {
                                        if(!gr.added && !gr.nextbest && !gr.noseelist){
                                            byFF[gr.fieldForce][gr.preparation].planned += gr.planned;
                                        }
                                        if((gr.added && gr.nextbest && !gr.deleted) || (!gr.deleted && !gr.nextbest && !gr.noseelist)){
                                            byFF[gr.fieldForce][gr.preparation].adjusted += gr.adjusted;
                                        }
                                    }else {
                                        byFF[gr.fieldForce][gr.preparation] = gr;
                                    }
                                } else {
                                    byFF[gr.fieldForce] = {};
                                    byFF[gr.fieldForce][gr.preparation] = gr;
                                }
                                /*
                                 * GROUP BY SEGMENT
                                 */
                                if(gr.details) {
                                    for(var j = 0; j < gr.details.length; j++) {
                                        let detail = gr.details[j];

                                        if(bySegment[detail.BI_PL_Segment__c]) {
                                            if(!gr.added && !gr.nextbest && !gr.noseelist){
                                                bySegment[detail.BI_PL_Segment__c].planned += detail.BI_PL_Planned_details__c;
                                            }    
                                            if((gr.added && gr.nextbest && !gr.deleted) || (!gr.deleted && !gr.nextbest && !gr.noseelist)){
                                                bySegment[detail.BI_PL_Segment__c].adjusted += detail.BI_PL_Adjusted_details__c;
                                            }
                                        } else {
                                            bySegment[detail.BI_PL_Segment__c] = {
                                                planned : detail.BI_PL_Planned_details__c,
                                                adjusted : detail.BI_PL_Adjusted_details__c,
                                                segment : detail.BI_PL_Segment__c
                                            };
                                        }
                                    }
                                }

                                /*
                                 * GROUP BY TERRITORY
                                 */


                                if(byTerritory[gr.position]) {
                                    //GLOS 667 - Not has been added (initial targets)
                                    if(!gr.added && !gr.nextbest && !gr.noseelist){
                                        byTerritory[gr.position].planned += gr.planned;
                                        byTerritory[gr.position].maxPlanned += gr.maxPlanned;
                                        byTerritory[gr.position].targets.add(gr.target);
                                    }
                                    //GLOS 667 - All targets, added and initial except removed, noseelist and nextbest (that not added manually)
                                    if((gr.added && gr.nextbest && !gr.deleted) || (!gr.deleted && !gr.nextbest && !gr.noseelist)) {
                                        byTerritory[gr.position].adjusted += gr.adjusted;
                                        byTerritory[gr.position].maxAdjusted += gr.maxAdjusted;
                                        byTerritory[gr.position].adjustedTargets.add(gr.target);
                                    }       
                                    
                                    /*if(gr.reviewed) {
                                        byTerritory[gr.position].interactionsVeeva += gr.maxAdjusted;
                                        byTerritory[gr.position].detailsVeeva += gr.adjusted;
                                    } else if(!gr.edited && !gr.removed) {
                                        byTerritory[gr.position].detailsVeeva += gr.planned;
                                        byTerritory[gr.position].interactionsVeeva += gr.maxPlanned;
                                    }*/
                                } else {
                                    byTerritory[gr.position] = gr;
                                    byTerritory[gr.position].targets = new Set();
                                    // byTerritory[gr.position].targets.add(gr.target);
                                    byTerritory[gr.position].adjustedTargets = new Set();
                                
                                    // GLOS-329
                                    byTerritory[gr.position].achievement = 0;
                                    byTerritory[gr.position].totalCapacity = 0;

                                    //Not has been added (initial targets)
                                    if(!gr.added && !gr.nextbest && !gr.noseelist){
                                        byTerritory[gr.position].targets.add(gr.target);
                                    }

                                    //All targets, added or not except removed ones
                                    if((gr.added && gr.nextbest && !gr.deleted) || (!gr.deleted && !gr.nextbest && !gr.noseelist)) {
                                        byTerritory[gr.position].adjustedTargets.add(gr.target);
                                    }

                                    //Check details (to create in veeva)
                                    byTerritory[gr.position].interactionsVeeva = 0;
                                    byTerritory[gr.position].detailsVeeva = 0;

                                    /*if(gr.reviewed) {
                                        byTerritory[gr.position].interactionsVeeva += gr.maxAdjusted;
                                        byTerritory[gr.position].detailsVeeva += gr.adjusted;
                                    } else if(!gr.edited && !gr.removed) {
                                        byTerritory[gr.position].detailsVeeva += gr.planned;
                                        byTerritory[gr.position].interactionsVeeva += gr.maxPlanned;
                                    }*/

                                }

                                // GLOS-329
                                if(!preparationsByTerritory[gr.position])
                                    preparationsByTerritory[gr.position] = [];
                                
                                if(!preparationsByTerritory[gr.position][gr.preparation])
                                    byTerritory[gr.position].totalCapacity += gr.totalCapacity;

                                preparationsByTerritory[gr.position][gr.preparation] = true;

                                if(!channelsByTerritory[gr.position])
                                    channelsByTerritory[gr.position] = [];
                                
                                channelsByTerritory[gr.position][gr.channel] = true;


                                /*
                                 * GROUP BY CHANNEL
                                 */
                                if(byChannel[gr.channel]) {
                                    //GLOS 667 - Not has been added (initial targets)
                                    if(!gr.added && !gr.nextbest && !gr.noseelist){
                                        byChannel[gr.channel].planned += gr.planned;
                                        byChannel[gr.channel].maxPlanned += gr.maxPlanned;
                                        byChannel[gr.channel].targets.add(gr.target);
                                    }

                                    //GLOS 667 - All targets, added or not except removed ones
                                    if((gr.added && gr.nextbest && !gr.deleted) || (!gr.deleted && !gr.nextbest && !gr.noseelist)) {
                                        byChannel[gr.channel].adjusted += gr.adjusted;
                                        byChannel[gr.channel].maxAdjusted += gr.maxAdjusted;
                                        byChannel[gr.channel].adjustedTargets.add(gr.target);
                                    }

                                    //Check details (to create in veeva)

                                    /*if(gr.reviewed) {
                                        byChannel[gr.channel].interactionsVeeva += gr.maxAdjusted;
                                        byChannel[gr.channel].detailsVeeva += gr.adjusted;
                                    } else if(!gr.edited && !gr.removed) {
                                        byChannel[gr.channel].detailsVeeva += gr.planned;
                                        byChannel[gr.channel].interactionsVeeva += gr.maxPlanned;
                                    }*/

                                } else {
                                    byChannel[gr.channel] = gr;
                                    byChannel[gr.channel].targets = new Set();
                                    // byChannel[gr.channel].targets.add(gr.target);
                                    byChannel[gr.channel].adjustedTargets = new Set();

                                    //GLOS 667 - Not has been added (initial targets)
                                    if(!gr.added && !gr.nextbest && !gr.noseelist){
                                        byChannel[gr.channel].targets.add(gr.target);
                                    }

                                    //GLOS 667 - All targets, added or not except removed ones
                                    if((gr.added && gr.nextbest && !gr.deleted) || (!gr.deleted && !gr.nextbest && !gr.noseelist)) {
                                        byChannel[gr.channel].adjustedTargets.add(gr.target);
                                    }
                                    //Check details (to create in veeva)
                                    byChannel[gr.channel].interactionsVeeva = 0;
                                    byChannel[gr.channel].detailsVeeva = 0;
                                    /*
                                    if(gr.reviewed) {
                                        byChannel[gr.channel].interactionsVeeva += gr.maxAdjusted;
                                        byChannel[gr.channel].detailsVeeva += gr.adjusted;
                                    } else if(!gr.edited && !gr.removed) {
                                        byChannel[gr.channel].detailsVeeva += gr.planned;
                                        byChannel[gr.channel].interactionsVeeva += gr.maxPlanned;
                                    }*/
                                }

                                /*
                                 * GROUP BY SPECIALTY
                                 */
                                if(bySpecialty[gr.specialty]) {
                                    if(!gr.added && !gr.nextbest && !gr.noseelist){
                                        bySpecialty[gr.specialty].planned += gr.planned;
                                        bySpecialty[gr.specialty].maxPlanned += gr.maxPlanned;
                                    }
                                    if((gr.added && gr.nextbest && !gr.deleted) || (!gr.deleted && !gr.nextbest && !gr.noseelist)) {
                                        bySpecialty[gr.specialty].adjusted += gr.adjusted;
                                        bySpecialty[gr.specialty].maxAdjusted += gr.maxAdjusted;
                                    }

                                    //Check details (to create in veeva)

                                    /*if(gr.reviewed) {
                                        bySpecialty[gr.specialty].interactionsVeeva += gr.maxAdjusted;
                                        bySpecialty[gr.specialty].detailsVeeva += gr.adjusted;
                                    } else if(!gr.edited && !gr.removed) {
                                        bySpecialty[gr.specialty].detailsVeeva += gr.planned;
                                        bySpecialty[gr.specialty].interactionsVeeva += gr.maxPlanned;
                                    }*/
                                } else {
                                    bySpecialty[gr.specialty] = gr;
                                    //Check details (to create in veeva)

                                    //Check details (to create in veeva)
                                    bySpecialty[gr.specialty].interactionsVeeva = 0;
                                    bySpecialty[gr.specialty].detailsVeeva = 0;
                                    /*if(gr.reviewed) {
                                        bySpecialty[gr.specialty].interactionsVeeva += gr.maxAdjusted;
                                        bySpecialty[gr.specialty].detailsVeeva += gr.adjusted;
                                    } else if(!gr.edited && !gr.removed) {
                                        bySpecialty[gr.specialty].detailsVeeva += gr.planned;
                                        bySpecialty[gr.specialty].interactionsVeeva += gr.maxPlanned;
                                    }*/
                                }

                                var theKey = gr.preparation + gr.target;
                                //Check details (to create in veeva)
                                var toAddMax = this.getToVeevaAddValue(gr.reviewed, gr.deleted, gr.rejected, gr.edited, gr.added, gr.nextbest, gr.noseelist, gr.maxPlanned, gr.maxAdjusted);
                                byTerritory[gr.position].interactionsVeeva += toAddMax;
                                bySpecialty[gr.specialty].interactionsVeeva += toAddMax;
                                byChannel[gr.channel].interactionsVeeva += toAddMax;

                                var toAdd = this.getToVeevaAddValue(gr.reviewed, gr.deleted, gr.rejected, gr.edited, gr.added, gr.nextbest, gr.noseelist, gr.planned, gr.adjusted)
                                byTerritory[gr.position].detailsVeeva += toAdd;
                                bySpecialty[gr.specialty].detailsVeeva += toAdd;
                                byChannel[gr.channel].detailsVeeva += toAdd;

                            }
                            console.timeEnd('@@BIPLChannelDetailsCharts groupData -> firstIteration');


                            console.time('@@BIPLChannelDetailsCharts groupData -> chart data composition');

                            //Averages

                            // buildThresholdChart(this.byFF);

                            //BY territory datasets
                            let territoryLabels = [];
                            let byTerritory_ds_sumP = { 
                                label : '{!$Objecttype.BI_PL_Detail_Preparation__c.fields.BI_PL_Planned_details__c.label}', 
                                fill: false,
                                data : [],
                                backgroundColor : this.chartColors[1],
                                borderColor : this.borderColors[1] 
                            }
                            let byTerritory_ds_sumA = { 
                                label : '{!$Objecttype.BI_PL_Detail_Preparation__c.fields.BI_PL_Adjusted_details__c.label}', 
                                fill: false,
                                data : [],
                                backgroundColor : this.chartColors[2],
                                borderColor : this.borderColors[2] 
                            }
                            let byTerritory_ds_sumMaxA = { 
                                label : '∑ {!$Objecttype.BI_PL_Channel_Detail_Preparation__c.fields.BI_PL_Max_adjusted_interactions__c.label}', 
                                fill: false,
                                data : [],
                                backgroundColor : this.chartColors[3],
                                borderColor : this.borderColors[3] 
                            }
                            let byTerritory_ds_sumMaxP = { 
                                label : '∑ {!$Objecttype.BI_PL_Channel_Detail_Preparation__c.fields.BI_PL_Max_planned_interactions__c.label}', 
                                fill: false,
                                data : [],
                                backgroundColor : this.chartColors[4],
                                borderColor : this.borderColors[4] 
                            }
                            
                            let byTerritory_ds_int_veeva = { 
                                label : '{!$Label.BI_SAP_Interactions_To_Be_Created_VEEVA}', 
                                fill: false,
                                data : [],
                                backgroundColor : this.chartColors[8],
                                borderColor : this.borderColors[8] 
                            }
                            let byTerritory_ds_details_veeva = { 
                                label : '{!$Label.BI_SAP_Details_To_Be_Created_VEEVA}', 
                                fill: false,
                                data : [],
                                backgroundColor : this.chartColors[9],
                                borderColor : this.borderColors[9] 
                            }

                            let byTerritory_ds_targets = { 
                                label : '{!$Label.BI_PL_Dash_Planned_targets}', 
                                fill: false,
                                data : [],
                                backgroundColor : this.chartColors[5],
                                borderColor : this.borderColors[5] 
                            }
                            let byTerritory_ds_adjustedTargets = { 
                                label : '{!$Label.BI_PL_Dash_Adjusted_targets}', 
                                fill: false,
                                data : [],
                                backgroundColor : this.chartColors[7],
                                borderColor : this.borderColors[7] 
                            }
                            // GLOS-329
                            let byTerritory_ds_adjustedCapacity = { 
                                label : '{!$Objecttype.BI_PL_Preparation__c.fields.BI_PL_Final_adjusted_capacity__c.label}', 
                                fill: false,
                                data : [],
                                backgroundColor : this.chartColors[8],
                                borderColor : this.borderColors[8] 
                            }
                            let byTerritory_ds_achievement = { 
                                label : '{!$Label.BI_PL_Achievement_perc}', 
                                fill: false,
                                data : [],
                                backgroundColor : this.chartColors[9],
                                borderColor : this.borderColors[9] 
                            }
                            let byTerritory_ds_allocation = { 
                                label : '{!$Label.BI_PL_Percent_allocation_approved}', 
                                fill: false,
                                data : [],
                                backgroundColor : this.chartColors[10],
                                borderColor : this.borderColors[10] 
                            }


                            //BY segment datasets
                            let segmentLabels = [];
                            let bySegment_ds_sumP = { 
                                label : '{!$Objecttype.BI_PL_Detail_Preparation__c.fields.BI_PL_Planned_details__c.label}',
                                data : [],
                                backgroundColor : this.chartColors[1],
                                borderColor : this.borderColors[1]
                            }
                            let bySegment_ds_sumA = { 
                                label:  '{!$Objecttype.BI_PL_Detail_Preparation__c.fields.BI_PL_Adjusted_details__c.label}',
                                data : [],
                                backgroundColor : this.chartColors[9],
                                borderColor : this.borderColors[9]
                            }

                            //by channel datasets
                            let channelLabels = [];
                            let byChannel_ds_sumP = { 
                                label : '{!$Objecttype.BI_PL_Detail_Preparation__c.fields.BI_PL_Planned_details__c.label}',
                                data : [],
                                backgroundColor : this.chartColors[0],
                                borderColor : this.borderColors[0]
                            }
                            let byChannel_ds_sumA = { 
                                label : '{!$Objecttype.BI_PL_Detail_Preparation__c.fields.BI_PL_Adjusted_details__c.label}',
                                data : [],
                                backgroundColor : this.chartColors[1],
                                borderColor : this.borderColors[1]
                            }
                            let byChannel_ds_sumMaxP = { 
                                label : '∑ {!$Objecttype.BI_PL_Channel_Detail_Preparation__c.fields.BI_PL_Max_planned_interactions__c.label}',
                                data : [],
                                backgroundColor : this.chartColors[0],
                                borderColor : this.borderColors[0]
                            }
                            let byChannel_ds_sumMaxA = { 
                                label : '∑ {!$Objecttype.BI_PL_Channel_Detail_Preparation__c.fields.BI_PL_Max_adjusted_interactions__c.label}',
                                data : [],
                                backgroundColor : this.chartColors[1],
                                borderColor : this.borderColors[1]
                            }
                            let byChannel_ds_int_veeva = { 
                                label : '{!$Label.BI_SAP_Interactions_To_Be_Created_VEEVA}',
                                data : [],
                                backgroundColor : this.chartColors[5],
                                borderColor : this.borderColors[5]
                            }

                            let byChannel_ds_details_veeva = { 
                                label : '{!$Label.BI_SAP_Details_To_Be_Created_VEEVA}',
                                data : [],
                                backgroundColor : this.chartColors[8],
                                borderColor : this.borderColors[8]
                            }
                            let byChannel_ds_targets = { 
                                label : '{!$Label.BI_PL_Dash_Planned_targets}', 
                                fill: false,
                                data : [],
                                backgroundColor : this.chartColors[5],
                                borderColor : this.borderColors[5] 
                            }
                            let byChannel_ds_adjustedTargets = { 
                                label : '{!$Label.BI_PL_Dash_Adjusted_targets}', 
                                fill: false,
                                data : [],
                                backgroundColor : this.chartColors[7],
                                borderColor : this.borderColors[7] 
                            }

                            //by specialty datasets
                            let specialtyLabels = [];
                            let bySpecialty_ds_sumMaxP = { 
                                label : '∑ {!$Objecttype.BI_PL_Channel_Detail_Preparation__c.fields.BI_PL_Max_planned_interactions__c.label}',
                                data : [],
                                backgroundColor : this.chartColors[0],
                                borderColor : this.borderColors[0]
                            }
                            let bySpecialty_ds_sumMaxA = { 
                                label : '∑ {!$Objecttype.BI_PL_Channel_Detail_Preparation__c.fields.BI_PL_Max_adjusted_interactions__c.label}',
                                data : [],
                                backgroundColor : this.chartColors[1],
                                borderColor : this.borderColors[1]
                            }
                            let bySpecialty_ds_diff_max = { 
                                label : '∑ {!$Objecttype.BI_PL_Channel_Detail_Preparation__c.fields.BI_PL_Max_planned_interactions__c.label} - ∑ {!$Objecttype.BI_PL_Channel_Detail_Preparation__c.fields.BI_PL_Max_adjusted_interactions__c.label}',
                                data : [],
                                backgroundColor : this.chartColors[2],
                                borderColor : this.borderColors[2]
                            }

                            let bySpecialty_ds_sumP = { 
                                label : '{!$Objecttype.BI_PL_Detail_Preparation__c.fields.BI_PL_Planned_details__c.label}',
                                data : [],
                                backgroundColor : this.chartColors[0],
                                borderColor : this.borderColors[0]
                            }

                            let bySpecialty_ds_sumA = { 
                                label : '{!$Objecttype.BI_PL_Detail_Preparation__c.fields.BI_PL_Adjusted_details__c.label}',
                                data : [],
                                backgroundColor : this.chartColors[1],
                                borderColor : this.borderColors[1]
                            }

                            let bySpecialty_ds_diff = { 
                                label : '{!$Objecttype.BI_PL_Detail_Preparation__c.fields.BI_PL_Planned_details__c.label} - {!$Objecttype.BI_PL_Detail_Preparation__c.fields.BI_PL_Adjusted_details__c.label}',
                                data : [],
                                backgroundColor : this.chartColors[2],
                                borderColor : this.borderColors[2]
                            }
                            let bySpecialty_ds_int_veeva = { 
                                label : '{!$Label.BI_SAP_Interactions_To_Be_Created_VEEVA}',
                                data : [],
                                backgroundColor : this.chartColors[5],
                                borderColor : this.borderColors[5]
                            }

                            let bySpecialty_ds_details_veeva = { 
                                label : '{!$Label.BI_SAP_Details_To_Be_Created_VEEVA}',
                                data : [],
                                backgroundColor : this.chartColors[8],
                                borderColor : this.borderColors[8]
                            }


                            segmentLabels = Object.keys(bySegment);
                            for (var i = 0; i < segmentLabels.length; i++) {
                                let key = segmentLabels[i];
                                bySegment_ds_sumP.data.push(bySegment[key].planned);
                                bySegment_ds_sumA.data.push(bySegment[key].adjusted);
                            }

                            territoryLabels = Object.keys(byTerritory);
                            for (var i = 0; i < territoryLabels.length; i++) {
                                let key = territoryLabels[i];
                                byTerritory_ds_sumP.data.push(byTerritory[key].planned);
                                byTerritory_ds_sumA.data.push(byTerritory[key].adjusted);
                                byTerritory_ds_sumMaxA.data.push(byTerritory[key].maxAdjusted);
                                byTerritory_ds_sumMaxP.data.push(byTerritory[key].maxPlanned);
                                byTerritory_ds_int_veeva.data.push(byTerritory[key].interactionsVeeva);
                                byTerritory_ds_details_veeva.data.push(byTerritory[key].detailsVeeva);

                                byTerritory_ds_targets.data.push(byTerritory[key].targets.size)
                                byTerritory_ds_adjustedTargets.data.push(byTerritory[key].adjustedTargets.size);

                                // GLOS-329
                                var nPreparations = Object.keys(preparationsByTerritory[key]).length;
                                var nChannels = Object.keys(channelsByTerritory[key]).length;
                                var requiredCapacity = 0;
                                if(this.groupedBusinessRules[byTerritory[key].fieldForce]){
                                    requiredCapacity = this.groupedBusinessRules[byTerritory[key].fieldForce].BI_PL_Required_capacity__c * nPreparations;
                                }
                                var totalCapacity = byTerritory[key].totalCapacity;

                                
                                var adjustedCapacity = requiredCapacity * totalCapacity / 100;
                                
                                byTerritory_ds_adjustedCapacity.data.push(adjustedCapacity);

                                // Achievement %

                                if(!isNaN(adjustedCapacity) && adjustedCapacity != 0){
                                    if(!isNaN(byTerritory[key].maxAdjusted)){
                                        byTerritory_ds_achievement.data.push(byTerritory[key].maxAdjusted / adjustedCapacity * 100 / nChannels);
                                    }else{
                                        byTerritory_ds_achievement.data.push(null);
                                    }

                                    if(!isNaN(byTerritory[key].interactionsVeeva)){
                                        byTerritory_ds_allocation.data.push(byTerritory[key].interactionsVeeva / adjustedCapacity  * 100 / nChannels);
                                    }else{
                                        byTerritory_ds_allocation.data.push(null);
                                    }
                                }else{
                                    byTerritory_ds_achievement.data.push(null);
                                    byTerritory_ds_allocation.data.push(null);
                                }
                                /*if(!isNaN(byTerritory[key].maxAdjusted) && byTerritory[key].maxAdjusted != 0){
                                    byTerritory_ds_achievement.data.push(byTerritory[key].achievement / byTerritory[key].maxAdjusted * 100);
                                }else{
                                    byTerritory_ds_achievement.data.push(0);
                                }
                                // Allocation %
                                if(!isNaN(byTerritory[key].adjusted) && byTerritory[key].adjusted != 0){
                                    byTerritory_ds_allocation.data.push(byTerritory[key].interactionsVeeva / byTerritory[key].adjusted  * 100);
                                }else{
                                    byTerritory_ds_allocation.data.push(0);
                                }*/
                            }


                            specialtyLabels = Object.keys(bySpecialty);
                            for (var i = 0; i < specialtyLabels.length; i++) {
                                let key = specialtyLabels[i];
                                bySpecialty_ds_sumP.data.push(bySpecialty[key].planned);
                                bySpecialty_ds_sumA.data.push(bySpecialty[key].adjusted);
                                bySpecialty_ds_diff.data.push(bySpecialty[key].planned - bySpecialty[key].adjusted);

                                bySpecialty_ds_sumMaxP.data.push(bySpecialty[key].maxPlanned);
                                bySpecialty_ds_sumMaxA.data.push(bySpecialty[key].maxAdjusted);
                                bySpecialty_ds_diff_max.data.push(bySpecialty[key].maxPlanned - bySpecialty[key].maxAdjusted);

                                bySpecialty_ds_int_veeva.data.push(bySpecialty[key].interactionsVeeva);
                                bySpecialty_ds_details_veeva.data.push(bySpecialty[key].detailsVeeva);

                            }

                            channelLabels = Object.keys(byChannel);
                            for (var i = 0; i < channelLabels.length; i++) {
                                let key = channelLabels[i];
                                byChannel_ds_sumP.data.push(byChannel[key].planned);
                                byChannel_ds_sumA.data.push(byChannel[key].adjusted);
                                byChannel_ds_sumMaxP.data.push(byChannel[key].maxPlanned);
                                byChannel_ds_sumMaxA.data.push(byChannel[key].maxAdjusted);
                                byChannel_ds_int_veeva.data.push(byChannel[key].interactionsVeeva);
                                byChannel_ds_details_veeva.data.push(byChannel[key].detailsVeeva);

                                byChannel_ds_targets.data.push(byChannel[key].targets.size)
                                byChannel_ds_adjustedTargets.data.push(byChannel[key].adjustedTargets.size);
                            }

                            console.timeEnd('@@BIPLChannelDetailsCharts groupData -> chart data composition');

                            console.time('@@BIPLChannelDetailsCharts groupData -> reactivity');

                            // GLOS-329
                            this.byTerritory_pva = {labels : territoryLabels, chartData : [byTerritory_ds_sumA, byTerritory_ds_sumP, byTerritory_ds_sumMaxA, byTerritory_ds_sumMaxP, byTerritory_ds_int_veeva, byTerritory_ds_details_veeva, byTerritory_ds_adjustedCapacity]};
                            this.byTerritory_targets = {labels : territoryLabels, chartData : [byTerritory_ds_targets, byTerritory_ds_adjustedTargets]};

                            this.bySegment_pva = {labels : segmentLabels, chartData : [bySegment_ds_sumP, bySegment_ds_sumA]};

                            this.bySpecialty_plannedVsAdjusted = {labels : specialtyLabels, chartData : [bySpecialty_ds_sumA, bySpecialty_ds_sumP, bySpecialty_ds_diff, bySpecialty_ds_details_veeva]};
                            this.bySpecialty_targetPlannedVsAdjusted = {labels : specialtyLabels, chartData : [bySpecialty_ds_sumMaxA, bySpecialty_ds_sumMaxP,bySpecialty_ds_diff_max,bySpecialty_ds_int_veeva]};

                            // GLOS-329
                            // Achievement
                            this.byTerritory_achievementVSallocation = {labels : territoryLabels, chartData : [byTerritory_ds_achievement, byTerritory_ds_allocation]};


                            this.byChannel_pva = {labels : channelLabels, chartData : [byChannel_ds_sumP, byChannel_ds_sumA, byChannel_ds_details_veeva]};
                            this.byChannel_targetspva = {labels : channelLabels, chartData : [byChannel_ds_sumMaxP, byChannel_ds_sumMaxA, byChannel_ds_int_veeva]};
                            this.byChannel_targets = {labels : channelLabels, chartData : [byChannel_ds_targets, byChannel_ds_adjustedTargets]};

                            this.byTerritory = byTerritory;
                            this.byChannel = byChannel;
                            this.bySpecialty = bySpecialty;
                            this.bySegment = bySegment;
                            this.byFF = byFF;

                            this.dashboardLoading = false;
                            console.timeEnd('@@BIPLChannelDetailsCharts groupData -> reactivity');

                            console.timeEnd('@@BIPLChannelDetailsCharts groupData');

                    },

                    getRecords(idoffset) {
                        var self = this;
                        console.time('@@BIPLChannelDetailsCharts getRecords');

                        // self.dash
                        var territory = '';
                        if(this.selectedTerritory != '{!$Label.BI_PL_All_Label}')
                        {
                            territory = this.selectedTerritory;
                        }
                        BI_PL_DashboardsCtrl.getGroupedData(this.selectedCountry, this.selectedCycle.Id, this.selectedHierarchy, territory, idoffset, function(response, event){

                            if(event.statusCode == 200) {

                                self.allRecords.push.apply(self.allRecords, response.channelDetails);

                                //Call again the method if we dont have all the data
                                if(response.lastOffsetId) {
                                    self.getRecords(response.lastOffsetId);
                                } else {
                                    self.dashboardLoading = false;
                                    self.allDataReady = true;
                        			console.timeEnd('@@BIPLChannelDetailsCharts getRecords');
                        			// setTimeout(() => self.groupData(), 0);
                                    self.groupData(); 
                                }
                            }else {
                                console.error('Remoting error when getting channel-detail data');
                            }
                        });
                    },

                    approveAll() {
                        var self = this;
                        this.batchExecuting = true;
                        this.showBatchLoader = true;
                        this.modalApprove = !this.modalApprove;

                        BI_PL_DashboardsCtrl.approveAll(this.selectedCountry, this.selectedCycle.Id, this.selectedHierarchy, function(response, event){
                            self.batchIds.push(response);
                        });

                    },
                    approveAllAdjustments() {
                        var self = this;
                        this.batchExecuting = true;
                        this.showBatchLoader = true;
                        this.modalApproveAllAdj = !this.modalApproveAllAdj;
                        
                        BI_PL_DashboardsCtrl.approveAllAdjustments(this.selectedCountry, this.selectedCycle.Id, this.selectedHierarchy, function(response, event){
                            self.batchIds.push(response);

                        });
                    },
                    reopenAll() {
                        var self = this;
                        this.batchExecuting = true;
                        this.showBatchLoader = true;
                        this.modalReopen = !this.modalReopen;

                        BI_PL_DashboardsCtrl.reopenAll(this.selectedCountry, this.selectedCycle.Id, this.selectedHierarchy, function(response, event){
                            self.batchIds.push(response);

                        });
                    },

                    /**
                     * Toogle modals
                     */
                    approveAll_modal() {
                        this.modalApprove = !this.modalApprove;
                    },
                    approveAllAdjustments_modal() {
                        this.modalApproveAllAdj = !this.modalApproveAllAdj;
                    },
                    reopenAll_modal() {
                        this.modalReopen = !this.modalReopen;
                    },

                    /**
                     * Event handlers
                     */
                    onBatchCompleted(payload) {
                        this.batchExecuting = false;
                        this.showBatchLoader = false;
                    },
                    onPaginateBySpecialty(payload){
                        this.paginatedBySpecialty = payload;
                    },

                    onPaginateByChannel(payload){
                        this.paginatedByChannel = payload;
                    },
                    onPaginateByTerritory(payload){
                        this.paginatedByTerritory = payload;
                    },
                    onPaginateBySegment(payload){
                        this.paginatedBySegment = payload;
                    }

                }
            });
    </script>

</apex:component>