<apex:component >

	<!-- Dependencies -->
		    <apex:includescript value="{!URLFOR($Resource.BI_PL_PLANiT_Dependencies, '/js/jquery-2.2.4.min.js')}" />
		    <apex:includescript value="{!URLFOR($Resource.BI_PL_PLANiT_Dependencies, '/js/jquery.stickytableheaders.min.js')}" />
		    <apex:includescript value="{!URLFOR($Resource.BI_PL_PLANiT_Dependencies, '/js/bootstrap.min.js')}" />
		    <apex:stylesheet value="{!URLFOR($Resource.BI_SAP_DataTable, 'datatables.css')}" />

		    <style>
	

		    /**
		    * Inner table form articles (remove margins and paddings)
		    */
		    table .table .table-sampro-articles {
		    	width: 100%;
		     	margin-bottom: 0px !important;
		     }

		    table .table .table-sampro-articles td {
		    	white-space: nowrap !important;
		    }

		    table .table .table-sampro-articles span.form-output{
		     	border: 1px solid transparent !important;
		     	display: block !important;
			    width: auto !important;
			    height: 34px !important;
			    padding: 6px 12px !important;
			    line-height: 1.428571429 !important;
		    }

		    input, select {
		    	max-width: 100% !important;
			}

		    input.input-error {
				border: red 2px solid !important;
				background-color: rgba(255, 0, 0, 0.3) !important;
				color: red;
				font-weight: bold;
			}
			
			input.input-table {
				max-width: 60px;
			}

			tr.approved {
				background-color: #C0FFB9 !important;
			}

			tr.rejected {
				background-color: #FFCD81  !important;
			}


			tr.error {
				background-color: #FF8181  !important;
			}

		    tr.reject-error {
				background-color: rgba(255, 0, 0, 0.3) !important;
				font-weight: bold;
			}

			.action-icon {
				cursor: pointer;
			}

			.edited-row {
		     	background-color: #f5ff8d;
		    }

			.reedited-row {
		     	background-color: #978dff;
		    }

		    .eshop-row {
		     	background-color: #a9dff6;
		    }
			
			.bg-warning {
			    background-color: #fcf8e3 !important;
			}
		     
		     #grid table tr td.no-padding-td {
				padding: 0px !important;	
		     }

		     .filter-col {
		     	margin-left: 1em;
		     }

		     .table-in-grid {
		     	table-layout : fixed;
		     }

		     .table-in-grid td input {
		     	min-width: 100%;
		     	max-width: 100%;
		     }

		     .sampro-tab-content {
		     	padding-top: 1.2em;
		     }
			 
			 .sampro-inline-label {
				margin-left: 1.2em;
			 }

		     .sampro-half-panel {
			    display: inline-block;
			    width: 49%;
		     }

		     .drag-drop-area {
		     	border: 1px dotted #bcbcbc;
			    border-radius: 1em;
			    padding: 2em;
		     }

		     [v-cloak] {
		     	display : none;
		     }

		     


		    </style>

</apex:component>