<apex:component controller="VEEVA_BI_Diagnostic_Letter_Lines" access="global" >
    <apex:attribute name="DiagnosticId" type="Id" description="Diagnostic lines" assignTo="{!dId}"/>
    
    <table width="100%">
    	<tr>
    		<td width="307px" valign="top">
    			<table>
    				<apex:variable value="{!labDetails}" var="det"/>
					<tr>
						<td>{!$Label.BI_AH_Diagnostic_Letter_To}</td>
					</tr>
					<tr>
					    <td>{!det.Account_vod__r.Name}</td>
					</tr>
					<tr>
					    <td>{!det.Name}</td>
					</tr>
					<tr>
					    <td>{!det.Zip_vod__c} {!det.City_vod__c}</td>
					</tr>
				</table>
    		</td>
    		<td valign="top">
    			<table style="border:1px solid black;">
    				<apex:variable value="{!diagDetails}" var="diag"/>
					<tr>
					    <td width="185px">{!$ObjectType.Diagnostic_Management_BI__c.fields.Name.label}</td>
					    <td width="185px">{!$ObjectType.Diagnostic_Management_BI__c.fields.Request_Date_BI__c.label}</td> 
					</tr>
					<tr>
					    <td width="185px" style="font-size: 20pt;"><b>{!diag.Name}</b></td>
					    <td width="185px"> 
					    	<apex:outputText value="{0,date,dd'.'MM'.'yyyy}">
							    <apex:param value="{!diag.Request_Date_BI__c}" /> 
							</apex:outputText>
					    </td> 
					</tr>
				</table> 
    		</td>
    	</tr>
    </table><br></br>
    
    
    <table width="100%">
    	<apex:variable value="{!accDetails}" var="acc"/> 
        <apex:variable value="{!diagDetails}" var="diag"/> 
		<tr>
			<!--<td>???</td>
			<td>???</td> -->
			<td width="185px">{!$ObjectType.Diagnostic_Management_BI__c.fields.Account_BI__c.label}</td>		
            <td width="185px">{!$ObjectType.Diagnostic_Management_BI__c.fields.Responsible_BI__c.label}</td>             
		</tr>
		<tr>
			<td style="border-bottom:1px solid black;">{!acc.Account_vod__r.Name}</td> 
			<td style="border-bottom:1px solid black;">{!diag.Responsible_BI__r.Name}</td> 
		</tr>
		<!--<tr>
			<td style="border-bottom:1px solid black;"> </td> 
			<td style="border-bottom:1px solid black;"> </td>
		</tr>-->
		<tr>
			<td style="border-bottom:1px solid black;">{!acc.Name}</td> 
			<td style="border-bottom:1px solid black;"> </td>
		</tr>
		<tr>
			<td style="border-bottom:1px solid black;">{!acc.Zip_vod__c} {!acc.City_vod__c}</td> 
			<td style="border-bottom:1px solid black;"> </td>
		</tr>
	</table> 
    

</apex:component>