<apex:component controller="VEEVA_BI_Order_Confirmation" access="global">
	<apex:attribute name="OrderId" type="Id" description="Child Orders" assignTo="{!oId}"/>

	<table border="1" cellpadding="4" cellspacing="0" bordercolor="#CCCCCC">
		<apex:variable value="{!1}" var="number"/>
        <apex:repeat var="co" value="{!childOrders}">
            <tr>
            	<td>{!$ObjectType.Order_vod__c.fields.Delivery_Date_vod__c.label} {!number}</td>
                <td>{!co.Delivery_Date_Formatted_BI__c}</td>
                <td>{!co.Delivery_Location_vod__r.Name}</td>
            </tr>
        <apex:variable value="{!number+1}" var="number"/>
        </apex:repeat>   
    </table>

</apex:component>