@charset "utf-8";
/* CSS Document */

html, body {
    margin:0;
    padding:0;
    height: 100%;
    overflow-x: hidden;
}


.background-image{
background: url(assets/bg-web.jpg) no-repeat left bottom; 
-webkit-background-size: contain;
-moz-background-size: contain;
-o-background-size: contain;
background-size: contain;
background-color: #84B3EB;
display: compact;
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0;
margin-bottom: -50px;
}



.viviendo_logo{
    height: auto;
    width: 50%;
    margin: 10px auto;
    vertical-align: center;
}


.bi_logo{
height: auto;
width: 50%;
margin: 20px auto;
vertical-align: center;
}
.container_text{
    width: 80%;
    margin: 0 auto;
    max-width: 400px;
    margin-bottom: 40px;
}

.container_text h2{
    font-size: 18px;
    line-height: 22px;
    font-family: "HelveticaNeueLightCondensed", "HelveticaNeue-Light-Condensed", "Helvetica Neue Light Condensed", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosCnRegular", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
    font-weight: 300;
    font-stretch: condensed;
    color: #575757;
    font-weight: bold;

}


.container_text p {
    font-size: 16px;
    line-height: 18px;
    font-family: "HelveticaNeueLightCondensed", "HelveticaNeue-Light-Condensed", "Helvetica Neue Light Condensed", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosCnRegular", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
    font-weight: normal;
    font-stretch: condensed;
    color: #575757;
    text-align: justify;

}

/* FORM */
form{
    width: 90%;
    background-image:url(assets/bg-alpha.png);
    background-repeat:repeat;
    padding:20px 30px 10px 30px;
    z-index:-1;
    margin:0 auto;
    max-width: 400px;
    margin-bottom: 50px;
}

form h2 {
    font-size: 14px;
    line-height: 18px;
    font-family: "HelveticaNeueLightCondensed", "HelveticaNeue-Light-Condensed", "Helvetica Neue Light Condensed", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
    font-weight: 300;
    font-stretch: condensed;
    color: #4C4C4C;
    font-weight: lighter;
}


.field{ clear:both;
padding-top: 5px;}
    
input.homeVS{
    height:35px;
    max-width: 248px;
    width: 80%;
    margin-bottom:20px;
    border: #959595 1px solid;
    background-color:#FFF; 
    padding:5px 16px;
    color:#777;
    font-size:14px;
    font-style:italic;
    z-index:5000;}
    
input.homeVS:hover{
border:#00aeef 1px solid;
}

input.homeVS2{
    height:35px;
    width: 90%;
    margin-bottom:20px;
    border: #959595 1px solid;
    background-color:#FFF; 
    padding:5px 16px;
    color:#777;
    font-size:14px;
    font-style:italic;
    z-index:5000;}
    
input.homeVS2:hover{
border:#00aeef 1px solid;
}


.radiobutton {
    height: 26px;
    width: 26px;
    margin-bottom: 20px;
    border: #959595 1px solid;
    background-color: #FFF;
    padding: 5px 20px;
    color: #777;
    z-index: 5000;
    float: left;
}

.padding-t10{
    padding-top: 10px;}

a.hint{
    float:right;
    margin: 6px 2px;
    text-decoration:none;
    width:30px;}

}

.searchfield{
    height:36px;
    width: 320px;
    margin-bottom:20px;
    border: #959595 1px solid;
    background-color:#FFF; 
    padding:5px 16px;
    color:#777;
    font-size:13px;
    font-style:italic;
    z-index:5000;}
    
    .searchfield:hover{
    border:#00aeef 1px solid;}


a.links{
        font-size: 13px;
    line-height: 16px;
    font-family: "HelveticaNeueLightCondensed", "HelveticaNeue-Light-Condensed", "Helvetica Neue Light Condensed", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
    font-weight: 300;
    font-stretch: condensed;
       color: #00aeef;
    margin: 0px;
    
    }
.button01{
    height:36px;
    width: 90%;
    margin-bottom:20px;
    color:#FFF; 
    background-color:#00aeef;
    font-size:17px;
    border:none;
    font-family: "HelveticaNeueLightCondensed", "HelveticaNeue-Light-Condensed", "Helvetica Neue Light Condensed", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
    font-weight:lighter;
    font-stretch: condensed;
    font-style:normal;
    }
    
    
.button01:hover{
    color:#FFF; 
    background-color:#3579b8;}


div.label {
    font-size: 14px;
    line-height: 16px;
    font-family: "HelveticaNeueLightCondensed", "HelveticaNeue-Light-Condensed", "Helvetica Neue Light Condensed", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
    font-weight: 300;
    font-stretch: condensed;
    color: #4C4C4C;
    width: 120px;
    margin: 0px;
    float: left;
    text-align: inherit;
}

.label2 p{
    font-size: 13px;
    line-height: 16px;
    font-family: "HelveticaNeueLightCondensed", "HelveticaNeue-Light-Condensed", "Helvetica Neue Light Condensed", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
    font-weight: 300;
    font-stretch: condensed;
    color: #4C4C4C;
    width: 270px;
    margin: 8px 0px 0px 10px;
    word-wrap:break-word;
    display:block;
    float: left;
}

/*  END FORM    */


footer {
    background-color:#00aeef;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 20px;
    position: static;
    color:#FFF;
    bottom: 0;
    clear: both;
    min-height: 114px;
}

        
footer p {
    clear: both;
    width: 100%;
    font-size: 12px;
    padding: 0px;
    margin: 12px auto 4px auto;
    color: #FFF;
    text-align: center;
}
        
footer a.links{
    color:#FFF; 
    text-decoration: underline;
}

footer div {
    text-align: center;
}



/* Form 2*/

.errorMessage {
    z-index: 6000;
    position: relative;
    top: 0px;
    left: 0px;
    background-color: #F0999B;
}

.errorMessage p {
    font-size: 16px;
    line-height: 20px;
    font-family: "HelveticaNeueLightCondensed", "HelveticaNeue-Light-Condensed", "Helvetica Neue Light Condensed", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
    font-weight: normal;
    font-stretch: condensed;
    text-align: center;
    padding: 35px 20px;
    color: #780608;
}

/* Form 4*/

.hint-01 {
    z-index: 6009;
    position: relative;
}

.hint-01 div{
    position: absolute;
    top: -70px;
    right: -13px;
}


/* Form 6*/
.errorMessage2 {
    background-image: url(assets/bg-alpha.png);
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    z-index: 6000;
    padding: 30px 10px;
    text-align: center;
    margin: 100px auto;
}

.button03:hover {
    color: #FFF;
    background-color: #3579b8;
}
input:hover {
    border: #00aeef 1px solid;
}
.button03 {
    height: 36px;
    width: 90%;
    margin: 20px auto 0px auto;
    color: #FFF;
    background-color: #00aeef;
    font-size: 18px;
    border: none;
    font-family: "HelveticaNeueLightCondensed", "HelveticaNeue-Light-Condensed", "Helvetica Neue Light Condensed", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
    font-weight: lighter;
    font-stretch: condensed;
    font-style: normal;
}

.errorMessage2 p {
    font-size: 16px;
    line-height: 20px;
    font-family: "HelveticaNeueLightCondensed", "HelveticaNeue-Light-Condensed", "Helvetica Neue Light Condensed", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
    font-weight: normal;
    font-stretch: condensed;
    text-align: center;
    padding: 5px;
    margin: 0px;
    color: #777;
}
/*-----*/

/*FASE DOS*/
form.form-big {
    background-image: navajowhite;
    background-repeat: repeat;
    padding: 20px;
    float: none !important;
    /*margin: 10px auto 30px auto !important;*/
    width: 100%;
    z-index: -1;
    max-width: inherit;
}
h2.TitleBig{
    font-size:18px;
    line-height:22px;
    font-family: "HelveticaNeueLightCondensed", "HelveticaNeue-Light-Condensed", "Helvetica Neue Light Condensed", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif; font-weight:300; font-stretch:condensed;
    color:#4C4C4C;
    font-weight:lighter;
    width:100%;}
    

input.homef2{
    height:35px;
    width: 100%;
    margin-bottom:20px;
    border: #959595 1px solid;
    background-color:#FFF; 
    padding:5px 16px;
    color:#777;
    font-size:14px;
    font-style:italic;
    z-index:5000;}
    
input.homef2:hover{
border:#00aeef 1px solid;
}

h3 {
    font-size: 14px;
    font-family: "HelveticaNeueLightCondensed", "HelveticaNeue-Light-Condensed", "Helvetica Neue Light Condensed", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
    font-weight: 300;
    font-stretch: condensed;
    color: #4C4C4C;
    font-weight: lighter;
    height: 14px;
    margin: 0px 0px 5px 0px;
}

label {
    font-size: 14px;
    line-height: 16px;
    font-family: "HelveticaNeueLightCondensed", "HelveticaNeue-Light-Condensed", "Helvetica Neue Light Condensed", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
    font-weight: normal;
    font-stretch: condensed;
    color: #4C4C4C;
    margin: 0px;
    padding: 3px 5px;
}
    
    .out-paddingr{
        padding-right: 0px !important; 
    }

    .out-paddingl{
        padding-left: 0px !important; 
    }

    .out-padding2{
        padding-right:24px !important;
        padding-left:  0px !important; 
    }

select.home4 {
    height: 35px;
    width: 100%;
    margin: 0px -5px 20px 0px;
    border: #959595 1px solid;
    background-color: #FFF;
    padding: 5px 16px;
    color: #777;
    font-size: 13px;
    font-style: italic;
    z-index: 5000;
}

select.home3 {
    height: 35px;
    width: 40%;
    margin: 0px -5px 20px 0px;
    border: #959595 1px solid;
    background-color: #FFF;
    padding: 5px 10px;
    color: #777;
    font-size: 13px;
    font-style: italic;
    z-index: 5000;
    float: left;
    display: block;
}



input.homef3{
    height:35px;
    width: 60%;
    margin-bottom:20px;
    border: #959595 1px solid;
    background-color:#FFF; 
    padding:5px 16px;
    color:#777;
    font-size:14px;
    font-style:italic;
    z-index:5000;
    float: left;
    display: block;
}
    
input.homef3:hover{
border:#00aeef 1px solid;
}    

.button02 {
    height: 36px;
    width: 50%;
    margin: 0px auto;
    float: none;
    color: #FFF;
    background-color: #00aeef;
    font-size: 18px;
    border: none;
    font-family: "HelveticaNeueLightCondensed", "HelveticaNeue-Light-Condensed", "Helvetica Neue Light Condensed", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
    font-weight: lighter;
    font-stretch: condensed;
    font-style: normal;
}


.radiobutton2 {
    height: 15px;
    width: 15px;
    margin-bottom: 0px;
    border: none;
    background: none;
    color: #777;
}
/*--------*/

@media only screen and (max-width : 1100px) {

    label {
    font-size: 13px;
    line-height: 16px;
    font-family: "HelveticaNeueLightCondensed", "HelveticaNeue-Light-Condensed", "Helvetica Neue Light Condensed", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
    font-weight: 300;
    font-stretch: condensed;
    color: #4C4C4C;
    margin: 0px;
    padding: 3px 0px;
    }

    /*FASE DOS*/
form.form-big {
    background-image: navajowhite;
    background-repeat: repeat;
    padding: 20px;
    float: none !important;
    /*margin: 10px auto 30px auto !important;*/
    width: 100%;
    z-index: -1;
    max-width: inherit;
    margin-top: 50px;

}



@media only screen and (max-width : 768px) {

    label {
    font-size: 14px;
    line-height: 16px;
    font-family: "HelveticaNeueLightCondensed", "HelveticaNeue-Light-Condensed", "Helvetica Neue Light Condensed", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
    font-weight: 300;
    font-stretch: condensed;
    color: #4C4C4C;
    margin: 0px;
    padding: 3px 10px;
    }

    .background-image{
        background: #84B3EB;
        display: compact;
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0;
        margin-bottom: -10px;
    }

    .errorMessage2 {
        background-image: url(assets/bg-alpha.png);
        background-repeat: repeat;
        height: 100%;
        width: 100%;
        z-index: 6000;
        padding: 30px 10px;
        text-align: center;
        margin: 30px auto;
    }


    .button02 {
       height: 36px;
        width: 50%;
        margin: 0px auto;
        float: none;
        color: #FFF;
        background-color: #00aeef;
        font-size: 18px;
        border: none;
        font-family: "HelveticaNeueLightCondensed", "HelveticaNeue-Light-Condensed", "Helvetica Neue Light Condensed", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
        font-weight: lighter;
        font-stretch: condensed;
        font-style: normal;
    }


    .out-paddingr{
        padding-right: 15px !important;
    
    }

    .out-paddingl{
         padding-left: 15px !important;
    }


}


@media only screen and (max-width : 500px) {

    .errorMessage2 {
    background-image: url(assets/bg-alpha.png);
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    z-index: 6000;
    padding: 20px 5px;
    text-align: center;
    margin: 50px auto;
    }

    .button02 {
       height: 36px;
        width: 100%;
        margin: 0px auto;
        float: none;
        color: #FFF;
        background-color: #00aeef;
        font-size: 14px;
        border: none;
        font-family: "HelveticaNeueLightCondensed", "HelveticaNeue-Light-Condensed", "Helvetica Neue Light Condensed", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
        font-weight: lighter;
        font-stretch: condensed;
        font-style: normal;
    }

    .button03 {
    height: 20px;
    width: 90%;
    margin: 20px auto 0px auto;
    color: #FFF;
    background-color: #00aeef;
    font-size: 14px;
    border: none;
    font-family: "HelveticaNeueLightCondensed", "HelveticaNeue-Light-Condensed", "Helvetica Neue Light Condensed", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
    font-weight: lighter;
    font-stretch: condensed;
    font-style: normal;
    }

    .out-padding{
        padding-right: 0px !important;
        padding-left: 0px !important; 
    }


    h2.TitleBig {
    font-size: 15px;
    line-height: 18px;
    font-family: "HelveticaNeueLightCondensed", "HelveticaNeue-Light-Condensed", "Helvetica Neue Light Condensed", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
    font-weight: 300;
    font-stretch: condensed;
    color: #4C4C4C;
    font-weight: lighter;
    width: 100%
    }

}

@media only screen and (max-width : 350px) {
    footer a.links{
    color:#FFF; 
    text-decoration: underline;
    font-size: 11px;
    }

}

