<apex:page controller="BI_MM_BudgetViewExcelReportEvents_Ctrl" contentType="application/vnd.ms-excel#SalesForceExport.xls" cache="true" readOnly="true">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    </head>
    <apex:pageBlock title="{!$Label.BI_MM_BudgetView_EventList}">
        <apex:pageBlockTable Id="EventBlock" value="{!listMedicalEvents}" var="objEvent">
            <apex:column headerValue="{!$Label.BI_MM_Event_Id}">
                <apex:outputField value="{!objEvent.Event_ID_BI__c}"/>
            </apex:column>
            <apex:column headerValue="{!$Label.BI_MM_Event_name}">
                <apex:outputField value="{!objEvent.Name}"/>
            </apex:column>
            <apex:column headerValue="{!$Label.BI_MM_Event_Start_Date}">
                <apex:outputField value="{!objEvent.Start_Date_vod__c}"/>
            </apex:column>
            <apex:column headerValue="{!$Label.BI_MM_Event_End_Date}">
                <apex:outputField value="{!objEvent.End_Date_vod__c}"/>
            </apex:column>
            <apex:column headerValue="{!$Label.BI_MM_Event_status}">
                <apex:outputField value="{!objEvent.Event_Status_BI__c}"/>
            </apex:column>
            <apex:column headerValue="{!$Label.BI_MM_Event_expense}">
                <apex:outputField value="{!objEvent.Expense_Amount_vod__c}"/>
            </apex:column>
            <apex:column headerValue="{!$Label.BI_MM_Event_Product}">
                <apex:outputField value="{!objEvent.Product_BI__r.Name}"/>
            </apex:column>
        </apex:pageBlockTable>
    </apex:pageBlock> 
</apex:page>