<!--
    Name: BI_MM_BudgetTransferControllerForAdmin
    Requirement ID: Budget Transfer Utility
    Description: This Page is used to show transfer BI_MM_Budget__c records
    Version | Author-Email | Date | Comment
    1.0 | Venkata Madiri | 03.12.2015 | initial version
-->
<apex:page showHeader="true"  controller="BI_MM_BudgetTransferControllerForAdmin"  sidebar="false" id="pg" tabstyle="Account">
    <body>
    <style type="text/css">
        .customPopup {
            background-color: white;
            border-style: solid;
            border-width: 2px;
            left: 30%;
            padding: 10px;
            position: absolute;
            z-index: 9999;

            width: 500px;
            top: 60%;
        }

    .NewpopupContainer {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 9999;
        left: 0;
        top: 40%;
        display: none;
    }
    .NewPopup p {
        text-align: center;
    }
    .NewPopup button {
        margin: 0 10px;
    }
    .NewPopup {
        position: static;
        z-index: 999;
        width: 26%;
        padding: 2%;
        min-width: 300px;
        margin: auto;
        background: #fff;
        border: 2px solid #236FBD;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0,0,0,.2);
    }
    .Newoverlay{display:block!important;}

    .customButton{
        color: black;
        box-shadow: none;
        font-weight: 500;
        padding: 3px 18px;
        margin: 26px 5px 0 5px;
        cursor: pointer;
    }
    </style>
    <apex:includeScript value="{!URLFOR($Resource.jQueryUI_1_10_2,'jquery-ui-1.10.2.custom/js/jquery-1.9.1.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.jQueryUI_1_10_2,'jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.min.js')}" />
    <script type="text/javascript">

        var j$ = jQuery.noConflict();
        function confirmation(){
            j$('.NewpopupContainer ').css('display', 'inline');
        }
        function OKpopUpTransfer(){
            j$('.customButton').css('visibility', 'hidden');
            validateInApex();
        }
        function cancelPopUp(){
            j$('.NewpopupContainer ').css('display', 'none');
        }
    </script>

    <!--Confirmation Popup-->
    <!-- <div class="Newoverlay overlay"></div> -->
    <div class="NewpopupContainer" style="display: none">
        <div class="NewPopup">
            <p>{!$Label.BI_MM_Budgetransfer_JSVal_uSure}</p>
            <center>
                <button tabIndex="1" class="customButton" onclick="OKpopUpTransfer()" >{!$Label.BI_MM_Yes}</button>
                <button tabIndex="1" class="customButton" onclick="cancelPopUp()" >{!$Label.BI_MM_Cancel}</button>
            </center>
        </div>
    </div>

    <apex:form >
        <!-- Territoty details -->
        <apex:outputPanel id="TerritoryOp">
        <table style="height: 30; width: 99%; margin-left: 80%;margin-top:5px;">
            <tr>
                <td style="font-size: 10px; font-family: Arial; align: center;">
                    <b>{!$Label.BI_MM_Welcome} {!strSelectedMgrTerritoryName}</b>
                </td>
            </tr>
        </table>
        </apex:outputPanel>
        <apex:pageMessages id="errorMsg"/>
        <apex:pageblock id="pbId">
            <!-- This section is for selection of Manager Territory -->
            <apex:outputPanel id="managerTerritory">
                <apex:pageblockSection title="{!$Label.BI_MM_Budgetransfer_Global_SelectTerritory}" rendered="{!managerTerritorypanel}">
                    <apex:selectList value="{!strSelectedMgrTerritory}" size="1" style="width: 60%;" label="{!$Label.BI_MM_Budgetransfer_Global_SelectTerritory}">
                        <apex:selectOptions value="{!AllBudgetsMgrTerritory}" />
                        <apex:actionSupport event="onchange" action="{!getTerritoryName}" status="actionStatus"/>
                    </apex:selectList>
                </apex:pageblockSection>
            </apex:outputPanel>
            <!-- This section is for selection of Transfer Type  -->
            <apex:outputPanel id="TransferTypeSecOpId">
                <apex:pageblockSection title="{!$Label.BI_MM_Budgetransfer_Global_TransferType}" rendered="{!Selectpanel}"  >
                    <apex:selectList value="{!strSelectedTransfer}" Id="budTypelistId"  size="1" label="{!$Label.BI_MM_Budgetransfer_Global_SelecttypeofTransfer}" style="width: 60%;">
                        <span style="color : #CC0000;font-size: 19px;font-weight: bold;font-family: fantasy;">|</span>
                        <apex:selectOptions value="{!budTypelist}" />
                        <apex:actionSupport event="onchange" action="{!transferSelection}" status="actionStatus"/>
                    </apex:selectList>
                </apex:pageblockSection>
            </apex:outputPanel>

            <!-- ActionFunction  on Clicking the button !-->
            <apex:actionFunction name="validateInApex" action="{!transfer}" status="actionStatus"/>

            <!-- Transfer Panel !-->
            <apex:outputPanel id="oPanel" rendered="{!transferBudgetFlag}" >
                <apex:actionRegion >
                    <apex:pageBlockSection title="{!strSelectedTransfer}" columns="2" >
                        <apex:selectList value="{!selectedTerrName}"  size="1" label="{!$Label.BI_MM_BudgetView_userTerritoryId}" id="TerrSelect" style="width: 60%;">
                            <span style="color : #CC0000;font-size: 19px;font-weight: bold;font-family: fantasy;">|</span>
                            <apex:selectOptions value="{!listofterritory}"/>
                            <apex:actionSupport event="onchange" action="{!products}" rerender="oPanel,errorMsg,userSelect" status="actionStatus" />
                        </apex:selectList>
                        <apex:selectList value="{!selectedTerrName1}"  size="1" label="{!$Label.BI_MM_BudgetView_userTerritoryId} " id="TerrSelect1" style="width: 60%;">
                            <span style="color : #CC0000;font-size: 19px;font-weight: bold;font-family: fantasy;">|</span>
                            <apex:selectOptions value="{!listofterritory}"/>
                            <apex:actionSupport event="onchange" action="{!products1}" rerender="oPanel,errorMsg,userSelect" status="actionStatus" />
                        </apex:selectList>

                        <apex:selectList value="{!strSelectedProductId}" Id="ProductId"  size="1" label="{!$Label.BI_MM_BudgetView_ProductId}" id="prodID" style="width: 60%;">
                            <span style="color : #CC0000;font-size: 19px;font-weight: bold;font-family: fantasy;">|</span>
                            <apex:selectOptions value="{!lstProducts}" />
                            <apex:actionSupport event="onchange" action="{!userlistAdd}" rerender="oPanel,errorMsg" status="actionStatus"  />
                        </apex:selectList>
                        <apex:selectList value="{!strSelectedProductId1}" Id="ProductId1"  size="1" label="{!$Label.BI_MM_BudgetView_ProductId}" id="prodID1" style="width: 60%;">
                            <span style="color : #CC0000;font-size: 19px;font-weight: bold;font-family: fantasy;">|</span>
                            <apex:selectOptions value="{!lstProducts1}" />
                            <apex:actionSupport event="onchange" action="{!userlistAdd1}" rerender="oPanel,errorMsg" status="actionStatus"  />
                        </apex:selectList>

                        <apex:selectList value="{!selectedBudgetType}"  size="1" label="{!$Label.BI_MM_BudgetView_budgetType}" id="budType" style="width: 60%;">
                            <span style="color : #CC0000;font-size: 19px;font-weight: bold;font-family: fantasy;">|</span>
                            <apex:selectOptions value="{!lstBudgetType}" />
                            <apex:actionSupport event="onchange" action="{!timeperiodAdd}" rerender="oPanel,errorMsg,budType1,prodToID" status="actionStatus" />
                        </apex:selectList>
                        <apex:selectList value="{!selectedBudgetType1}"  size="1" label="{!$Label.BI_MM_BudgetView_budgetType}" id="budType1" style="width: 60%;">
                            <span style="color : #CC0000;font-size: 19px;font-weight: bold;font-family: fantasy;">|</span>
                            <apex:selectOptions value="{!lstBudgetType1}" />
                            <apex:actionSupport event="onchange" action="{!timeperiodAdd1}" rerender="oPanel,errorMsg,budType1,prodToID" status="actionStatus" />
                        </apex:selectList>

                        <apex:selectList value="{!strSelectedPeriod}" size="1" label="{!$Label.BI_MM_BudgetView_lstMyTeamBudToDisp_TimePeriod}" Id="selectedPeriod" style="width:60%">
                            <span style="color : #CC0000;font-size: 19px;font-weight: bold;font-family: fantasy;">|</span>
                            <apex:selectOptions value="{!lstPeriods}" />
                            <apex:actionSupport event="onchange" action="{!availableAmtMethod}"  rerender="oPanel,errorMsg,userSelect" />
                        </apex:selectList>
                        <apex:selectList value="{!strSelectedPeriod1}" size="1" label="{!$Label.BI_MM_BudgetView_lstMyTeamBudToDisp_TimePeriod}" Id="selectedPeriod1" style="width:60%">
                            <span style="color : #CC0000;font-size: 19px;font-weight: bold;font-family: fantasy;">|</span>
                            <apex:selectOptions value="{!lstPeriods1}" />
                            <apex:actionSupport event="onchange" action="{!touserlistAdd}"  rerender="oPanel,errorMsg,userSelect" />
                        </apex:selectList>


                        <apex:outputField Label="{!$Label.BI_MM_Budgetransfer_Global_CurrentBudget}" value="{!objBudget.BI_MM_CurrentBudget__c}" > </apex:outputField>
                        <apex:outputField Label="{!$Label.BI_MM_Budgetransfer_Global_CurrentBudget}" value="{!objBudget1.BI_MM_CurrentBudget__c}" > </apex:outputField>

                        <apex:outputField label="{!$Label.BI_MM_BudgetView_lstMyTeamBudToDisp_AvailableBudget}" value="{!objBudget.BI_MM_AvailableBudget__c}" > </apex:outputField>
                        <apex:outputField label="{!$Label.BI_MM_BudgetView_lstMyTeamBudToDisp_AvailableBudget}" value="{!objBudget1.BI_MM_AvailableBudget__c}" > </apex:outputField>
                    </apex:pageBlockSection>
                </apex:actionRegion>
                <apex:pageBlockSection >
                    <apex:inputField label="{!$Label.BI_MM_Budgetransfer_Global_TransferAmount}" value="{!objBudget.BI_MM_TransferAmount__c}" required="true"/>
                </apex:pageBlockSection>
                <div align="center" draggable="false" >
                    <!-- <apex:commandButton value="{!strSelectedTransfer}" onclick="validateInApex();" rerender="oPanel,errorMsg" /> -->
                    <apex:commandButton value="{!strSelectedTransfer}" onclick="confirmation();" rerender="oPanel,errorMsg" />
                </div>
            </apex:outputPanel>

            <!-- Distribute Panel -->
            <apex:outputPanel id="oPanelADD" rendered="{!addrBudgetFlag}" >
                <apex:actionRegion >
                    <apex:pageBlockSection title="{!strSelectedTransfer}" columns="2" >
                        <apex:outputText value="{!selectedTerrName}" label="{!$Label.BI_MM_BudgetView_userTerritoryId}" id="TerrSelect" style="width: 60%;" />
                        <apex:selectList value="{!selectedTerrName1}"  size="1" label="{!$Label.BI_MM_BudgetView_userTerritoryId}" id="TerrSelect1" style="width: 60%;">
                            <span style="color : #CC0000;font-size: 19px;font-weight: bold;font-family: fantasy;">|</span>
                            <apex:selectOptions value="{!listofterritory}"/>
                            <apex:actionSupport event="onchange" action="{!availableAmtMethod}" rerender="oPanelADD,errorMsg,userSelect" status="actionStatus" />
                        </apex:selectList>

                        <apex:selectList value="{!strSelectedProductId}" Id="ProductId"  size="1" label="{!$Label.BI_MM_BudgetView_ProductId}" id="prodID" style="width: 60%;">
                        <span style="color : #CC0000;font-size: 19px;font-weight: bold;font-family: fantasy;">|</span>
                        <apex:selectOptions value="{!lstProducts1}" />
                        <apex:actionSupport event="onchange" action="{!distributeListAdd}" rerender="oPanelADD,errorMsg" status="actionStatus"  />
                        </apex:selectList>
                        <apex:outputText value="{!strSelectedProductId1}" label="{!$Label.BI_MM_BudgetView_ProductId}" id="prodToID" style="width: 60%;" />

                        <apex:selectList value="{!selectedBudgetType}"  size="1" label="{!$Label.BI_MM_BudgetView_budgetType}" id="budType" style="width: 60%;">
                            <span style="color : #CC0000;font-size: 19px;font-weight: bold;font-family: fantasy;">|</span>
                            <apex:selectOptions value="{!lstBudgetType}" />
                            <apex:actionSupport event="onchange" action="{!timeperiodAdd}" rerender="oPanelADD,errorMsg,budType1,prodToID" status="actionStatus" />
                        </apex:selectList>
                        <apex:outputText value="{!selectedBudgetType1}" label="{!$Label.BI_MM_BudgetView_budgetType}" id="budType1"></apex:outputText>

                        <apex:selectList value="{!strSelectedPeriod}" size="1" label="{!$Label.BI_MM_BudgetView_lstMyTeamBudToDisp_TimePeriod}" Id="selectedPeriod" style="width:60%">
                            <span style="color : #CC0000;font-size: 19px;font-weight: bold;font-family: fantasy;">|</span>
                            <apex:selectOptions value="{!lstPeriods}" />
                            <apex:actionSupport event="onchange" action="{!availableAmtMethod}"  rerender="oPanelADD,errorMsg,userSelect" />
                        </apex:selectList>

                        <apex:outputText value="{!strSelectedPeriod1}" label="{!$Label.BI_MM_BudgetView_lstMyTeamBudToDisp_TimePeriod}" id="selectedPeriod1" />

                        <apex:outputField Label="{!$Label.BI_MM_Budgetransfer_Global_CurrentBudget}" value="{!objBudget.BI_MM_CurrentBudget__c}" > </apex:outputField>
                        <apex:outputField Label="{!$Label.BI_MM_Budgetransfer_Global_CurrentBudget}"  value="{!objBudget1.BI_MM_CurrentBudget__c}" > </apex:outputField>

                        <apex:outputField label="{!$Label.BI_MM_BudgetView_lstMyTeamBudToDisp_AvailableBudget}"  value="{!objBudget.BI_MM_AvailableBudget__c}" > </apex:outputField>
                        <apex:outputField label="{!$Label.BI_MM_BudgetView_lstMyTeamBudToDisp_AvailableBudget}"  value="{!objBudget1.BI_MM_AvailableBudget__c}" > </apex:outputField>
                    </apex:pageBlockSection>
                </apex:actionRegion>
                <apex:pageBlockSection >
                    <apex:inputField label="{!$Label.BI_MM_Budgetransfer_Global_TransferAmount}" value="{!objBudget.BI_MM_TransferAmount__c}" required="true"/>
                </apex:pageBlockSection>
                <div align="center" draggable="false" >
                    <!-- <apex:commandButton value="{!strSelectedTransfer}" onclick="validateInApex();" rerender="oPanelADD,errorMsg" /> -->
                    <apex:commandButton value="{!strSelectedTransfer}" onclick="confirmation()" rerender="oPanelADD,errorMsg"/>
                </div>
            </apex:outputPanel>

            <!-- Revoke Panel -->
            <apex:outputPanel id="oPanelSUB" rendered="{!subBudgetFlag}" >
                <apex:actionRegion >
                    <apex:pageBlockSection title="{!strSelectedTransfer}" columns="2" >
                        <apex:selectList value="{!selectedTerrName}"  size="1" label="{!$Label.BI_MM_BudgetView_userTerritoryId}" id="TerrSelect" style="width: 60%;">
                        <span style="color : #CC0000;font-size: 19px;font-weight: bold;font-family: fantasy;">|</span>
                        <apex:selectOptions value="{!listofterritory1}"/>
                        <apex:actionSupport event="onchange" action="{!products}" rerender="oPanelSUB,errorMsg" status="actionStatus" />
                        </apex:selectList>
                        <apex:outputText value="{!selectedTerrName1}" label="{!$Label.BI_MM_BudgetView_userTerritoryId}" id="TerrSelect1" style="width: 60%;" />

                        <apex:selectList value="{!strSelectedProductId}" Id="ProductId"  size="1" label="{!$Label.BI_MM_BudgetView_ProductId}" id="prodID" style="width: 60%;">
                        <span style="color : #CC0000;font-size: 19px;font-weight: bold;font-family: fantasy;">|</span>
                        <apex:selectOptions value="{!lstProducts}" />
                        <apex:actionSupport event="onchange" action="{!userlistAdd}" rerender="oPanelSUB,errorMsg"  status="actionStatus" />
                        </apex:selectList>
                        <apex:outputText value="{!strSelectedProductId1}" label="{!$Label.BI_MM_BudgetView_ProductId}" id="prodToID" style="width: 60%;" />


                        <apex:selectList value="{!selectedBudgetType}"  size="1" label="{!$Label.BI_MM_BudgetView_budgetType}" id="budType" style="width: 60%;">
                                <span style="color : #CC0000;font-size: 19px;font-weight: bold;font-family: fantasy;">|</span>
                                <apex:selectOptions value="{!lstBudgetType}" />
                                <apex:actionSupport event="onchange" action="{!timeperiodAdd}" rerender="oPanelSUB,errorMsg,budType1,prodToID" status="actionStatus" />
                        </apex:selectList>
                        <apex:outputText value="{!selectedBudgetType1}" label="{!$Label.BI_MM_BudgetView_budgetType}" id="budType1"></apex:outputText>

                        <apex:selectList value="{!strSelectedPeriod}" size="1" label="{!$Label.BI_MM_BudgetView_lstMyTeamBudToDisp_TimePeriod}" Id="selectedPeriod" style="width:60%">
                            <span style="color : #CC0000;font-size: 19px;font-weight: bold;font-family: fantasy;">|</span>
                            <apex:selectOptions value="{!lstPeriods}" />
                            <apex:actionSupport event="onchange" action="{!availableAmtMethod}"  rerender="oPanelSUB,errorMsg,userSelect" />
                        </apex:selectList>

                        <apex:outputText value="{!strSelectedPeriod1}" label="{!$Label.BI_MM_BudgetView_lstMyTeamBudToDisp_TimePeriod}" id="selectedPeriod1" />

                        <apex:outputField Label="{!$Label.BI_MM_Budgetransfer_Global_CurrentBudget}" value="{!objBudget.BI_MM_CurrentBudget__c}" > </apex:outputField>
                        <apex:outputField Label="{!$Label.BI_MM_Budgetransfer_Global_CurrentBudget}"  value="{!objBudget1.BI_MM_CurrentBudget__c}" > </apex:outputField>

                        <apex:outputField label="{!$Label.BI_MM_BudgetView_lstMyTeamBudToDisp_AvailableBudget}" value="{!objBudget.BI_MM_AvailableBudget__c}" > </apex:outputField>
                        <apex:outputField label="{!$Label.BI_MM_BudgetView_lstMyTeamBudToDisp_AvailableBudget}" value="{!objBudget1.BI_MM_AvailableBudget__c}" > </apex:outputField>
                    </apex:pageBlockSection>
                </apex:actionRegion>
                <apex:pageBlockSection >
                     <apex:inputField label="{!$Label.BI_MM_Budgetransfer_Global_TransferAmount}" value="{!objBudget.BI_MM_TransferAmount__c}" />
                </apex:pageBlockSection>
                <div align="center" draggable="false" >
                    <!-- <apex:commandButton value="{!strSelectedTransfer}" onclick="validateInApex();" rerender="oPanelSUB,errorMsg" /> -->
                    <apex:commandButton value="{!strSelectedTransfer}" onclick="confirmation()" rerender="oPanelSUB,errorMsg"/>
                </div>
            </apex:outputPanel>
        </apex:pageblock>
        <apex:pageBlock rendered="{!displayPopUp}" >
            <div align ="center"> <H3>{!$Label.BI_MM_Transfer_Successful} </H3> </div>
            <apex:pageBlockSection >
                <apex:pageBlockSectionItem >
                    <apex:outputpanel id="pb23">
                            <apex:pageBlockSection title="{!$Label.BI_MM_Budgetransfer_Global_FromUserDetails}" columns="1" id="pbs13">
                            <apex:outputpanel layout="block">
                            <div style="margin-left:12px;"><span class="labelCol vfLabelColTextWrap  first ">{!$Label.BI_MM_Budgetransfer_Global_TerritoryName} </span>&nbsp;&nbsp;&nbsp;&nbsp;<apex:outputField value="{!objBudgetfinal.BI_MM_TerritoryName__r.name}" Id="userTerritoryId" label="Territory"/></div>
                            </apex:outputpanel>
                            <apex:outputtext value="{!objBudgetfinal.BI_MM_ProductName__r.Name}" label="{!$Label.BI_MM_BudgetView_ProductId}" />
                            <apex:outputtext value="{!objBudgetfinal.BI_MM_BudgetType__c}" label="{!$Label.BI_MM_BudgetView_budgetType}" />
                            <apex:outputText Label="{!$Label.BI_MM_Budgetransfer_Global_CurrentBudget}"> <c:BI_MM_FormatCurrency value="{!objBudgetfinal.BI_MM_CurrentBudget__c}" /> </apex:outputText>
                            <apex:outputtext label="{!$Label.BI_MM_BudgetView_lstMyTeamBudToDisp_AvailableBudget}" > <c:BI_MM_FormatCurrency value="{!objBudgetfinal.BI_MM_AvailableBudget__c}" /> </apex:outputText>
                        </apex:pageBlockSection>
                    </apex:outputpanel>

                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                     <apex:outputpanel id="pb253">
                        <apex:pageBlockSection title="{!$Label.BI_MM_Budgetransfer_Global_To_User_Details}" columns="1" id="pbs153">
                            <apex:outputpanel layout="block">
                            <div style="margin-left:12px;"><span class="labelCol vfLabelColTextWrap  first ">{!$Label.BI_MM_Budgetransfer_Global_TerritoryName} </span>&nbsp;&nbsp;&nbsp;&nbsp;<apex:outputField value="{!objBudgetfinal1.BI_MM_TerritoryName__r.name}" Id="userTerritoryId" label="Territory"/></div>
                            </apex:outputpanel>
                             <apex:outputtext value="{!objBudgetfinal1.BI_MM_ProductName__r.Name}" label="{!$Label.BI_MM_BudgetView_ProductId}" />
                            <apex:outputtext value="{!objBudgetfinal1.BI_MM_BudgetType__c}" label="{!$Label.BI_MM_BudgetView_budgetType}" />
                            <apex:outputText Label="{!$Label.BI_MM_Budgetransfer_Global_CurrentBudget}"> <c:BI_MM_FormatCurrency value="{!objBudgetfinal1.BI_MM_CurrentBudget__c}" /> </apex:outputText>
                                <apex:outputtext label="{!$Label.BI_MM_BudgetView_lstMyTeamBudToDisp_AvailableBudget}" > <c:BI_MM_FormatCurrency value="{!objBudgetfinal1.BI_MM_AvailableBudget__c}" /> </apex:outputText>
                        </apex:pageBlockSection>
                        <apex:commandButton value="OK" action="{!redirectPopup}" />
                    </apex:outputpanel>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <!--  Display Loading symbol-->
        <apex:actionstatus Id="actionStatus" startText="Please wait.....">
            <apex:facet name="start">
                <div id="salesforceSource_blurybackground" style="position:absolute; left:1px; top:1px; width:100%; height:100%; text-align:center; vertical-align: middle; z-index:300;background-color: #dcdcdc; opacity:0.01;filter:alpha(opacity=60) "></div>
                <div id="ManageMembersViewport_loading" class="waitingSearchDiv" style="width: 100%; height: 80%; display: ''; ">
                    <div style="width: 144px;vertical-align: middle;" class="waitingHolder">
                        <table align="center" valign="top" style="width: 100%; height: 30%">
                            <tr align="center" valign="top" style="width: 100%; height: 30%">
                            <td valign="top"><img src="/img/loading.gif"/><span class="waitingDescription"><b>Loading...</b></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="ManageMembersViewport_loading" class="waitingSearchDiv" style="width: 100%; height: 100%; display: ''; "/>
                <script>document.getElementById('ManageMembersViewport_loading').height = window.innerHeight * (3/4);</script>
            </apex:facet>
            <apex:facet name="stop"></apex:facet>
        </apex:actionstatus>
    </apex:form>
    </body>
</apex:page>