<apex:page showHeader="true" sidebar="true" lightningStylesheets="true">
	

	<apex:pageMessage rendered="{!$CurrentPage.parameters.e == 'ie'}" severity="warning" escape="false" summary="{!$Label.BI_PL_IE_Message}" strength="2" title="ALERT">
	</apex:pageMessage>
	<apex:pageMessage rendered="{!$CurrentPage.parameters.e == 'pg'}" severity="warning" escape="false" summary="{!$Label.BI_PL_No_Public_Group}" strength="2" title="ALERT">
	</apex:pageMessage>
</apex:page>