<apex:page standardcontroller="BI_PL_Preparation__c">
    <!-- JQuery -->
    <apex:includescript value="{!URLFOR($Resource.BI_PL_PLANiT_Dependencies, '/js/jquery-2.2.4.min.js')}" />
    <!-- JQuery DataTable -->
    <apex:stylesheet value="{!URLFOR($Resource.BI_PL_DataTable, 'datatables.css')}" />
    <apex:includescript value="{!URLFOR($Resource.BI_PL_DataTable, 'datatables.min.js')}" />
    <!-- Main Style Code -->
    <apex:includescript value="{!URLFOR($Resource.BI_PL_PlanitAdminJS)}" />
    <apex:stylesheet value="{!URLFOR($Resource.BI_PL_PlanitAdminCSS)}" />
    <!-- Font Awesome -->
    <apex:stylesheet value="{!URLFOR($Resource.BI_PL_DataTable, 'font-awesome-4.7.0/css/font-awesome.min.css')}" />
    <!-- DatePicker -->
    <apex:stylesheet value="{!URLFOR($Resource.BI_PL_PLANiT_Dependencies, 'css/bootstrap-datepicker.min.css')}" />
    <apex:includescript value="{!URLFOR($Resource.BI_PL_PLANiT_Dependencies, 'js/bootstrap-datepicker.min.js')}" />
    <!--Vue js -->
    <script src="https://unpkg.com/vue"></script>

    <p class="not-approved-error text-center">{!$Label.BI_PL_New_preparation_not_allowed}</p>

</apex:page>