<apex:page showHeader="true" sidebar="false" standardStylesheets="false" controller="BI_SP_OrderCtrl" >
     <html 
        xmlns:v-on="https://www.boehringer-ingelheim.com/schema" 
        xmlns:v-if="https://www.boehringer-ingelheim.com/schema" 
        xmlns:v-for="https://www.boehringer-ingelheim.com/schema" 
        xmlns:v-model="https://www.boehringer-ingelheim.com/schema"
        xmlns:v-bind="https://www.boehringer-ingelheim.com/schema">
            
        <head>

            <c:BI_SP_CommonHeader / >

            <c:BI_COMMON_VueForce namespace="BI_COMMON_" />

            <!-- Required resources to use datepickers for IE -->            
            <apex:includeScript value="{!URLFOR($Resource.BI_COMMON_jQuery_UI_DatePicker, 'jquery-ui.js')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.BI_COMMON_jQuery_UI_DatePicker, 'themes/base/jquery-ui.css')}"/>

            <style type="text/css">
                .vf-modal-body {
                    padding-left: 1.2em;
                    padding-right: 1.2em;
                }
            </style>
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

        </head>
        <body>
            <!-- Vue components -->
            <c:BI_PL_BatchStatusPoller />
            <c:BI_SP_ReportBuilderNav />
            
            <div id="sampro" class="bs" v-cloak="true">

                <report-builder-nav
                    id="reportBuilderNav" 
                    v-if="filters.isReportBuilder"
                    title="{!$Label.BI_SP_Report_builder_nav}" 
                    user-label="{!$Label.BI_SP_Viewing_as}"
                    v-model="filtersNav"
                    v-bind:is-report-builder="filters.isReportBuilder"
                    v-bind:is-only-report-builder="!userPermissions.isCS && !userPermissions.isDS"
                    v-bind:is-disabled-all="!statusPoolerEnded">
                </report-builder-nav>

                <vf-modal id="modalConfirmationCreation" title="{!$Label.BI_SP_Create_Orders}" v-if="modalConfirmationCreation" v-on:close="modalConfirmationCreation = false" width="50% !important">
                    <div slot="body">
                        {!$Label.BI_SP_Orders_Created}

                    </div>
                    <div slot="footer">
                        <button type="button" class="btn btn-primary" v-on:click="createOrders()" v-bind:disabled="blockActions"> {!$Label.BI_SP_Confirm} </button> 

                        <button type="button" class="btn btn-default" v-on:click="modalConfirmationCreation = false" v-bind:disabled="blockActions"> {!$Label.Common_CancelButton_vod}</button>
                        
                    </div>
                </vf-modal>               

                <vf-modal id="modalFinish" title="{!$Label.BI_SP_Create_Orders}" v-if="modalFinish" v-on:close="continueInPage()" width="50% !important">
                    <div slot="body">
                        {!$Label.BI_SP_ProcessFinished}
                    </div>
                    <div slot="footer">
                        <button type="button" class="btn btn-primary" v-on:click="continueInPage()"> {!$Label.BI_SP_Close} </button>
                    </div>
                </vf-modal>

                <vf-modal id="modalConfirmation" title="{!$Label.BI_SP_Send_Orders}" v-if="modalConfirmation" v-on:close="modalConfirmation = false" width="50% !important">
                    <div slot="body">
                        {!$Label.BI_SP_Send_Orders_Confirmation}
                    </div>
                    <div slot="footer">
                        <button type="button" class="btn btn-primary" v-on:click="sendSelectedOrders()" > {!$Label.BI_SP_Confirm} </button> 

                        <button type="button" class="btn btn-default" v-on:click="modalConfirmation = false"> {!$Label.Common_CancelButton_vod}</button>
                        
                    </div>
                </vf-modal>

                <vf-modal id="modalConfirmationCancel" title="{!$Label.BI_SP_Cancel_orders}" v-if="modalConfirmationCancel" v-on:close="modalConfirmationCancel = false" width="50% !important">
                    <div slot="body">
                        {!$Label.BI_SP_Cancel_orders_confirm}
                    </div>
                    <div slot="footer">
                        <button type="button" class="btn btn-primary" v-on:click="cancelSelectedOrders()" > {!$Label.BI_SP_Confirm} </button> 

                        <button type="button" class="btn btn-default" v-on:click="modalConfirmationCancel = false"> {!$Label.Common_CancelButton_vod}</button>
                        
                    </div>
                </vf-modal>

                <vf-modal id="modalShipmentErrors" title="{!$Label.BI_SP_Check_Errors}" v-if="modalShipmentErrors" v-on:close="modalShipmentErrors = false">
                    <div slot="body">
                        <vf-table id="grid" 
                                v-bind:loader="shipmentErrorLoader" 
                                v-bind:columns="shipmentErrorColumns" 
                                v-bind:items="shipmentErrors" 
                                v-bind:selectable="true" 
                                v-bind:exportable="false" 
                                v-bind:searchable="true">
                        </vf-table>
                    </div>
                    <div slot="footer">
                        <button type="button" class="btn btn-default" v-on:click="modalShipmentErrors = false"> {!$Label.Common_CancelButton_vod}</button>
                        
                    </div>
                </vf-modal>
                
                <div>

                    <!-- <div class="well bg-warning" v-if="!userPermissions.isMDMActive && !filtersNav.selectedReportBuilder">
                        <span class="glyphicon glyphicon-exclamation-sign text-danger"> </span> {!$Label.BI_SP_NORightPermissions}
                    </div> -->



                    <!-- <div v-if="userPermissions.isMDMActive || filtersNav.selectedReportBuilder"> -->
                    <div>
                        <ul class="nav nav-tabs" v-if="statusPoolerEnded">
                            <li v-if="!filtersNav.selectedReportBuilder" v-bind:class="(activeTab == 'creation' ? 'active' : '')">
                                <a data-toggle="tab" role="button" v-on:click="activeTab = 'creation'"><h3>{!$Label.BI_SP_Orders_Creation}</h3></a>
                            </li>
                            <li v-bind:class="(activeTab == 'delivery' ? 'active' : '')">
                                <a data-toggle="tab" role="button" v-on:click="activeTab = 'delivery'"><h3>{!$Label.BI_SP_Orders_Delivery}</h3></a>
                            </li>
                        </ul>
                        <ul class="nav nav-tabs" v-if="!statusPoolerEnded">
                            <li v-if="!filtersNav.selectedReportBuilder" v-bind:class="(activeTab == 'creation' ? 'active' : '')">
                                <a><h3>{!$Label.BI_SP_Orders_Creation}</h3></a>
                            </li>
                            <li v-bind:class="(activeTab == 'delivery' ? 'active' : '')">
                                <a><h3>{!$Label.BI_SP_Orders_Delivery}</h3></a>
                            </li>
                        </ul>

                        <div class="tab-content">

                            <!-- Panel delivery -->
                            <div v-bind:class="'sampro-tab-content tab-pane fade in ' + (activeTab == 'delivery' ? 'active' : '')">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <form class="form-inline">
                                                    <div class="form-group form-group-sm">
                                                        <label class="sampro-inline-label control-label">{!$Label.BI_SP_Order_Type}</label>
                                                        <select class="form-control input-sm" v-model="filters.selectedType" v-bind:disabled="!hasCorrectRegionSelected">
                                                            <option v-bind:value="null">{!$Label.BI_SP_None}</option>
                                                        <option v-for="type in filters.orderTypes" v-bind:value="type.value">{{type.label}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group form-group-sm" v-if="filters.selectedType == 'SS'">
                                                        <label class="sampro-inline-label control-label">{!$Label.BI_SP_Shipment_Type}</label>
                                                        <select class="form-control input-sm" v-model="filters.selectedShipmentType" v-bind:disabled="!hasCorrectRegionSelected">
                                                            <option v-bind:value="null">{!$Label.BI_SP_All_Shipments}</option>
                                                        <option v-for="type in filters.shipmentTypes" v-bind:value="type.value">{{type.label}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group form-group-sm">
                                                        <label class="sampro-inline-label control-label">{!$Label.BI_SP_Country}</label>
                                                            <select class="form-control input-sm" v-model="filters.selectedCountry" v-bind:disabled="!hasCorrectOrderTypeSelected">
                                                                <option v-bind:value="null">{!$Label.BI_SP_None}</option>
                                                                <option v-for="country in filters.countries" v-bind:value="country">{{country}}</option>
                                                            </select>
                                                    </div>  
                                                    <div class="form-group form-group-sm">
                                                        <label class="col-sx-4 col-sm-4 col-md-4 control-label">{!$Objecttype.BI_SP_Preparation_period__c.fields.Name.label}</label>
                                                        <div class="col-sx-8 col-sm-8 col-md-8">
              
                                                            <vf-lookup 
                                                                styleclass="form-control input-sm" 
                                                                buttonstyleclass="btn btn-primary"
                                                                sobject="BI_SP_Preparation_period__c" 
                                                                fields="Name,BI_SP_Distribution_prep_period_start_dat__c,BI_SP_Approaches_end_date__c,BI_SP_Adjustments_end_date__c,BI_SP_Approval_end_date__c,BI_SP_Distribution_prep_period_end_date__c,BI_SP_Planit_cycle__r.Name"
                                                                v-bind:remote-source="lookupPeriodsAction"
                                                                v-bind:remote-params="lookupPeriodsParams"
                                                                v-model="filters.selectedPeriod"
                                                                v-bind:disabled="!filters.selectedCountry || !hasArticlePrepTypeSelected">
                                                                    
                                                                </vf-lookup>
                                                        </div>

                                                    </div>

                                                    <div class="form-group form-group-sm">
                                                        <label class="filter-col"> {!$Objecttype.BI_SP_Order__c.fields.BI_SP_Article_type__c.label}</label>
                                                        <select v-model="filters.selectedArticleType" class="form-control input-sm" >
                                                            <option v-bind:value="null">{!$Label.BI_SP_None}</option> 
                                                            <option v-for="articleType in filters.articleTypes" v-bind:value="articleType.value">{{articleType.label}}</option> 
                                                        </select>                            
                                                    </div>
                                                    <!-- <div class="form-group form-group-sm" v-if="countryCanSendOrders"> -->
                                                    <div class="form-group form-group-sm">
                                                        <label class="sampro-inline-label control-label">{!$Label.BI_SP_Delivery_Status}</label>
                                                            <select class="form-control input-sm" v-model="filters.selectedDeliveryStatus">
                                                                <option v-bind:value="null">{!$Label.BI_SP_None}</option>
                                                                <option v-for="status in filters.deliveryStatuses" v-bind:value="status.value">{{status.label}}</option>
                                                            </select>
                                                    </div>  
                                                    <div class="form-group form-group-sm">
                                                        <label class="sampro-inline-label control-label">{!$Label.BI_SP_Delivery_Date}</label>
                                                            <!-- <input class="form-control input-sm" type="date" v-model="filters.selectedDeliveryDate" /> -->
                                                            <vf-input id="deliveryDate" field="BI_SP_Order__c.BI_SP_Delivery_date__c" v-model="filters.selectedDeliveryDate"/>
                                                    </div>  
                                                                                              
                                                                                          
                                                                                                                                     
                                                                                                                                                                                                                                            
                                                            
                                                    <div class="form-group form-group-sm"  v-if="countryCanSendOrders">
                                                        <label class="sampro-inline-label control-label">{!$Objecttype.BI_SP_Order__c.fields.BI_SP_Order_date__c.label}</label>
                                                            <!-- <input class="form-control input-sm" type="date" v-model="filters.selectedOrderDate" /> -->
                                                            <vf-input id="orderDate" field="BI_SP_Order__c.BI_SP_Order_date__c" v-model="filters.selectedOrderDate"/>
                                                    </div> 
                                                          
                                                </form>
                                            </div>
                                        </div>


                                        <div v-if="hasRequiredFilters">
                                            <vf-table id="grid" 
                                                ref="ordersTable" 
                                                v-bind:loader="ordersLoader" 
                                                v-bind:columns="ordersColumns" 
                                                v-bind:items="orders" 
                                                v-bind:selectable="true" 
                                                v-bind:exportable="false"
                                                v-bind:searchable="true"
                                                v-bind:drillable="true"
                                                v-bind:selectable-all-grid-items="true"
                                                v-bind:row-class="rowClass"

                                                v-on:items-selected="selectedOrders = $event"
                                                unique-key="order.Id"
                                                                               
                                                v-bind:extra-options="300">

                                                    <template slot="globalActions">
                                                        <button type="button" class="btn btn-sm btn-primary" v-on:click="exportSelectedItemsTable()">
                                                            <vf-svg-icon path="action/download" />
                                                            <template v-if="selectedOrders.length > 0">{{labels.export}} selected items</template>
                                                            <template v-if="!selectedOrders || selectedOrders.length == 0">{{labels.export}}</template>
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-success" v-on:click="exportItemsTable()"> <span class="glyphicon glyphicon-export"></span> 
                                                            <template v-if="selectedOrders.length > 0">{!$Label.BI_SP_Export_plain_selected_items}</template>
                                                            <template v-if="!selectedOrders || selectedOrders.length == 0">{!$Label.BI_SP_Export_plain}</template>
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-warning" v-on:click="checkShipmentErrors()"> {!$Label.BI_SP_Check_Errors} </button>
                                                    </template>

                                                    <template slot="details" scope="props">
                                                        <div style="background-color: rgba(66, 139, 202, 0.2);padding: 1em;">
                                                            <vf-table id="grid" 
                                                                v-bind:loader="ordersLoader" 
                                                                v-bind:columns="orderItemsColumns" 
                                                                v-bind:items="props.item.orderItems" 
                                                                v-bind:searchable="false"
                                                                v-bind:hidable="false"
                                                                v-bind:show-paginator-controls="!props.exporting"
                                                                unique-key="orderItem.Id"
                                                                >
                                                            </vf-table>
                                                        </div>
                                                    </template>
                                            </vf-table>
                                        </div>
                                        
                                        <!--GRID TO EXPORT -->
                                        <div v-if="hasRequiredFilters" v-show="false">
                                            <vf-table 
                                                id="exportGrid" 
                                                ref="exportGrid"
                                                v-bind:items="selectedOrders" 
                                                v-bind:columns="ordersColumns"
                                                v-bind:searchable="false"
                                                v-bind:hidable="false"
                                                v-bind:drillable="true">
                                                <template slot="details" scope="props">
                                                    <div style="background-color: rgba(66, 139, 202, 0.2);padding: 1em;">
                                                        <vf-table id="grid" 
                                                            v-bind:loader="ordersLoader" 
                                                            v-bind:columns="orderItemsColumns" 
                                                            v-bind:items="props.item.orderItems" 
                                                            v-bind:searchable="false"
                                                            v-bind:hidable="false"
                                                            v-bind:show-paginator-controls="!props.exporting"
                                                            unique-key="orderItem.Id">
                                                        </vf-table>
                                                    </div>
                                                </template>
                                            </vf-table>
                                        </div>


                                       <div class="row" v-if="hasRequiredFiltersToSendCancel">
                                            <div class="col-md-6 col-md-offset-3 text-center" >
                                                <button type="button" class="btn btn-primary" v-if="hasArticlePrepTypeSelected && countryCanSendOrders && !filtersNav.selectedReportBuilder" v-on:click="modalConfirmation = true" v-bind:disabled="!canSend"> {!$Label.BI_SP_Send_Orders} </button>
                                                <button type="button" class="btn btn-danger" v-if="!filtersNav.selectedReportBuilder" v-on:click="modalConfirmationCancel = true" v-bind:disabled="!canCancel">{!$Label.BI_SP_Cancel_orders} </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Panel creation -->
                            <div v-bind:class="'sampro-tab-content tab-pane fade in ' + (activeTab == 'creation' ? 'active' : '')">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <form class="form-inline">
                                                    <div class="form-group form-group-sm">
                                                        <label class="sampro-inline-label control-label">{!$Label.BI_SP_Country}</label>
                                                            <select class="form-control input-sm" v-model="filters.selectedCountryCreation" v-bind:disabled="!statusPoolerEnded">
                                                                <option v-bind:value="null">{!$Label.BI_SP_None}</option>
                                                                <option v-for="country in filters.countries" v-bind:value="country">{{country}}</option>
                                                            </select>
                                                    </div>  
                                                    <div class="form-group form-group-sm">
                                                        <label class="col-sx-4 col-sm-4 col-md-4 control-label">{!$Objecttype.BI_SP_Preparation_period__c.fields.Name.label}</label>
                                                        <div class="col-sx-8 col-sm-8 col-md-8">
              
                                                            <vf-lookup 
                                                                styleclass="form-control input-sm" 
                                                                buttonstyleclass="btn btn-primary"
                                                                sobject="BI_SP_Preparation_period__c" 
                                                                fields="Name,BI_SP_Distribution_prep_period_start_dat__c,BI_SP_Approaches_end_date__c,BI_SP_Adjustments_end_date__c,BI_SP_Approval_end_date__c,BI_SP_Distribution_prep_period_end_date__c,BI_SP_Planit_cycle__r.Name"
                                                                v-bind:remote-source="lookupPeriodsCreationAction"
                                                                v-bind:remote-params="lookupPeriodsCreationParams"
                                                                v-model="filters.selectedPeriodCreation"
                                                                v-bind:disabled="!filters.selectedCountryCreation || !statusPoolerEnded">
                                                                    
                                                                </vf-lookup>
                                                        </div>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!--Batch poller -->
                                        <div class="panel panel-default" v-if="orderCreationBatchIds != null && orderCreationBatchIds.length > 0">
                                            <div class="panel-body">
                                                <batch-status-poller v-bind:batch-ids="orderCreationBatchIds" v-on:batch-completed="backProcessStatus = 'finished'"/>
                                            </div>
                                        </div>

                                        <p>
                                            {!$Label.BI_SP_Orders_Created}
                                        </p>
                                        <button class="btn btn-primary" type="button" v-if="!filtersNav.selectedReportBuilder" v-on:click="modalConfirmationCreation = true" v-bind:disabled="filters.selectedPeriodCreation == null || !statusPoolerEnded"> {!$Label.BI_SP_Create_Orders} </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </body>

        <script>
            Vue.use(VueForce);
            var samProPreparation = new Vue({
            
                el: "#sampro",

                data : function() {
                    return {

                        activeTab : 'delivery',

                        filtersNav : {     
                            selectedReportBuilder : false,                      
                            regions : [],
                            selectedRegion : null
                        },

                        filters : {
                            isReportBuilder : false,
                            orderTypes : [],
                            deliveryStatuses : [],
                            countries : [],
                            articleTypes : [],
                            allOrderTypes : [],
                            allArticleTypes : [],
                            allDeliveryStatus : [],

                            selectedType : null,
                            selectedShipmentType : null,
                            selectedArticleType : null,
                            selectedDeliveryStatus : null,
                            selectedDeliveryDate : null,
                                                                                                       
                            selectedOrderDate : null,
                            selectedCountry : null,
                            selectedCountryCreation : null,
                            selectedPeriod : null,
                            selectedPeriodCreation : null

                        },

                        modalShipmentErrors : false,
                        modalConfirmation : false,
                        modalConfirmationCreation : false,
                        modalConfirmationCancel : false,
                        modalFinish : false,

                        /**
                         * Order to show in grid
                         */
                        orders : [],

                        userPermissions : JSON.parse('{!userPermissionsJSON}'),
                        countryCanSendOrders : null,

                        /**
                         * Orders selected on the grid
                         */
                        selectedOrders : [],

                        /**
                         * Columns for orders grid
                         */
                        ordersColumns : [],
                        orderItemsColumns : [],

                        /**
                         * Ids of the batches submitted to create orders
                         */
                        orderCreationBatchIds : [],
                        backProcessStatus : 'initial',
                        statusPoolerEnded : true,

                        /**
                         * List of errors in orders
                         */
                        shipmentErrors : [],

                        lookupPeriodsAction : 'BI_SP_OrderCtrl.getAllPeriods',
                        lookupPeriodsCreationAction : 'BI_SP_OrderCtrl.getPeriods',

                        /**
                         * Columns for errors grid
                         */
                        shipmentErrorColumns : [
                            {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Territory_name__c.label}', field : 'order.BI_SP_Territory_name__c', hidable : true, hidden : false},
                            {label : '{!$Label.BI_SP_Error}', field : 'error', hidable : true, hidden : false}
                        ],

                        rowClass : function(item) {
                            var cls = '';
                            if(item.error !== '') cls = 'error';
                            return cls;
                        },

                        canSendOrdersForPeriod : false,


                        shipmentErrorLoader : false,
                        ordersLoader : false,

                        isSAPCountry : false,
                        isZenaturCountry : false,

                        blockActions : false,

                        blockOrderLoading : false,
                        
                        myNewVariable : true
                    }
                }, 

                computed : {
                    userLocaleForDate : function() {
                        var u = this.$vfstore.getters.getUserInfo;
                        return u.locale.split('_')[0];
                    },
                    lookupPeriodsParams : function() {
                        return [
                            this.filters.selectedCountry
                        ]
                    },
                    lookupPeriodsCreationParams : function() {
                        return [
                            this.filters.selectedCountryCreation
                        ]
                    },
                    hasRequiredFilters : function() {
                        if(this.hasArticlePrepRequiredFilters || this.hasSpecialShipmentRequiredFilters){
                            return true;
                        }
                        return false;
                    },
                    hasRequiredFiltersToSendCancel : function() {
                        if(this.hasRequiredFilters){
                            return this.canSendOrdersForPeriod;
                        }
                        return false;
                    },
                    hasArticlePrepRequiredFilters : function() {
                        return this.filters.selectedCountry !== null && this.filters.selectedPeriod !== null && this.filters.selectedType === 'AP';
                    },
                    hasSpecialShipmentRequiredFilters : function() {
                        // return (((this.filters.selectedType === 'SS' || this.filters.selectedType === 'MS') && this.filters.selectedCountry!== null) || this.filters.selectedType === 'MSEX');
                        return ((this.filters.selectedType === 'SS' || this.filters.selectedType === 'MS' || this.filters.selectedType === 'MSEX') && this.filters.selectedCountry!== null);
                    },
                    hasArticlePrepTypeSelected: function() {
                        return this.filters.selectedType === 'AP';
                    }, 
                    hasCorrectOrderTypeSelected: function() {
                        // return (this.filters.selectedType === 'AP' || this.filters.selectedType === 'SS' || this.filters.selectedType === 'MS');
                        return (this.filters.selectedType === 'AP' || this.filters.selectedType === 'SS' || this.filters.selectedType === 'MS' || this.filters.selectedType === 'MSEX');
                    },
                    nowICreateANewComputedMethodForF1 : function () {
                        return 'This was added in F1';
                    },
                    hasCorrectRegionSelected: function() {
                        return (this.filtersNav.selectedReportBuilder === false || (this.filtersNav.selectedReportBuilder === true && this.filtersNav.selectedRegion !== null));
                    }, 
                    canSend: function() {
                        return this.selectedOrders.length > 0;
                    }, 
                    canCancel: function() {
                        return this.selectedOrders.length > 0;
                    },
                    someFunMethod : function () {
                        return 'Basically I do nothing Fixed';
                    },
                    labels : function() { return this.$vfstore.getters.getLabels;}

                    // toExportItems : function() {
                    //     var self = this;
                    //     var oitems = [];
                    //     //remove reactivity on orders (dont want to impact performance)
                    //     var tmpOrders = JSON.parse(JSON.stringify(this.orders));

                    //     tmpOrders.forEach(function(order) {
                    //         if(order.orderItems) {
                    //             order.orderItems.forEach(function(item){
                    //                 //translate item type
                    //                 self.filters.allArticleTypes.forEach(function(atype) {
                    //                     if(atype.value === item.BI_SP_Article_type__c){
                    //                         item.BI_SP_Article_type__c = atype.label;
                    //                     }
                    //                 });
                                    
                    //                 //Ad to plain collection
                    //                 oitems.push(item);
                    //             });
                    //         }
                    //     });

                    //     return oitems;
                    // }
                },

                watch : {
                    filters : {
                        handler : function (val){
                            myNewVariable = false;

                            // do stuff
                            console.log('filtersChanged');
                            // if((this.filters.selectedPeriod != null && this.filters.selectedCountry != null) || ((this.filters.selectedType === 'MS' || this.filters.selectedType === 'SS') && this.filters.selectedCountry != null) || (this.filters.selectedType === 'MSEX' && this.filters.selectedCountry == null)){
                            if((this.filters.selectedPeriod != null && this.filters.selectedCountry != null) || ((this.filters.selectedType === 'MS' || this.filters.selectedType === 'SS' || this.filters.selectedType === 'MSEX') && this.filters.selectedCountry != null) && !this.blockOrderLoading){
                                this.getOrderModels(null);
                            }

                            if (this.blockOrderLoading)
                                this.blockOrderLoading = false;
                        },
                        
                        deep: true
                    },

                    'filtersNav.selectedReportBuilder' : function(newValue){
                        this.activeTab = 'delivery';
                        this.filters.selectedType = null;
                        this.filters.selectedShipmentType = null;
                        this.filters.selectedArticleType = null;
                        this.filters.selectedDeliveryStatus = null;
                        this.filters.selectedDeliveryDate = null;
                                                                                                                    
                        this.filters.selectedOrderDate = null;
                        this.filters.selectedCountry = null;
                        this.filters.selectedCountryCreation = null;
                        this.filters.selectedPeriod = null;
                        this.filters.selectedPeriodCreation = null;

                        this.orderCreationBatchIds = [];

                        //this.modifyOrderColumns();

                        var self = this;
                        if(newValue === false){
                            BI_SP_OrderCtrl.getUserCountryCodes(this.filters.isReportBuilder, newValue, this.filtersNav.selectedRegion, function(resp, event) {
                                if(event.statusCode == 200) {
                                    self.filters.countries = JSON.parse(resp);
                                }
                            }, {escape : false });
                        }

                    },

                    'filtersNav.selectedRegion' : function(newValue){
                        this.activeTab = 'delivery';
                        this.filters.selectedType = null;
                        this.filters.selectedArticleType = null;
                        this.filters.selectedDeliveryStatus = null;
                        this.filters.selectedDeliveryDate = null;
                                                                                                                
                        this.filters.selectedOrderDate = null;
                        this.filters.selectedCountry = null;
                        this.filters.selectedCountryCreation = null;
                        this.filters.selectedPeriod = null;
                        this.filters.selectedPeriodCreation = null;

                        this.orderCreationBatchIds = [];

                        var self = this;
                        if(this.filtersNav.selectedReportBuilder === true){
                            BI_SP_OrderCtrl.getUserCountryCodes(this.filters.isReportBuilder, this.filtersNav.selectedReportBuilder, newValue, function(resp, event) {
                                if(event.statusCode == 200) {
                                    self.filters.countries = JSON.parse(resp);
                                }
                            }, {escape : false });
                        }
                        
                    },

                    'filters.selectedCountry' : function(newValue){                   
                        this.lookupProductsParams = [];
                        this.lookupProductsParams.push(newValue);
                        this.filters.selectedPeriod = null;

                        this.getCountryFilters();
                    },

                    'filters.selectedType' : function(newValue){ 
                        this.filters.selectedCountry = null;   
                    }, 

                    backProcessStatus : function(newValue, oldValue) {
                        if(oldValue == 'running' && newValue == 'finished') {                           
                            this.modalFinish = true;
                        }
                    }

                },

                methods : {
                    continueInPage : function() {
                        this.filters.selectedCountryCreation = null;
                        this.filters.selectedPeriodCreation = null;
                        this.statusPoolerEnded = true;

                        this.modalFinish = false;
                    },

                    exportSelectedItemsTable : function() {
                        if(this.selectedOrders.length > 0) {
                            // Export only selected items
                            this.$refs.exportGrid.exportToExcel();
                        } else {
                            // Export all table items
                            this.$refs.ordersTable.exportToExcel();
                        }
                    },

                    exportItemsTable : function() {
                        //samProPreparation.$refs.exportGrid.exportToExcel();
                        var deliveryDate = this.filters.selectedDeliveryDate
                                ? new Date(this.filters.selectedDeliveryDate).toISOString()
                                : null;

                        var orderDate = this.filters.selectedOrderDate
                                ? new Date(this.filters.selectedOrderDate).toISOString()
                                : null;

                        this.sendPostRequestWithParams('/apex/BI_SP_OrderExportPlainFile', {
                            orderType: this.filters.selectedType ? this.filters.selectedType : '',
                            shipmentType: this.filters.selectedShipmentType ? this.filters.selectedShipmentType : '',
                            articleType: this.filters.selectedArticleType ? this.filters.selectedArticleType : '',
                            deliveryStatus: this.filters.selectedDeliveryStatus ? this.filters.selectedDeliveryStatus : '',
                            deliveryDate: deliveryDate ? deliveryDate : '',
                            orderDate: orderDate ? orderDate : '',
                            countryCode: this.filters.selectedCountry ? this.filters.selectedCountry : '',
                            periodId: this.filters.selectedPeriod ? (this.filters.selectedPeriod.Id ? this.filters.selectedPeriod.Id : '') : '',
                            selectedItems: this.selectedOrders.length>0 ? _.transform(this.selectedOrders, function(result, value, key) { result.push(value.order.Id);}, []) : ''
                        });
                    },

                    sendPostRequestWithParams : function (path, params) {
                        var form = document.createElement("form");
                        form.setAttribute("method", "post");
                        form.setAttribute("action", path);

                        for(var key in params) {
                            if(params.hasOwnProperty(key)) {
                                var hiddenField = document.createElement("input");
                                hiddenField.setAttribute("type", "hidden");
                                hiddenField.setAttribute("name", key);
                                hiddenField.setAttribute("value", params[key]);

                                form.appendChild(hiddenField);
                            }
                        }

                        document.body.appendChild(form);
                        form.submit();
                    },

                    sendSelectedOrders : function() {                       
                        let self = this;

                        BI_SP_OrderCtrl.sendOrders(this.selectedOrders, function(resp, ev){
                            console.log('sendOrders response');
                            if(ev.statusCode == 200) {
                                //TODO check lastoffset and recall
                                self.getOrderModels(null);
                            }
                            
                        }, { escape : false });

                        this.modalConfirmation = false;
                    },

                    cancelSelectedOrders : function() {                       
                        let self = this;

                        BI_SP_OrderCtrl.cancelOrders(this.selectedOrders, function(resp, ev){
                            console.log('sendOrders response');
                            if(ev.statusCode == 200) {
                                //TODO check lastoffset and recall
                                self.getOrderModels(null);
                            }
                            
                        }, { escape : false });

                        this.modalConfirmationCancel = false;
                    },

                    getOrderModels : function(offset) {
                        let self = this;

                        if(offset === null) {
                            this.orders = []; //Clear orders
                            this.canSendOrdersForPeriod = false;
                        }

                        //Avoid sending incorrect dates (such '1-1-1970' or '') to the server. 
                        //'null' is expected on the server
                        var deliveryDate = this.filters.selectedDeliveryDate
                                ? new Date(this.filters.selectedDeliveryDate).toISOString()
                                : null;
                                                                                 
                                                                                  
                        myNewVariable = true;                                                                      
                                       

                        var orderDate = this.filters.selectedOrderDate
                                ? new Date(this.filters.selectedOrderDate).toISOString()
                                : null;

                        //Call remoting
                        this.ordersLoader = true;
                        BI_SP_OrderCtrl.getOrders(this.filters.selectedType,this.filters.selectedShipmentType, this.filters.selectedArticleType, this.filters.selectedDeliveryStatus, deliveryDate, orderDate, this.filtersNav.selectedRegion, this.filters.selectedCountry, this.filters.selectedPeriod, offset, function(resp, ev){
                            console.log('getOrderModels response');
                            if(ev.statusCode == 200) {

                                //TODO check lastoffset and recall
                                self.orders.push.apply(self.orders, resp.orderModels);
                                self.canSendOrdersForPeriod = resp.canSendOrdersForPeriod;
                                
                                if(resp.lastIdOffset) {
                                    self.getOrderModels(resp.lastIdOffset);
                                } else {
                                    self.ordersLoader = false;
                                }
                            }else{
                                self.ordersLoader = false;
                            }
                                                        
                        });
                    },

                    checkShipmentErrors : function() {
                        this.modalShipmentErrors = true;
                        this.getOrdersErrors();
                    },

                    /**
                     * Gets the articles for e shop configuration.
                     */
                    getOrdersErrors : function() {
                        var self = this;
                        self.shipmentErrors = [];
                        this.shipmentErrorLoader = true;
                        this.orders.forEach(function(element) {
                            if(element.error !== "" && element.error !== null)
                                self.shipmentErrors.push(element);
                        });
                        this.shipmentErrorLoader = false;
                    },

                    createOrders : function() {
                        let self = this;
                        this.orderCreationBatchIds = [];
                        this.statusPoolerEnded = false;
                        this.modalConfirmationCreation = false;
                        this.blockActions = true;
                        BI_SP_OrderCtrl.createOrders(this.filters.selectedPeriodCreation, function(resp, ev){
                            if(ev.statusCode == 200){
                                self.backProcessStatus = 'running';
                                self.orderCreationBatchIds.push(resp);
                            }
                            self.blockActions = false;
                        }, { escape : false });
                    },

                    getFilters : function() {
                        let self = this;
                        this.filters.isReportBuilder = this.userPermissions.isRB;
                        this.filtersNav.selectedReportBuilder = false;

                        BI_SP_OrderCtrl.getFilters(this.filters.selectedCountry, function(resp, event) {
                            if(event.statusCode == 200) {
                                self.filtersNav.regions = JSON.parse(resp.region);
                                self.filters.countries = JSON.parse(resp.country);
                                self.filters.articleTypes = JSON.parse(resp.articleTypes);
                                self.filters.deliveryStatuses = JSON.parse(resp.deliveryStatus);
                                self.filters.orderTypes = JSON.parse(resp.orderTypes);                                
                                self.filters.shipmentTypes = JSON.parse(resp.shipmentTypes);
                                self.filters.allOrderTypes = JSON.parse(resp.allOrderTypes);
                                self.filters.allArticleTypes = JSON.parse(resp.allArticleTypes);
                                self.filters.allDeliveryStatus = JSON.parse(resp.allDeliveryStatus);
                                self.countryCanSendOrders = resp.countryCanSendOrders;
                                self.isSAPCountry = resp.isSAPCountry;
                                self.isZenaturCountry = resp.isZenaturCountry;
                            }
                            
                            //self.modifyOrderColumns();
                            self.getOrderColumnsForCountry();

                        }, {escape : false });
                    },

                    getCountryFilters : function() {
                        let self = this;

                        BI_SP_OrderCtrl.getFilters(this.filters.selectedCountry, function(resp, event) {
                            if(event.statusCode == 200) {
                                self.blockOrderLoading = true;
                                self.filters.articleTypes = JSON.parse(resp.articleTypes);
                                self.filters.deliveryStatuses = JSON.parse(resp.deliveryStatus);
                                self.filters.orderTypes = JSON.parse(resp.orderTypes);
                                if(resp.shipmentType != undefined){
                                self.filters.shipmentTypes = JSON.parse(resp.shipmentType);}
                                self.filters.allOrderTypes = JSON.parse(resp.allOrderTypes);
                                self.filters.allArticleTypes = JSON.parse(resp.allArticleTypes);
                                self.filters.allDeliveryStatus = JSON.parse(resp.allDeliveryStatus);
                                self.countryCanSendOrders = resp.countryCanSendOrders;
                                self.isSAPCountry = resp.isSAPCountry;
                                self.isZenaturCountry = resp.isZenaturCountry;
                                                                  
                            }
                            self.getOrderColumnsForCountry();

                        }, {escape : false });
                    },

                    getOrderColumnsForCountry : function(){
                        if(this.filters.selectedType == 'MSEX'){
                            this.ordersColumns = [
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.Name.label}', field : 'order.Name', hidable : true, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Order_type_pl__c.label}', 
                                        value : function(i, col){ 
                                                var label = "";
                                                samProPreparation.filters.allOrderTypes.forEach(function(oType) {
                                                    if(oType.value == i.order.BI_SP_Order_type_pl__c){
                                                        label = oType.label;
                                                    }
                                                });
                                                return label;

                                        },
                                        hidable : true, hidden : false
                                    },
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Article_type__c.label}', 
                                        value : function(i, col){ 
                                                var label = "";
                                                samProPreparation.filters.allArticleTypes.forEach(function(aType) {
                                                    if(aType.value == i.order.BI_SP_Article_type__c){
                                                        label = aType.label;
                                                    }
                                                });
                                                return label;

                                        },
                                        hidable : true, hidden : false
                                    },
                                    {label : '{!$Label.BI_SP_Country}', field : 'order.BI_SP_Country_code__c', hidable : true, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Sales_rep_name__c.label}', field : 'order.BI_SP_Sales_rep_name__c', hidable : true, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Sales_rep_address__c.label}', field : 'order.BI_SP_Sales_rep_address__c', hidable : true, hidden : false},
                                    {
                                        label : '{!$Label.BI_SP_Delivery_Date}',
                                        field : 'order.BI_SP_Delivery_date__c',
                                        hidable : true, hidden : false,
                                        value : function(i, col){ 
                                            var d = i.order.BI_SP_Delivery_date__c ? new Date(i.order.BI_SP_Delivery_date__c) : '';
                                            var newd = i.order.BI_SP_Delivery_date__c ? d.setTime( d.getTime() + d.getTimezoneOffset()*60*1000 ) : '';
                                            return i.order.BI_SP_Delivery_date__c ? new Date(newd).toLocaleDateString(this.userLocaleForDate) : '';
                                            // return i.order.BI_SP_Delivery_date__c ? new Date(i.order.BI_SP_Delivery_date__c).toLocaleDateString(this.userLocaleForDate) : '';
                                        }
                                    },
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Special_shipment_description__c.label}', field : 'order.BI_SP_Special_shipment_description__c', hidable : true, hidden : false},

                                ];
                        }else{
                            this.modifyOrderColumns();
                            if(this.filters.selectedType == 'MS' || this.filters.selectedType == 'SS'){
                                this.ordersColumns.splice(1, 2);
                                this.ordersColumns.push({
                                    label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Special_shipment_description__c.label}', 
                                    field : 'order.BI_SP_Special_shipment_description__c', 
                                    hidable : true, 
                                    hidden : false
                                });
                            }
                        }

                        if(this.countryCanSendOrders){   
                            this.ordersColumns.push({
                                    label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Order_date__c.label}',
                                    field : 'order.BI_SP_Order_date__c',
                                    hidable : true, hidden : false,
                                    value : function(i, col){ 
                                        var d = i.order.BI_SP_Order_date__c ? new Date(i.order.BI_SP_Order_date__c) : '';
                                        var newd = i.order.BI_SP_Order_date__c ? d.setTime( d.getTime() + d.getTimezoneOffset()*60*1000 ) : '';
                                        return i.order.BI_SP_Order_date__c ? new Date(newd).toLocaleDateString(this.userLocaleForDate) : '';
                                        // return i.order.BI_SP_Order_date__c ? new Date(i.order.BI_SP_Order_date__c).toLocaleDateString(this.userLocaleForDate) : '';
                                    }
                                });                                
                            this.ordersColumns.push({label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Delivery_status__c.label}', 
                                value : function(i, col){ 
                                        var label = "";
                                        samProPreparation.filters.allDeliveryStatus.forEach(function(status) {
                                            if(status.value == i.order.BI_SP_Delivery_status__c){
                                                label = status.label;
                                            }
                                        });
                                        return label;

                                },
                                hidable : true, hidden : false
                            });
                        }else{                            
                            this.ordersColumns.push({
                                label : '{!$ObjectType.BI_SP_Order__c.fields.CreatedDate.label}',
                                field : 'order.CreatedDate',
                                hidable : true, hidden : false,
                                value : function(i, col){ 
                                    var d = i.order.CreatedDate ? new Date(i.order.CreatedDate) : '';
                                    var newd = i.order.CreatedDate ? d.setTime( d.getTime() + d.getTimezoneOffset()*60*1000 ) : '';
                                    return i.order.CreatedDate ? new Date(newd).toLocaleDateString(this.userLocaleForDate) : '';
                                    // return i.order.CreatedDate ? new Date(i.order.CreatedDate).toLocaleDateString(this.userLocaleForDate) : '';
                                }
                            });                               
                            this.ordersColumns.push({label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Delivery_status__c.label}', 
                                value : function(i, col){ 
                                        var label = "";
                                        samProPreparation.filters.allDeliveryStatus.forEach(function(status) {
                                            if(status.value == i.order.BI_SP_Delivery_status__c){
                                                label = status.label;
                                            }
                                        });
                                        return label;

                                },
                                hidable : true, hidden : false
                            });
                        }
                    },

                    modifyOrderColumns : function() {
                        this.ordersColumns = [];
                        if(!this.filtersNav.selectedReportBuilder){
                            if(this.isSAPCountry && this.isZenaturCountry){                            
                                this.ordersColumns = [
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.Name.label}', field : 'order.Name', hidable : true, hidden : false},
                                    {label : '{!$Objecttype.BI_SP_Preparation_period__c.fields.Name.label}', field : 'order.BI_SP_Preparation_period__r.Name', hidable : true, hidden : false},
                                    {label : '{!$Objecttype.BI_SP_Order__c.fields.BI_SP_Cycle_year__c.label}', field : 'order.BI_SP_Cycle_year__c', hidable : true, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Order_type_pl__c.label}', 
                                        value : function(i, col){ 
                                                var label = "";
                                                samProPreparation.filters.allOrderTypes.forEach(function(oType) {
                                                    if(oType.value == i.order.BI_SP_Order_type_pl__c){
                                                        label = oType.label;
                                                    }
                                                });
                                                return label;

                                        },
                                        hidable : true, hidden : false
                                    },
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Article_type__c.label}', 
                                        value : function(i, col){ 
                                                var label = "";
                                                samProPreparation.filters.allArticleTypes.forEach(function(aType) {
                                                    if(aType.value == i.order.BI_SP_Article_type__c){
                                                        label = aType.label;
                                                    }
                                                });
                                                return label;

                                        },
                                        hidable : true, hidden : false
                                    },
                                    {label : '{!$Label.BI_SP_Country}', field : 'order.BI_SP_Country_code__c', hidable : true, hidden : false},
                                    {label : '{!$Label.BI_SP_Territory}', field : 'order.BI_SP_Territory_name__c', hidable : true, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Sales_rep_name__c.label}', field : 'order.BI_SP_Sales_rep_name__c', hidable : true, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Ship_to__c.label}', field : 'order.BI_SP_Ship_to__c', hidable : true, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Customer_address__c.label}', field : 'order.BI_SP_Customer_address__c', hidable : true, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_CPF_number__c.label}', field : 'order.BI_SP_CPF_number__c', hidable : true, hidden : false},
                                    {
                                        label : '{!$Label.BI_SP_Delivery_Date}',
                                        field : 'order.BI_SP_Delivery_date__c',
                                        hidable : true, hidden : false,
                                        value : function(i, col){ 
                                            var d = i.order.BI_SP_Delivery_date__c ? new Date(i.order.BI_SP_Delivery_date__c) : '';
                                            var newd = i.order.BI_SP_Delivery_date__c ? d.setTime( d.getTime() + d.getTimezoneOffset()*60*1000 ) : '';
                                            return i.order.BI_SP_Delivery_date__c ? new Date(newd).toLocaleDateString(this.userLocaleForDate) : '';
                                            // return i.order.BI_SP_Delivery_date__c ? new Date(i.order.BI_SP_Delivery_date__c).toLocaleDateString(this.userLocaleForDate) : '';
                                        }
                                    },
                                ];

                                this.orderItemsColumns = [
                                    {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Order_item_number__c.label}', field : 'BI_SP_Order_item_number__c', hidable : false, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Article_external_id_1__c.label}', field : 'BI_SP_Article_external_id_1__c', hidable : false, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Article_external_id_2__c.label}', field : 'BI_SP_Article_external_id_2__c', hidable : false, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Measure_type__c.label}', field : 'BI_SP_Measure_type__c', hidable : false, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Article_description__c.label}', field : 'BI_SP_Article_description__c', hidable : false, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Family_description__c.label}', field : 'BI_SP_Family_description__c', hidable : false, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Family_ext_id__c.label}', field : 'BI_SP_Family_ext_id__c', hidable : false, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Quantity__c.label}', field : 'BI_SP_Quantity__c', hidable : false, hidden : false},
                                        
                                ];
                            }else if(this.isSAPCountry){
                                this.ordersColumns = [
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.Name.label}', field : 'order.Name', hidable : true, hidden : false},
                                    {label : '{!$Objecttype.BI_SP_Preparation_period__c.fields.Name.label}', field : 'order.BI_SP_Preparation_period__r.Name', hidable : true, hidden : false},
                                    {label : '{!$Objecttype.BI_SP_Order__c.fields.BI_SP_Cycle_year__c.label}', field : 'order.BI_SP_Cycle_year__c', hidable : true, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Order_type_pl__c.label}', 
                                        value : function(i, col){ 
                                                var label = "";
                                                samProPreparation.filters.allOrderTypes.forEach(function(oType) {
                                                    if(oType.value == i.order.BI_SP_Order_type_pl__c){
                                                        label = oType.label;
                                                    }
                                                });
                                                return label;

                                        },
                                        hidable : true, hidden : false
                                    },
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Article_type__c.label}', 
                                        value : function(i, col){ 
                                                var label = "";
                                                samProPreparation.filters.allArticleTypes.forEach(function(aType) {
                                                    if(aType.value == i.order.BI_SP_Article_type__c){
                                                        label = aType.label;
                                                    }
                                                });
                                                return label;

                                        },
                                        hidable : true, hidden : false
                                    },
                                    {label : '{!$Label.BI_SP_Country}', field : 'order.BI_SP_Country_code__c', hidable : true, hidden : false},
                                    {label : '{!$Label.BI_SP_Territory}', field : 'order.BI_SP_Territory_name__c', hidable : true, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Sales_rep_name__c.label}', field : 'order.BI_SP_Sales_rep_name__c', hidable : true, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Ship_to__c.label}', field : 'order.BI_SP_Ship_to__c', hidable : true, hidden : false},
                                    {
                                        label : '{!$Label.BI_SP_Delivery_Date}',
                                        field : 'order.BI_SP_Delivery_date__c',
                                        hidable : true, hidden : false,
                                        value : function(i, col){ 
                                            var d = i.order.BI_SP_Delivery_date__c ? new Date(i.order.BI_SP_Delivery_date__c) : '';
                                            var newd = i.order.BI_SP_Delivery_date__c ? d.setTime( d.getTime() + d.getTimezoneOffset()*60*1000 ) : '';
                                            return i.order.BI_SP_Delivery_date__c ? new Date(newd).toLocaleDateString(this.userLocaleForDate) : '';
                                            // return i.order.BI_SP_Delivery_date__c ? new Date(i.order.BI_SP_Delivery_date__c).toLocaleDateString(this.userLocaleForDate) : '';
                                        }
                                    }
                                ];
                                this.orderItemsColumns = [
                                    {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Order_item_number__c.label}', field : 'BI_SP_Order_item_number__c', hidable : false, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Article_external_id_1__c.label}', field : 'BI_SP_Article_external_id_1__c', hidable : false, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Article_description__c.label}', field : 'BI_SP_Article_description__c', hidable : false, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Family_description__c.label}', field : 'BI_SP_Family_description__c', hidable : false, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Family_ext_id__c.label}', field : 'BI_SP_Family_ext_id__c', hidable : false, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Quantity__c.label}', field : 'BI_SP_Quantity__c', hidable : false, hidden : false},
                                        
                                ];
                            }else if(this.isZenaturCountry){
                                this.ordersColumns = [
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.Name.label}', field : 'order.Name', hidable : true, hidden : false},
                                    {label : '{!$Objecttype.BI_SP_Preparation_period__c.fields.Name.label}', field : 'order.BI_SP_Preparation_period__r.Name', hidable : true, hidden : false},
                                    {label : '{!$Objecttype.BI_SP_Order__c.fields.BI_SP_Cycle_year__c.label}', field : 'order.BI_SP_Cycle_year__c', hidable : true, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Order_type_pl__c.label}', 
                                        value : function(i, col){ 
                                                var label = "";
                                                samProPreparation.filters.allOrderTypes.forEach(function(oType) {
                                                    if(oType.value == i.order.BI_SP_Order_type_pl__c){
                                                        label = oType.label;
                                                    }
                                                });
                                                return label;

                                        },
                                        hidable : true, hidden : false
                                    },
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Article_type__c.label}', 
                                        value : function(i, col){ 
                                                var label = "";
                                                samProPreparation.filters.allArticleTypes.forEach(function(aType) {
                                                    if(aType.value == i.order.BI_SP_Article_type__c){
                                                        label = aType.label;
                                                    }
                                                });
                                                return label;

                                        },
                                        hidable : true, hidden : false
                                    },
                                    {label : '{!$Label.BI_SP_Country}', field : 'order.BI_SP_Country_code__c', hidable : true, hidden : false},
                                    {label : '{!$Label.BI_SP_Territory}', field : 'order.BI_SP_Territory_name__c', hidable : true, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Sales_rep_name__c.label}', field : 'order.BI_SP_Sales_rep_name__c', hidable : true, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Customer_address__c.label}', field : 'order.BI_SP_Customer_address__c', hidable : true, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_CPF_number__c.label}', field : 'order.BI_SP_CPF_number__c', hidable : true, hidden : false},
                                    {
                                        label : '{!$Label.BI_SP_Delivery_Date}',
                                        field : 'order.BI_SP_Delivery_date__c',
                                        hidable : true, hidden : false,
                                        value : function(i, col){ 
                                            var d = i.order.BI_SP_Delivery_date__c ? new Date(i.order.BI_SP_Delivery_date__c) : '';
                                            var newd = i.order.BI_SP_Delivery_date__c ? d.setTime( d.getTime() + d.getTimezoneOffset()*60*1000 ) : '';
                                            return i.order.BI_SP_Delivery_date__c ? new Date(newd).toLocaleDateString(this.userLocaleForDate) : '';
                                            // return i.order.BI_SP_Delivery_date__c ? new Date(i.order.BI_SP_Delivery_date__c).toLocaleDateString(this.userLocaleForDate) : '';
                                        }
                                    }
                                ];
                                this.orderItemsColumns = [
                                    {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Order_item_number__c.label}', field : 'BI_SP_Order_item_number__c', hidable : false, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Article_external_id_2__c.label}', field : 'BI_SP_Article_external_id_2__c', hidable : false, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Measure_type__c.label}', field : 'BI_SP_Measure_type__c', hidable : false, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Article_description__c.label}', field : 'BI_SP_Article_description__c', hidable : false, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Family_description__c.label}', field : 'BI_SP_Family_description__c', hidable : false, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Family_ext_id__c.label}', field : 'BI_SP_Family_ext_id__c', hidable : false, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Quantity__c.label}', field : 'BI_SP_Quantity__c', hidable : false, hidden : false},
                                        
                                ];
                            }else{
                                this.ordersColumns = [
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.Name.label}', field : 'order.Name', hidable : true, hidden : false},
                                    {label : '{!$Objecttype.BI_SP_Preparation_period__c.fields.Name.label}', field : 'order.BI_SP_Preparation_period__r.Name', hidable : true, hidden : false},
                                    {label : '{!$Objecttype.BI_SP_Order__c.fields.BI_SP_Cycle_year__c.label}', field : 'order.BI_SP_Cycle_year__c', hidable : true, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Order_type_pl__c.label}', 
                                        value : function(i, col){ 
                                                var label = "";
                                                samProPreparation.filters.allOrderTypes.forEach(function(oType) {
                                                    if(oType.value == i.order.BI_SP_Order_type_pl__c){
                                                        label = oType.label;
                                                    }
                                                });
                                                return label;

                                        },
                                        hidable : true, hidden : false
                                    },
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Article_type__c.label}', 
                                        value : function(i, col){ 
                                                var label = "";
                                                samProPreparation.filters.allArticleTypes.forEach(function(aType) {
                                                    if(aType.value == i.order.BI_SP_Article_type__c){
                                                        label = aType.label;
                                                    }
                                                });
                                                return label;

                                        },
                                        hidable : true, hidden : false
                                    },
                                    {label : '{!$Label.BI_SP_Country}', field : 'order.BI_SP_Country_code__c', hidable : true, hidden : false},
                                    {label : '{!$Label.BI_SP_Territory}', field : 'order.BI_SP_Territory_name__c', hidable : true, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Sales_rep_name__c.label}', field : 'order.BI_SP_Sales_rep_name__c', hidable : true, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Ship_to__c.label}', field : 'order.BI_SP_Ship_to__c', hidable : true, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Sales_rep_address__c.label}', field : 'order.BI_SP_Sales_rep_address__c', hidable : true, hidden : false},
                                    {
                                        label : '{!$Label.BI_SP_Delivery_Date}',
                                        field : 'order.BI_SP_Delivery_date__c',
                                        hidable : true, hidden : false,
                                        value : function(i, col){ 
                                            var d = i.order.BI_SP_Delivery_date__c ? new Date(i.order.BI_SP_Delivery_date__c) : '';
                                            var newd = i.order.BI_SP_Delivery_date__c ? d.setTime( d.getTime() + d.getTimezoneOffset()*60*1000 ) : '';
                                            return i.order.BI_SP_Delivery_date__c ? new Date(newd).toLocaleDateString(this.userLocaleForDate) : '';
                                            // return i.order.BI_SP_Delivery_date__c ? new Date(i.order.BI_SP_Delivery_date__c).toLocaleDateString(this.userLocaleForDate) : '';
                                        }
                                    }
                                ];
                                this.orderItemsColumns = [
                                    {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Order_item_number__c.label}', field : 'BI_SP_Order_item_number__c', hidable : false, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Article_external_id_1__c.label}', field : 'BI_SP_Article_external_id_1__c', hidable : false, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Article_description__c.label}', field : 'BI_SP_Article_description__c', hidable : false, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Family_description__c.label}', field : 'BI_SP_Family_description__c', hidable : false, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Family_ext_id__c.label}', field : 'BI_SP_Family_ext_id__c', hidable : false, hidden : false},
                                    {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Quantity__c.label}', field : 'BI_SP_Quantity__c', hidable : false, hidden : false},
                                        
                                ];
                            }
                        }else{
                            this.ordersColumns = [
                                {label : '{!$ObjectType.BI_SP_Order__c.fields.Name.label}', field : 'order.Name', hidable : true, hidden : false},
                                {label : '{!$Objecttype.BI_SP_Preparation_period__c.fields.Name.label}', field : 'order.BI_SP_Preparation_period__r.Name', hidable : true, hidden : false},
                                {label : '{!$Objecttype.BI_SP_Order__c.fields.BI_SP_Cycle_year__c.label}', field : 'order.BI_SP_Cycle_year__c', hidable : true, hidden : false},
                                {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Order_type_pl__c.label}', 
                                    value : function(i, col){ 
                                            var label = "";
                                            samProPreparation.filters.allOrderTypes.forEach(function(oType) {
                                                if(oType.value == i.order.BI_SP_Order_type_pl__c){
                                                    label = oType.label;
                                                }
                                            });
                                            return label;

                                    },
                                    hidable : true, hidden : false
                                },
                                {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Article_type__c.label}', 
                                    value : function(i, col){ 
                                            var label = "";
                                            samProPreparation.filters.allArticleTypes.forEach(function(aType) {
                                                if(aType.value == i.order.BI_SP_Article_type__c){
                                                    label = aType.label;
                                                }
                                            });
                                            return label;

                                    },
                                    hidable : true, hidden : false
                                },
                                {label : '{!$Label.BI_SP_Country}', field : 'order.BI_SP_Country_code__c', hidable : true, hidden : false},
                                {label : '{!$Label.BI_SP_Territory}', field : 'order.BI_SP_Territory_name__c', hidable : true, hidden : false},
                                {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Sales_rep_name__c.label}', field : 'order.BI_SP_Sales_rep_name__c', hidable : true, hidden : false},
                                {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Ship_to__c.label}', field : 'order.BI_SP_Ship_to__c', hidable : true, hidden : false},
                                {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Customer_address__c.label}', field : 'order.BI_SP_Customer_address__c', hidable : true, hidden : false},
                                {label : '{!$ObjectType.BI_SP_Order__c.fields.BI_SP_CPF_number__c.label}', field : 'order.BI_SP_CPF_number__c', hidable : true, hidden : false},
                                {
                                    label : '{!$Label.BI_SP_Delivery_Date}',
                                    field : 'order.BI_SP_Delivery_date__c',
                                    hidable : true, hidden : false,
                                    value : function(i, col){ 
                                        var d = i.order.BI_SP_Delivery_date__c ? new Date(i.order.BI_SP_Delivery_date__c) : '';
                                        var newd = i.order.BI_SP_Delivery_date__c ? d.setTime( d.getTime() + d.getTimezoneOffset()*60*1000 ) : '';
                                        return i.order.BI_SP_Delivery_date__c ? new Date(newd).toLocaleDateString(this.userLocaleForDate) : '';
                                        // return i.order.BI_SP_Delivery_date__c ? new Date(i.order.BI_SP_Delivery_date__c).toLocaleDateString(this.userLocaleForDate) : '';
                                    }
                                }
                            ];

                            this.orderItemsColumns = [
                                {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Order_item_number__c.label}', field : 'BI_SP_Order_item_number__c', hidable : false, hidden : false},
                                {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Article_external_id_1__c.label}', field : 'BI_SP_Article_external_id_1__c', hidable : false, hidden : false},
                                {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Article_external_id_2__c.label}', field : 'BI_SP_Article_external_id_2__c', hidable : false, hidden : false},
                                {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Measure_type__c.label}', field : 'BI_SP_Measure_type__c', hidable : false, hidden : false},
                                {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Article_description__c.label}', field : 'BI_SP_Article_description__c', hidable : false, hidden : false}, 
                                {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Family_description__c.label}', field : 'BI_SP_Family_description__c', hidable : false, hidden : false},
                                {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Family_ext_id__c.label}', field : 'BI_SP_Family_ext_id__c', hidable : false, hidden : false},
                                {label : '{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Quantity__c.label}', field : 'BI_SP_Quantity__c', hidable : false, hidden : false},
                                    
                            ];
                        }
                    }

                },

                mounted : function() {
                    this.$vfstore.dispatch('setTheme', VueForce.themes.bootstrapTheme);
                    //Initialize
                    
                    //Setup filters
                    this.getFilters();
                    
                    // If Internet Explorer (except EDGE), return version number
                    /* var ua = window.navigator.userAgent;
                    var msie = ua.indexOf("MSIE ");
                    jQuery.fn.bstooltip = jQuery.fn.tooltip;
                    if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)){
                        var imported = document.createElement('script');
                        imported.src = 'https://code.jquery.com/ui/1.12.1/jquery-ui.js';
                        document.head.appendChild(imported);
                        var importedCss = document.createElement('link');
                        importedCss.rel = 'stylesheet';
                        importedCss.href = '//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css';
                        document.head.appendChild(importedCss);
                    } */
                }
            })
        </script>
    </html>
</apex:page>