<apex:page controller="BI_SP_OrderExportPlainFileCtrl" action="{!exportToExcel}" readOnly="true" contentType="application/vnd.ms-excel#export.xls">
 
    <head>
    	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	</head>

    <apex:pageBlock >
        <apex:pageBlockTable value="{!lstwrapper}" var="x">
           <apex:column headerValue="{!$ObjectType.BI_SP_Order__c.fields.Name.label}">
                {!x.name}
            </apex:column>
             <apex:column headerValue="{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Article_type__c.label}">
                {!x.artType}
            </apex:column>
             <apex:column headerValue="{!$Label.BI_SP_Territory}">
                {!x.territory}
            </apex:column>
             <apex:column headerValue="{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Article_external_id_1__c.label}">
                {!x.artExtId1}
            </apex:column>
             <apex:column headerValue="{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Family_ext_id__c.label}">
                {!x.famName}
            </apex:column>
            <apex:column headerValue="{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Article_description__c.label}">
                {!x.artDesc}
            </apex:column>
             <apex:column headerValue="{!$ObjectType.BI_SP_Order_item__c.fields.BI_SP_Quantity__c.label}">
                {!x.quantity}
            </apex:column>
            <apex:column headerValue="{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Sales_rep_name__c.label}">
                {!x.srName}
            </apex:column>
             <apex:column headerValue="{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Ship_to__c.label}">
                {!x.shipTo}
            </apex:column>
             <apex:column headerValue="{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Sales_rep_address__c.label}">
               {!x.srAddress}
            </apex:column>
             <apex:column headerValue="{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Order_reason__c.label}"> 
                {!x.orderReason}
            </apex:column>
             <apex:column headerValue="{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Order_type__c.label}">
                {!x.orderType}
            </apex:column>
             <apex:column headerValue="{!$Label.BI_SP_Delivery_Date}">
                {!x.delivDate}
            </apex:column>
             <apex:column headerValue="{!$ObjectType.BI_SP_Order__c.fields.BI_SP_Special_shipment_description__c.label}">
                {!x.ssDesc}
            </apex:column>
        </apex:pageBlockTable>
    </apex:pageBlock>   
 
</apex:page>