<apex:page standardController="BI_TM_BIDS__c" extensions="BI_TM_UserManagementCreateEdit">

    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"/>
    <script type="text/javascript">
        jQuery.noConflict();

        jQuery(document).ready(function () {

            jQuery('.saveAction').click(function (e) {

                if (document.getElementById('{!$Component.form.pageblock.pageblocksec2.visibleincrm}').checked) {

                    if (confirm('Visible in CRM flag is checked. This would create the user in Veeva. Press OK to confirm.')) {
                        return true;
                    }
                    e.preventDefault();
                }
                else {
                  if (confirm('Visible in CRM flag is not checked. This will not create the user in Veeva, but if the user was previously created in Veeva, this will inactivate the Veeva user. Press OK to confirm.')) {
                      return true;
                  }
                  e.preventDefault();
                }

            });
        });
    </script>
    <apex:sectionHeader title="Manage BIDS User"/>
    <apex:form id="form">
        <apex:pageBlock id="pageblock" mode="maindetail">
            <apex:pagemessages />
            <apex:pageblockButtons >

                <apex:commandButton action="{!edit1}" value="{!$Label.BI_TM_Save}" styleClass="saveAction"/>

                <apex:commandButton action="{!cancel}" value="{!$Label.BI_TM_Cancel}"/>
            </apex:pageblockButtons>
            <apex:pageBlockSection title="BIDS User Details" columns="2" id="pageblocksec1">
              <apex:outputField value="{!BIDSList.Name}" />
              <apex:outputField value="{!BIDSList.BI_TM_Global_Id__c}" />
              <apex:outputField value="{!BIDSList.BI_TM_Given_Name__c}" />
              <apex:outputField value="{!BIDSList.BI_TM_BIPeople_Number__c}" />
              <apex:outputField value="{!BIDSList.BI_TM_Surname__c}" />
              <apex:outputField value="{!BIDSList.BI_TM_Legacy_ID__c}" />
              <apex:outputField value="{!BIDSList.BI_TM_Email_Address__c}"/>
              <apex:outputField value="{!BIDSList.BI_TM_Facsmilenumber__c}" />
              <apex:outputField value="{!BIDSList.BI_TM_Company_Name__c}" />
              <apex:outputField value="{!BIDSList.BI_TM_Mobile_Number__c}" />
              <apex:outputField value="{!BIDSList.BI_TM_Is_Manager__c}" label="{!$Label.BI_TM_IsManager}"/>
              <apex:outputField value="{!BIDSList.BI_TM_CN__c}" label="{!$Label.BI_TM_Alias}"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection title="User Management Details" columns="2" Id="pageblocksec2">
              <apex:outputField value="{!usrMgmntList.BI_TM_Username__c}" label="{!$Label.BI_TM_UserName}" style="width: 300px;" rendered="{!usrMgmntList.BI_TM_Username__c != null}"/>
              <apex:inputField value="{!BIDSList.BI_TM_Email_Address__c}" label="{!$Label.BI_TM_UserName}" style="width: 300px;" rendered="{!usrMgmntList.BI_TM_Username__c == null}"/>
              <apex:inputField value="{!usrMgmntList.BI_TM_Start_date__c}" required="true"/>
              <apex:inputCheckbox value="{!usrMgmntList.BI_TM_Visible_in_CRM__c}" selected="true" />
              <apex:inputField value="{!usrMgmntList.BI_TM_End_date__c}" />
              <apex:inputField value="{!usrMgmntList.BI_TM_UserCountryCode__c}" />
              <apex:inputField value="{!usrMgmntList.BI_TM_TimeZoneSidKey__c}" required="true"/>
              <apex:inputField value="{!usrMgmntList.BI_TM_Profile__c}" required="true"/>
              <apex:inputField value="{!usrMgmntList.BI_TM_LocaleSidKey__c}" required="true"/>
              <apex:inputField value="{!usrMgmntList.BI_TM_User_Role__c}" />
              <apex:inputField value="{!usrMgmntList.BI_TM_LanguageLocaleKey__c}" required="true"/>
              <apex:inputField value="{!usrMgmntList.BI_TM_Email_Encoding__c}" required="true" />
              <apex:inputField value="{!usrMgmntList.BI_TM_Currency__c }" required="true"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="1" Id="pageblocksec3">
              <apex:inputField value="{!usrMgmntList.BI_TM_Permission_Set__c}" />
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>