<apex:page standardController="Fulfillment_MVN__c" extensions="FulfillmentRecordTypeControllerMVN" showHeader="false" sidebar="false">
    <!--  I added the AccountRecordTypeController Extension to this page and changed the attribute displayed to recordTypeName -->
    <b><center><font size="4" color="#5000B6">{!recordTypeName}</font></center></b>
</apex:page>