<apex:page showHeader="false" sidebar="true" controller="IMP_BI_ExtChannelBudgetDefFilterFixData">
    <style type="text/css">
      .waitingDescription {font-size: 28px;}
    </style>
    <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb; height:100%;opacity:0.65;width:100%;">
            <div class="waitingHolder" style="top: 100px; width: 91px;">
            <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
            <span class="waitingDescription">Regenerating Matrix...</span>
            </div>
    </div>

    <apex:form >
        <apex:message />
        <apex:actionFunction name="FixData" action="{!FixData}" oncomplete="returnToResource();" status="counterStatus"/>
        <apex:actionFunction name="returnToResource" action="{!returnToResource}" oncomplete="returnToResource()"/>
    </apex:form>
    <script>

        //window.onload=FixData();
        window.onload = delCellDetailsInBatch;

        var _timeoutMax = 10;
        var _timeoutCounter = 0;

        /**
        * Delete in Batcht Matrix Cell Detail records
        */
        function delCellDetailsInBatch(){
                var matrixId = '{!strMatrixId}';
                console.log('delete for matrix ' + matrixId);

                Visualforce.remoting.Manager.invokeAction(
                        '{!$RemoteAction.IMP_BI_ExtChannelBudgetDefFilterFixData.delCellDetailsInBatch}',
                        matrixId,
                        function(data, event){

                                if (event.status) {
                                        _timeoutCounter=0;

                                        if(data == 'goToNext'){
                                                delCellDetailsInBatch();

                                        }else{
                                                returnToResource();
                                        }

                                } else if (event.type === 'exception') {
                                        if (event.message.indexOf('Unable to connect to the server') > -1 && _timeoutCounter < _timeoutMax){
                                                //Run again the deletion
                                                _timeoutCounter++;
                                                delCellDetailsInBatch();
                                        } else {
                                                alert('[ERROR] ' + event.message);

                                        }
                                } else {
                                        alert('[ERROR] ' + event.message);

                                }
                        },
                {buffer: false,escape: true,timeout: 120000});
        }

    </script>
</apex:page>