<apex:page id="matrixReportList" standardcontroller="Matrix_BI__c" tabStyle="Matrix_BI__c" docType="html-5.0" showHeader="false" sidebar="false">
    <!-- style -->
    <apex:stylesheet value="{!URLFOR($Resource.jQueryUI_1_10_2,'jquery-ui-1.10.2.custom/css/pepper-grinder/jquery-ui-1.10.2.custom.min.css')}"/>
    <!-- library -->    
    <apex:includeScript value="{!URLFOR($Resource.jQueryUI_1_10_2,'jquery-ui-1.10.2.custom/js/jquery-1.9.1.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.jQueryUI_1_10_2,'jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.min.js')}" />
    
    <style type="text/css">
        .labelCol {vertical-align:middle !important;}
        .popupCloseBth {height:20px; width:20px; float:right; cursor:pointer;}
        .tertiaryPalette {border-color:#FFF !important;}
        .reportLinkBtn {height:24px; margin-left:5px;}
    </style>
    
    <script type="text/javascript">
        var $ = jQuery.noConflict();
        var matrixId = '{!Matrix_BI__c.Id}';
        
        /**Open Report */
		 function openReportBtn(){
		 	var reportOption = $('#listReport').val();
		 	console.log('matrixId :: ' + matrixId);
		 	console.log('reportOption :: ' + reportOption);
		 	
		 	if(reportOption && $.trim(reportOption) != 'none'){
	        	var reportUrl = reportOption+matrixId;
	        	window.open(reportUrl);
        	}
		 }
    </script>
    
    <apex:pageMessages id="msg" escape="false"/>
    <apex:form id="matrixReportForm">
        
        <apex:pageBlock mode="maindetail" id="detailPageBlock">
			<apex:pageBlockSection title="" columns="2" collapsible="false">
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$ObjectType.Portfolio_Report_List_BI__c.fields.Name.label}" for="theReportList"/>
					<apex:pageBlockSectionItem >
					   <select id="listReport">
	                   		<option value="none">--None--</option>
						    <option value="/apex/IMP_BI_ConcentrationCurveReport?mId=">Concentration Curve Report</option>
						</select>
	                   <input type="button" id="reportLinkBth" class="btn reportLinkBtn" value="Open Report" onclick="openReportBtn();"></input>
					</apex:pageBlockSectionItem>
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem />
			</apex:pageBlockSection>
		</apex:pageBlock>
    </apex:form>
</apex:page>