<apex:page id="budgetAllocatinPage" standardController="Budget_Allocation_BI__c" extensions="IMP_BI_CtrlManageBudgetAllocation" title="{!pageTitle}" tabstyle="Budget_Allocation_BI__c" docType="html-5.0">
    <!-- style -->
    <apex:stylesheet value="{!URLFOR($Resource.jQueryUI_1_10_2,'jquery-ui-1.10.2.custom/css/pepper-grinder/jquery-ui-1.10.2.custom.min.css')}"/>
    <!-- library -->
    <apex:includeScript value="{!URLFOR($Resource.jQueryUI_1_10_2,'jquery-ui-1.10.2.custom/js/jquery-1.9.1.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.jQueryUI_1_10_2,'jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.min.js')}" />

    <!-- Action script on Page -->
    <script type="text/javascript">
        var j$ = jQuery.noConflict();

        //Load message errors
        var IMP_BI_Input_Null = '{!$Label.IMP_BI_Input_Null}';
        var IMP_BI_Select_Null = '{!$Label.IMP_BI_Select_Null}';

        j$(function() {
            //addListenForInput();
            var  isCreateable = '{!$ObjectType.Budget_Allocation_BI__c.createable}';

            if(isCreateable == 'false'){
            	j$(".saveBudgetBtn").remove();
            }
        });

        //function addListenForInput(){
            //console.log('input');
            /*j$('.unitCost').each(function() {
                //console.log('each');

                console.log(this.addEventListener);
                if(this.attachEvent) {
                    console.log('event');
                    this.attachEvent('onpropertychange',function(e) {
                        console.log(onpropertychange);
                        console.log(e.propertyName);
                        if(e.propertyName!='value') return;
                        j$(this).trigger('change');
                        console.log('-----'+e.propertyName!='value');
                    });
                }
            });*/
            /*
            j$('.unitCost').on('change',function(){
                //alert('change');
                console.log('===============================onChange');
                changeUnitCostOrUnits();
            });
            */
        //}

        function checkAllRequiredFields(){
            var isValid = true;

            var j$budget = j$('#budget');
            if(j$.trim(j$budget.val()) == ''){
                j$budget.siblings('.erMsg').find('font').text(IMP_BI_Input_Null).parent().show();
                isValid = false;
            }else{
                j$budget.siblings('.erMsg').hide();
            }

            var j$product = j$('.productPanel').find('select');
            if(j$.trim(j$product.val()) == ''){
                j$product.siblings('.erMsg').find('font').text(IMP_BI_Select_Null).parent().show();
                isValid = false;
            }else{
                j$product.siblings('.erMsg').hide();
            }
            /*
            var j$channel = j$('.channelPanel').find('select');
            if(j$.trim(j$channel.val()) == ''){
                j$channel.siblings('.erMsg').find('font').text(IMP_BI_Select_Null).parent().show();
                isValid = false;
            }else{
                j$channel.siblings('.erMsg').hide();
            }
            */
            return isValid;
        }

        function checkBudget(obj){
            if(j$.trim(j$(obj).val()) == ''){
                j$(obj).siblings('.erMsg').find('font').text(IMP_BI_Input_Null).parent().show();
            }
            else{
                j$(obj).siblings('.erMsg').hide();
            }
        }

        function checkSelectList(obj){
           var cycleId = j$('#cycleId').val();
           var productId = j$(obj).val();
           cycleProductBudget(cycleId, productId);
        }

        function changeUnitCostOrUnits(obj){

            if(obj && obj.value) {
                if(obj.name === 'unitCost') {
                	obj.value=obj.value.replace(/[^\d.,]/g,'').replace(/\.{2}/g,'').replace(/\,{2}/g,'');
                }
                else {
                    obj.value=obj.value.replace(/[^\d]/g,'');
                }
            }

            var total = 0;
            j$('#channelTab').find('tr').each(function(){
                var unit = 0, unitCost = 0, totalCost = 0, channel = '';
                j$(this).find('input').each(function(){
                    if(this.name == 'unit'){
                        if(j$(this).val()=='')
                        j$(this).val(0);
                        unit = j$(this).val();
                    }
                    if(UserContext.locale.indexOf('de')>=0 || UserContext.locale.indexOf('DE')>=0){
                        if(this.name == 'unitCost'){
                            if(j$(this).val()=='')
                            j$(this).val('0,00');
                            var uCost = parseFloat(j$(this).val().replace('.','').replace(',','.')).toFixed(2);
                            j$(this).val(uCost.replace('.',','));

                            unitCost = parseFloat(j$(this).val().replace(',','.'));
                        }
                        if(this.name == 'totalCost'){
                            totalCost = unit*unitCost;
                            total = total + totalCost;
                            j$(this).val(totalCost.toFixed(2).replace('.',','));
                        }
                        j$('#total').text(total.toFixed(2).replace('.',','));
                    }else{
                        if(this.name == 'unitCost'){
                            if(j$(this).val()==''){
                                j$(this).val(0.00);
                            }else{
                                j$(this).val(parseFloat(j$(this).val().replace(',','')).toFixed(2));
                            }
                            unitCost = j$(this).val();
                        }
                        if(this.name == 'totalCost'){
                            totalCost = unit*unitCost;
                            total = total + totalCost;
                            j$(this).val(totalCost.toFixed(2));
                        }
                        j$('#total').text(total.toFixed(2));
                    }
                })
            });

        }

        function saveBudgetAllocation(){
            //Load pin loding process
            var budget = 0, total = 0;
            if(UserContext.locale.indexOf('de')>=0 || UserContext.locale.indexOf('DE')>=0){
                budget = parseFloat(j$('#budget').val().replace('.','').replace(',','.'));
                total = parseFloat(j$('#total').text().replace(',','.'));
            }else{
                budget = parseFloat(j$('#budget').val().replace(',',''));
                total = j$('#total').text();
            }
            if(total > budget){
                //alert('The "Total" can not exceed "Product Budget".');
                alert('{!$Label.IMP_BI_BudgetAllocation_AlartMessage}');
                return ;
            }

            showLoading();

            if(checkAllRequiredFields()){
                var budgetJSON = {};
                var list_cBudgetAllocation = new Array();

                //Set values budget JSON object
                j$('#channelTab').find('tr').each(function(){
                    var channel = new Object();
                    j$(this).find('input').each(function(){
                        if(this.name == 'cId'){
                            channel.cId = j$(this).val();
                        }
                        if(this.name == 'baId'){
                            channel.baId = (j$(this).val() != null && j$(this).val() != '')? j$(this).val() : null;
                        }
                        if(this.name == 'unitCost'){
                            channel.unitCost = j$(this).val();
                        }
                        if(this.name == 'unit'){
                            channel.unit = j$(this).val();
                        }
                        if(this.name == 'totalCost'){
                            channel.totalCost = j$(this).val();
                        }
                    })
                    if(channel.cId!=null && channel.cId!=''){
                    	list_cBudgetAllocation.push(channel);
                    }
                });
                budgetJSON.list_cBudgetAllocation = list_cBudgetAllocation;
                //End:
                //Set values budget JSON object
                budgetJSON.Id = j$('#idCyclePB').val();
                budgetJSON.cycle = j$('#idCycle').val();
                budgetJSON.product = j$('.productPanel').find('select').val();
                //budgetJSON.channel = j$('.channelPanel').find('select').val();
                budgetJSON.budget = j$('#budget').val();
                //budgetJSON.country = j$('#country').val();
                budgetJSON = JSON.stringify(budgetJSON);
                IMP_BI_CtrlManageBudgetAllocation.saveBudget(budgetJSON, function(data){
                    j$('#htmlEntity').html(data);
                    data = j$('#htmlEntity').text();
                    data = j$.parseJSON( data );

                    if(data && !data.success){
                        j$("div[id='errorMsg']").html(data.message);
                        j$("div[id='errorMsg']").show();
                        j$('#loading-curtain-div').hide();
                    }
                    else{
                        cancel();
                    }
                });
            }else{
                j$('#loading-curtain-div').hide();
            }
        }

        function showLoading(){
            j$('#loading-curtain-div').appendTo(j$('#bodyTable').parent()).show();
        }

        function cancelToBack(){
            showLoading();
            cancel();
        }
    </script>

    <!-- Set style on page components  -->
    <style type="text/css">
        .requiredInput .erMsg {white-space:normal; width:100px;}
    </style>

    <apex:sectionHeader title="{!sectionHeaderTitle}" subtitle="{!sectionHeaderSubTitle}" />
    <apex:pageMessages id="msg" escape="false"/>
    <div id="loading-curtain-div" style="top:0px;left:0px;text-align:center;width:100%;height:100%;display:none;background-color:#FFF;opacity:0.85;position:absolute;z-index:8000;filter:alpha(opacity=85);background-repeat:no-repeat;background-position:center center;background-image:url('/img/loading.gif');"></div>


    <apex:form id="formBudgetAllocation">
        <apex:actionFunction name="cycleProductBudget" action="{!searchByCycleProduct}" rerender="formBudgetAllocation" >
            <apex:param name="cycleId" assignTo="{!cycleId}" value="" />
            <apex:param name="productId" assignTo="{!productId}" value="" />
        </apex:actionFunction>
        <input id="idCycle" type="hidden" value="{!clsCycleProductBudget.cycle}" />
        <input id="idCyclePB" type="hidden" value="{!clsCycleProductBudget.id}" />
        <div id="errorMsg" style="color:#ff0000;margin-left:60px;display:none;"></div>
        <span id="htmlEntity" style="display:none">&nbsp;</span>
        <apex:pageBlock id="bgAllocation" mode="maindetail" tabStyle="Matrix_BI__c">
            <apex:pageBlockButtons location="bottom">
                <input type="button" class="btn saveBudgetBtn"  value="Save" onclick="saveBudgetAllocation();" />
                <input type="button" class="btn"  value="Cancel" onclick="cancelToBack();"/>
                <apex:actionFunction name="cancel" action="{!cancel}"/>
            </apex:pageBlockButtons>
            <apex:pageMessages id="msgNLTWarning" escape="false"/>
            <apex:pageBlockSection title="Information" columns="2" id="pbsect" collapsible="false">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.Budget_Allocation_BI__c.fields.Product_Catalog_BI__c.label}" />
                    <apex:outputPanel styleClass="productPanel">
                        <div class="requiredInput">
                            <div class="requiredBlock"></div>
                            <apex:selectList value="{!clsCycleProductBudget.product}" multiselect="false" size="1" id="product" onchange="checkSelectList(this);">
                                <apex:selectOptions value="{!productsByCycle}" />
                            </apex:selectList>
                            <div class="erMsg" style="display:none; font-size:12px;">
                                <font color="#C00 !important"></font>
                            </div>
                        </div>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >

                    <apex:outputLabel value="Product Budget" />
                    <div class="requiredInput">
                        <div class="requiredBlock"></div>
                        <input type="text" size="20" maxlength="20" id="budget" value="{!clsCycleProductBudget.budget}" onchange="checkBudget(this);" onkeyup="this.value=this.value.replace(/[^\d.,]/g,'').replace(/\.{2}/g,'').replace(/\,{2}/g,'')"/>
                        <div class="erMsg" style="display:none; font-size:12px;">
                            <font color="#C00 !important"></font>
                        </div>
                    </div>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>

            <div>&nbsp;</div>
            <apex:outputPanel >
            <input type="hidden" id="cpbId" value="{!clsCycleProductBudget.id}" />
            <input type="hidden" id="cycleId" value="{!clsCycleProductBudget.cycle}" />
            <!--
             <input type="hidden" id="country" value="{!clsCycleProductBudget.country}" />
             -->
            <table id="channelTab" style="margin-left: 200px;" >
                <tr>
                    <th>Channel</th>
                    <th>Unit Cost</th>
                    <th>Units</th>
                    <th style="width:100px;"><span style="margin-left:30px;">Total Cost</span></th>
                </tr>
                <apex:repeat value="{!clsCycleProductBudget.list_cBudgetAllocation}" var="ba" id="table1" >
                    <tr>
                        <td style="margin-left:50px;">
                            <apex:outputText value="{!ba.cName}"/>
                        </td>
                        <td>
                            <input type="hidden" size="10" maxlength="20" name="cId" value="{!ba.cId}"/>
                            <input type="hidden" size="10" maxlength="20" name="baId" value="{!ba.baId}"/>
                            <input type="text" size="10" maxlength="20" class="unitCost" name="unitCost" value="{!ba.unitCost}" onchange="changeUnitCostOrUnits(this);"/>
                        </td>
                         <td>
                            <input type="text" size="10" maxlength="20" class="unitCost" name="unit" value="{!ba.unit}" onchange="changeUnitCostOrUnits(this);"/>
                        </td>
                         <td>
                            <span><input type="text" maxlength="20" name="totalCost" value="{!ba.totalCost}" style="text-align: right; width:100px; border: 0px;" readonly="readonly"/></span>
                        </td>
                    </tr>
                </apex:repeat>
                <tr>
                    <td></td>
                    <td></td>
                    <td><b>Total</b></td>
                    <td id="total" style="text-align: right;">{!total}</td>
                </tr>
                <!-- <tr>
                    <td>&nbsp;</td>
                    <td align="left">
                        <div id="errorMsg" style="color:#ff0000;display:none;"></div>
                    </td>
                </tr>
                 -->
            </table>
            </apex:outputPanel>

          </apex:pageBlock>
        </apex:form>
</apex:page>