<apex:page id="setPortfolioPlanIT" docType="html-5.0" standardController="Portfolio_BI__c">
	<apex:remoteObjects >
		<apex:remoteObjectModel name="Portfolio_BI__c" jsShorthand="Portfolio" fields="Id,Ready_for_PlanIT_BI__c">
		</apex:remoteObjectModel>
	</apex:remoteObjects>

	<script type="text/javascript">

	var portfolioID = '{!Portfolio_BI__c.Id}';
	var readyPlanIT = '{!Portfolio_BI__c.Ready_for_PlanIT_BI__c}';
	var checkedText = '{!$Label.IMP_BI_Set_Portfolio_PlanIT}';
	var uncheckedText = '{!$Label.IMP_BI_Set_Portfolio_NoPlanIT}';
	var portfolioStatus = '{!Portfolio_BI__c.Status_BI__c}';
	var check = (readyPlanIT == 'true') ? true : false;

	console.log('Ready for planIT :: ' + readyPlanIT);

	//Call function once page loaded
	window.onload = function(){
		/* if status is not calculated we cannot change the flag Ready for planIT */
		if(portfolioStatus == 'Calculated'){
			if(check){
				console.log('Ready for planIT :: ' + readyPlanIT);
				if(confirm(uncheckedText)){
					showLoading();
					setPortfolioNotReadyForPlanIT();
				}
				else{
					showLoading();
					goBack();
				}
			}
			if(!check){
				if(confirm(checkedText)){
					showLoading();
					setPortfolioReadyForPlanIT();
				}
				else{
					showLoading();
					goBack();
				}
			}
		}
		else{
			alert('You cannot change the Ready for PlanIT until the portfolio status is calculated');
			goBack();
		}

	};

	/**
	* Set current portfolio as Ready for PlanIT
	*/
	function setPortfolioReadyForPlanIT(){
		var portfolio = new SObjectModel.Portfolio({
			Id: portfolioID,
			Ready_for_PlanIT_BI__c: true,
		});

		//Callback function to handle exceptions
		portfolio.update(updateCallback);
	}

	/**
	* Unset current portfolio as Ready for PlanIT
	*/
	function setPortfolioNotReadyForPlanIT(){
		var portfolio = new SObjectModel.Portfolio({
			Id: portfolioID,
			Ready_for_PlanIT_BI__c: false,
		});

		//Callback function to handle exceptions
		portfolio.update(updateCallback);
	}

	/**
	* Callback to handle DML Remote Objects calls
	*/
	function updateCallback(err, ids){
		if (err) {
			alert(err);
		} else {
			// Back to portfolio detail page
			goBack();
		}
	}

	/**Returnering previous page*/
	function goBack(){
		window.location.href = "/"+portfolioID;
	}

	/**
	* Show div curtain loading
	*/
	function showLoading(){
		document.getElementById('loading-curtain-div').style.display = 'block';
	}
	</script>
	<div id="loading-curtain-div" title="Please Wait..." class="mask" style="top:0px;left:0px;text-align:center;width:100%;height:100%;display:none;background-color:#FFF;opacity:0.85;position:absolute;z-index:8000;filter:alpha(opacity=85);background-repeat:no-repeat;background-position:center 220px;background-image:url('/img/loading32.gif');">
		<div id="loading-showing-div" style="width: 80%; position: relative; z-index: 8001; left: 20%; margin-left: -160px; margin-top: 165px;"></div>
	</div>
</apex:page>