<apex:page id="segmentNTLComparison" standardController="Country_BI__c" readonly="true" docType="html-5.0"
    extensions="IMP_BI_SegmentComparisonReport" sidebar="false" title="Segment Comparison Report">

    <!-- style -->
    <apex:stylesheet value="{!URLFOR($Resource.jQueryUI_1_10_2,'jquery-ui-1.10.2.custom/css/pepper-grinder/jquery-ui-1.10.2.custom.min.css')}" />

    <!-- library -->
    <apex:includeScript value="{!URLFOR($Resource.jQueryUI_1_10_2,'jquery-ui-1.10.2.custom/js/jquery-1.9.1.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.jQueryUI_1_10_2,'jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.min.js')}" />
    <script src="{!URLFOR($Resource.IMP_BI_jQuery182, '/glob-cultures/globalize.js')}" type="text/javascript"></script>
    <script src="{!URLFOR($Resource.IMP_BI_jQuery182, localeConfig.jsPath)}" type="text/javascript"></script>


    <style type="text/css">
        .status{
            margin-left: 36%;
            margin-top: 2%;
            position: absolute;
        }
        .Gain {
            background: #F8B818;
            color: #FFF !important;
            text-align: center;
            border: 2px solid black !important;
            width:120px;
        }
        
        .Build {
            background: #FCFC04;
            text-align: center;
            border: 2px solid black !important;
            width:120px;
        }
        
        .Defend {
            background: #20A020;
            color: #FFF;
            text-align: center;
            border: 2px solid black !important;
            width:120px;
        }
        
        .Observe {
            background: #FC0404;
            color: #FFF;
            text-align: center;
            border: 2px solid black !important;
            width:120px;
        }
        
        .Maintain {
            background: #2060A0;
            color: #FFF;
            text-align: center;
            border: 2px solid black !important;
            width:120px;
        }
        
        .table_segment_comparison {
            font-family: Calibri;
            font-size: 11pt;
            text-align: center;
            border: 2px solid black;
            border-collapse: collapse;
            width: 100%;
            vertical-align: middle !important;
            margin: 10px;
        }
        
        .table_segment_comparison td, th {
            vertical-align: middle !important;
            height: 26px;
            text-align: center;
        }
        
        .green_cell {
            background-color: rgb(198, 239, 206);
            border-right: none !important;
            border-bottom: none !important;
            border-top: 2px solid black !important;
            border-left: 2px solid black !important;
            width: 6%;
            height: 26px;
        }
        
        .red_cell {
            background-color: rgb(255, 199, 206);
            color: rgb(156, 0, 0) !important;
            border-right: none !important;
            border-bottom: none !important;
            border-top: 2px solid black !important;
            border-left: 2px solid black !important;
            width: 6%;
            height: 26px;
        }
        
        .header_title {
            font-size: 14pt;
            text-align: center;
            border: 2px solid black !important;
        }
        
        .vertical-text {
            margin-top: 50%;
            transform: rotate(-90deg);
            transform-origin: center center 0;
            text-align: center;
        }
        
        .none_border_old_cycle {
            border-left: none;
            border-bottom: none;
        }
        
        .nonMatrix {
            color: #aaa;
            font-size: 16px;
            font-style: italic;
        }
        
        .right_cell {
            border-left: none !important;
            border-bottom: none !important;
            border-top: 2px solid black !important;
            border-right: 2px solid black !important;
            width: 6%;
            height: 26px;
        }
        
        .bottom_left_cell {
            border-right: none !important;
            border-top: none !important;
            border-bottom: 2px solid black !important;
            border-left: 2px solid black !important;
            width: 6%;
            height: 26px;
        }
        
        .bottom_right_cell {
            border-left: none !important;
            border-top: none !important;
            border-bottom: 2px solid black !important;
            border-right: 2px solid black !important;
            width: 6%;
            height: 26px;
        }
        
        .segmentComparisonSection{
            margin-top: 10px;
        }
        body .bPageBlock .pbBody .pbSubheader h3, body .bWizardBlock .bPageBlock .pbBody .pbSubheader label {
            font-size: 1.5em;
        }
        fieldset{
        	font-size: 14px;
		    height: 50px;
		    width: 40%;
        }
        fieldset td span 
        {
        	color:red;
        	font-weight: bold;
        }
        
        fieldset .labelCol, body .print .topics-label {
		    color: #333;
		    font-size: 91%;
		    font-weight: bold;
		    padding: 2px 10px 2px 2px;
		    text-align: right;
		}
		
		fieldset th.vfLabelColTextWrap {
		    position: relative;
		    white-space: normal;
		}
		
		fieldset .dataCol {
		    padding: 2px 2px 2px 10px;
		    text-align: left;
		}
		
		fieldset .detailList .dataCol {
		    width: 37%;
		}
        
		body .bPageTitle .ptBody {
		    float: left;
		    width: 55%;
		}
    </style>

    <script type="text/javascript">
        var j$ = jQuery.noConflict();
        var _timeoutCounter = 0, _timeoutMax = 10;//used for remote action timeout case
        
        j$(function(){
            Globalize.culture("{!localeConfig.locale}").numberFormat.currency.symbol = "";
        });
        
        function startComparison(){
           //alert('Executing...');
           var matrixComparison ={};
           var IdOldMatrix = j$("input[id$='IdOldMatrix']").val();
           var IdNewMatrix = j$("input[id$='IdNewMatrix']").val();
           
           matrixComparison.IdOldMatrix = IdOldMatrix;
           matrixComparison.IdNewMatrix = IdNewMatrix;
           
           //Call compare function
           compareMatrixSegment(matrixComparison);
        }
        
        /**
        * Start process of comparison for both matrices
        */
        function compareMatrixSegment(jsonMatrixComparison){
            //console.log(':: Ids: ', IdOldMatrix, IdNewMatrix);
            IMP_BI_SegmentComparisonReport.compareMatrixSegment(
                JSON.stringify(jsonMatrixComparison),
                function(data, event){
                    if (event.status) {
                        _timeoutCounter = 0;
                        //parser data result to JSON structure
                        j$('#htmlEntity').html(data);
                        data = j$('#htmlEntity').text();
                        data = j$.parseJSON(data);
                        
                        if(data && data.isException){ 
                            hideLoading();
                            alert(data.message);
                            //j$('#errorMsg').show();
                        }
                        else if(data && data.gotonext){
                            //If has more, next batch
                            data.gotonext = false;
                            compareMatrixSegment(data);
                        }
                        else{
                            //compairison process completed
                            show_comparison_Overview(data.mapMatrixComparison);
                            hideLoading();
                            
                            //console.log(':: Matrix: ', data);
                        }       
                    }else if (event.type === 'exception') {
                        if((event.message.indexOf('Unable to connect to the server') > -1 || event.message.indexOf('Apex CPU time limit exceeded') > -1) 
                            && _timeoutCounter < _timeoutMax){
                            //Run again the proccess
                            _timeoutCounter++;
                            compareMatrixSegment(jsonMatrixComparison);
                        }
                        else{
                            alert('[ERROR] ' + event.message);
                            hideLoading();
                        }
                    } else {
                        alert('[ERROR] ' + event.message);
                        hideLoading();
                    }
                }, 
                {escape: true,  timeout: 120000}
            );
        }
        
        /**
        * Show up matrix comparsin overview values
        */
        function show_comparison_Overview (MATRIX_COMPARISON){
            var segments = ['Gain','Build','Defend','Observe','Maintain', 'Blank'];
            var mapMatrixCompairison = [];
            var j$table = j$("#comparisonTable");
            var totalSegment_horz={'Gain':0,'Build':0,'Defend':0,'Observe':0,'Maintain':0};
            var totalSegment_vert={'Gain':0,'Build':0,'Defend':0,'Observe':0,'Maintain':0};
            var thelocale= Globalize.parseInt('1.0') == 1 ? 'en_US' : 'de';
            var mapNotExisting_row = {'Gain':0,'Build':0,'Defend':0,'Observe':0,'Maintain':0};
            var mapNotExisting_col = {'Gain':0,'Build':0,'Defend':0,'Observe':0,'Maintain':0};
            var totalNotExisting_row = 0,totalNotExisting_col = 0;
           
            //Getting total values new matrix for each segment
            j$table.find('td.totalCell_horz').each(function(){
                for(var i=0, max=segments.length;i<max;i++){
                    if(j$(this).hasClass(segments[i])){
                        var totalRow = j$(this).text();
                        totalRow = totalRow.replace(/\,|\./g,'');
                        totalSegment_horz[segments[i]] = totalRow;
                        break; 
                    }
                }
            });
            
            //Getting total values old matrix for each segment
            j$table.find('td.totalCell_vert').each(function(){
                for(var i=0, max=segments.length;i<max;i++){
                    if(j$(this).hasClass(segments[i])){
                        var totalRow = j$(this).text();
                        totalRow = totalRow.replace(/\,|\./g,'');
                        totalSegment_vert[segments[i]] = totalRow;
                        break; 
                    }
                }
            });
            
             //console.log(':: TD Gain_Gain: ', j$table.find("td.Gain_Gain"));
            for(var i=0, max=segments.length; i<max; i++){
                for(var j=0, max=segments.length; j<max; j++){
                 	var key = segments[i]+'_'+segments[j];
                 	var units = 0;
                 	
                 	if(MATRIX_COMPARISON[key])
                		units = MATRIX_COMPARISON[key];	
                	
                	//Sum up totals no existing
                    if(segments[i]!='Blank'){
                    	mapNotExisting_row[segments[i]] += units;
                    }
                    
                    if(segments[j]!='Blank'){
						mapNotExisting_col[segments[j]] += units;
					}

                	//Assign blank units 
                	if(segments[j]=='Blank'){
                		units = (totalSegment_horz[segments[i]] - mapNotExisting_row[segments[i]]);
                		totalNotExisting_row+=(isNaN(units) ? 0 : units);
                	}	
                	if(segments[i]=='Blank'){
                		units =  (totalSegment_vert[segments[j]] - mapNotExisting_col[segments[j]]);
                		totalNotExisting_col+=(isNaN(units) ? 0 : units);
                	}
                	
                	//Assign values map all segment values
                	mapMatrixCompairison[key] =  (isNaN(units) ? 0 : units);
                }
            }
            
            //Totals not existing units
            totalSegment_vert['Blank'] = totalNotExisting_row;
            totalSegment_horz['Blank'] = totalNotExisting_col;
            
            //Setting values on the table
            for(var i=0, max=segments.length; i<max; i++){
                for(var j=0, max=segments.length; j<max; j++){
                    var key = segments[i]+'_'+segments[j];
                    var j$tds = j$table.find("td."+key);
                    var units = 0;
                    
                    if(mapMatrixCompairison[key])
                    	units=mapMatrixCompairison[key];
                    
                    j$tds.each(function(){
                        var j$td = j$(this);
                        if(j$td.hasClass('green_cell') || j$td.hasClass('red_cell')){
                            j$td.text(FormatNums(parseInt(units),thelocale,false,0));
                        }//Calculating horizontal values
                        else if(j$td.hasClass('right_cell')){
                            var totalSegment = totalSegment_horz[segments[i]];
                            var segmentCovered = (totalSegment && totalSegment > 0) ? (units/totalSegment) * 100 : 0;   
                            j$td.text(Globalize.format(segmentCovered,'n0') +' %' );
                        }//Calculating vertical values
                        else if(j$td.hasClass('bottom_left_cell')){
                            var totalSegment = totalSegment_vert[segments[j]];
                            var segmentCovered = (totalSegment && totalSegment > 0) ? (units/totalSegment) * 100 : 0;   
                        	j$td.text(Globalize.format(segmentCovered,'n0') +' %' );
                      	}
                    });
                }
            }
          
            //Setting total not existing units
            j$('.total_not_existing_row').text(FormatNums(parseInt(totalNotExisting_row),thelocale,false,0));
            j$('.total_not_existing_col').text(FormatNums(parseInt(totalNotExisting_col),thelocale,false,0));
        }
        
        /**
        * Formating nums
        */
        function FormatNums(num,locale,flag,digits){
            locale=(''+locale).toLowerCase();
            if(num===''||(num&&num.charCodeAt&&num.substr)||isNaN(num)) {
                if(flag){
                    if(locale === 'de'){
                        unformateNum(num,'.',',',2);
                     }else{
                        unformateNum(num,',','.',2);
                     }
                }else{
                    unformateNum(num,locale,false); // change into number with function unformateNum.
                }
            }
            var isNegative = false;
            if(isNaN(digits))
                num = num.toFixed(1);
            else{
                isNegative = num < 0 ? true : false;
                num = parseFloat(num, 10);
                num = num.toFixed(digits);
            }
            var spt,deci,numint,numdec,numlen,result,position;
            if(locale=='de'){
                spt='.',deci=',',result='';
            }else{      
                spt=',',deci='.',result='';
            }
            if(isNegative) {
                result = '-';   
                num = num.replace('-','');
            }
            position=num.lastIndexOf('.');
            if(position>=0){
                numdec=num.substr(position+1);
                if(position>0)numint=num.substring(0,position);
            }else{
                numint=num;
            }
        
            numlen=numint.length; 
            while(numlen>3){
                var deduct=numlen%3;
                deduct=(deduct==0?3:deduct);
                    result+=numint.substr(0,deduct)+spt;
                    numint=numint.substr(deduct);
                    numlen=numlen-deduct;       
            }
            result+=numint; 
            if(position>=0){
                result=result+deci+numdec;
            }
            return result;
        }
        
        /**
        * Showing up curtain loading
        */        
        function showLoading(){
            j$('#loading-showing-div').html('<p style="font-size:32px;"><b> <font color="red"> Loading... </font><b/><p/>').show();
            j$('#loading-curtain-div').show();
        }
        
        /**
        * Hide curtain loading
        */
        function hideLoading(){
            j$('#loading-curtain-div').hide();
            j$('#loading-showing-div').hide();
        }
     </script>
     
    <div id="loading-curtain-div" title="Please Wait..." class="mask" style="top:0px;left:0px;text-align:center;width:100%;height:100%;display:none;background-color:#FFF;opacity:0.85;position:absolute;z-index:8000;filter:alpha(opacity=85);background-repeat:no-repeat;background-position:center 350px;background-image:url('/img/loading32.gif');">
        <div id="loading-showing-div" style="width: 80%; position: relative; z-index: 8001; left: 20%; margin-left: -160px; margin-top: 300px;"></div>
    </div>
    <span id="htmlEntity" style="display: none">&nbsp;</span>
   <!--apex:sectionHeader title="{!country.Name}" subtitle="Segment Comparison Report"/-->
    <div class="bPageTitle">
		<div class="ptBody secondaryPalette brandSecondaryBrd">
			<div class="content">
				<img alt="Country" title="Country" class="pageTitleIcon" src="/s.gif" />
				<h1 class="pageType">{!country.Name}</h1><span class="titleSeparatingColon">:</span><h2 class="pageDescription">Segment Comparison Report</h2>
				<div class="blank"></div>
			</div>
		</div>
		<apex:outputPanel id="descriptionReport">
			<fieldset><legend><strong>Filtered By</strong></legend>
				<table border="0" cellspacing="0" cellpadding="0" class="detailList">
					<tbody>
						<tr>
							<th scope="row" class="labelCol vfLabelColTextWrap  first ">{!$ObjectType.Matrix_BI__c.fields.Product_Catalog_BI__c.label}: </th>
							<td class="dataCol  first "><span>{!oldMatrixDesc.Product_Catalog_BI__r.Name}</span></td>
							<th scope="row" class="labelCol vfLabelColTextWrap  first ">Type: </th>
							<td class="dataCol  first "><span>{!oldMatrixDesc.RecordType.Name}</span></td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</apex:outputPanel>
	</div>
    <apex:form id="formSegmentReport">
        <div id="errorMsg"
            style="color: #ff0000; margin-left: 60px; display: none;"></div>
        <span id="htmlEntity" style="display: none">&nbsp;</span>
        <apex:pageBlock mode="maindetail" id="detailPageBlock"
            tabStyle="Matrix_BI__c">
            <apex:inputHidden id="IdOldMatrix" value="{!IdOldMatrix}" />
            <apex:inputHidden id="IdNewMatrix" value="{!IdNewMatrix}" />
            <div class="status">
                <apex:actionStatus startText=" Loading... " stopText="" id="status" >
                    <apex:facet name="start"><img src="/img/loading.gif"/><span class="waitingDescription">Loading...</span></apex:facet>
                </apex:actionStatus>
            </div>
            <br />
            <apex:pageBlockSection id="detailCycle" columns="2" title="Detail Information">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Select Old Cycle" />
                    <apex:selectList value="{!IdOldCycle}" size="1" multiselect="false">
                        <apex:actionSupport event="onchange" status="status"
                            action="{!action_loadOldMatrices}"
                            rerender="detailPageBlock, descriptionReport" />
                        <apex:selectOptions value="{!oldCycles}" />
                    </apex:selectList>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Select New Cycle" />
                    <apex:selectList value="{!IdNewCycle}" size="1"
                        id="selectNewCycles" multiselect="false"
                        disabled="{!If(newCycles.size == 1, true,false)}">
                        <apex:actionSupport event="onchange" status="status"
                            action="{!action_loadNewMatrices}" rerender="detailPageBlock" />
                        <apex:selectOptions value="{!newCycles}" />
                    </apex:selectList>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Select Old Matrix" />
                    <apex:selectList value="{!IdOldMatrix}" size="1"
                        Id="selectOldMatrix" multiselect="false"
                        disabled="{!If(oldMatrices.size == 1, true,false)}">
                        <apex:actionSupport event="onchange" status="status"
                            action="{!action_loadNewCycles}"
                            rerender="detailPageBlock, descriptionReport" />
                        <apex:selectOptions value="{!oldMatrices}" />
                    </apex:selectList>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Select New Matrix" />
                    <apex:selectList value="{!IdNewMatrix}" size="1"
                        id="selectNewMatrices" multiselect="false"
                        disabled="{!If(newMatrices.size == 1, true,false)}">
                        <apex:actionSupport event="onchange" status="status" action="{!action_getNewMatrix}"
                            rerender="detailPageBlock" />
                        <apex:selectOptions value="{!newMatrices}" />
                    </apex:selectList>
                </apex:pageBlockSectionItem>
           	</apex:pageBlockSection>
            <br />
            <br />
            <apex:pageBlockSection id="detailSegment" columns="1">
                <apex:facet name="header">
                    <apex:outputPanel >
                        <h3>Report Details</h3>
                        <apex:commandButton style="margin-left: 40%;border-radius: 10px;font-weight: bolder; font-size: 1.5em;" value="Run Report" onclick="showLoading();" oncomplete="startComparison();"
                            disabled="{!IF(OR(IdNewMatrix == null, IdNewMatrix == ''), true,false)}" rerender="formSegmentReport"/>
                    </apex:outputPanel>
                </apex:facet>
                    
                <table id="comparisonTable" border="1" style="cellspacing:0;" class="table_segment_comparison">
                    <tr>
                        <th colspan="3" rowspan="3" class="header_title" style="width:300px;">
                            <span>Comparison <br /><span class="nonMatrix" style="display:{!IF(oldMatrixDesc.Name_BI__c == null || oldMatrixDesc.Name_BI__c == '', '','none')}">Old Matrix...</span>{!oldMatrixDesc.Name_BI__c} vs. <span class="nonMatrix" style="display:{!IF(newMatrixDesc.Name_BI__c == null || newMatrixDesc.Name_BI__c == '', '','none')}">New Matrix...</span> {!newMatrixDesc.Name_BI__c}</span>                 
                        </th>
                        <th colspan="12" class="header_title"><b><span class="nonMatrix" style="display:{!IF(newMatrixDesc.Name_BI__c == null || newMatrixDesc.Name_BI__c == '', '','none')}">New Matrix...</span> {!newMatrixDesc.Name_BI__c}</b></th>
                    </tr>
                    <tr>
                        <td colspan="2" class="Gain" style="border-bottom: none !important;"><b>{!$Label.channel_budget_page_lab11}</b></td>
                        <td colspan="2" class="Build" style="border-bottom: none !important;"><b>{!$Label.channel_budget_page_lab12}</b></td>
                        <td colspan="2" class="Defend" style="border-bottom: none !important;"><b>{!$Label.channel_budget_page_lab13}</b></td>
                        <td colspan="2" class="Observe" style="border-bottom: none !important;"><b>{!$Label.channel_budget_page_lab14}</b></td>
                        <td colspan="2" class="Maintain" style="border-bottom: none !important;"><b>{!$Label.channel_budget_page_lab15}</b></td>
                        <td colspan="2" style="border-bottom: none !important;"><b>Not Existing</b></td>
                    </tr>
                    <tr>
                        <td class="Gain totalCell_vert" style="border-right: none !important; border-top: none !important;">
                            {!newMatrixOverview.segmentOverview['Gain']}
                        </td>
                        <td class="Gain" style="border-left: none !important; border-top: none !important;">{!newMatrixOverview.gainCovered}%</td>
                        <td class="Build totalCell_vert" style="border-right: none !important; border-top: none !important;">
                            {!newMatrixOverview.segmentOverview['Build']}
                        </td>
                        <td class="Build" style="border-left: none !important; border-top: none !important;">{!newMatrixOverview.buildCovered}%</td>
                        <td class="Defend totalCell_vert" style="border-right: none !important; border-top: none !important;">
                            {!newMatrixOverview.segmentOverview['Defend']}
                        </td>
                        <td class="Defend" style="border-left: none !important; border-top: none !important;">{!newMatrixOverview.defendCovered}%</td>
                        <td class="Observe totalCell_vert" style="border-right: none !important; border-top: none !important;">
                            {!newMatrixOverview.segmentOverview['Observe']}
                        </td>
                        <td class="Observe" style="border-left: none !important; border-top: none !important;">{!newMatrixOverview.observeCovered}%</td>
                        <td class="Maintain totalCell_vert" style="border-right: none !important; border-top: none !important;">
                            {!newMatrixOverview.segmentOverview['Maintain']}
                        </td>
                        <td class="Maintain" style="border-left: none !important; border-top: none !important;">{!newMatrixOverview.maintainCovered}%</td>
                        <td style="border-right: none !important; border-top: none !important;" class="total_not_existing_row"></td>
                        <td style="border-left: none !important; border-top: none !important;"></td>
                    </tr>
                    <tr>
                        <td rowspan="12" class="header_title" ><div
                                class="vertical-text" style="margin:0% !important">
                                <b><span class="nonMatrix" style="display:{!IF(oldMatrixDesc.Name_BI__c == null || oldMatrixDesc.Name_BI__c == '', '','none')}" >Old Matrix...</span> {!oldMatrixDesc.Name_BI__c}</b> 
                            </div></td>
                        <td rowspan="2" class="Gain" style="border-right: none !important;"><b>{!$Label.channel_budget_page_lab11}</b></td>
                        <td class="Gain totalCell_horz" style="border-left: none !important; border-bottom: none !important;">
                            {!oldMatrixOverview.segmentOverview['Gain']}
                        </td>
                        <td class="green_cell Gain_Gain"></td>
                        <td class="right_cell Gain_Gain"></td>
                        <td class="red_cell Gain_Build"></td>
                        <td class="right_cell Gain_Build"></td>
                        <td class="red_cell Gain_Defend"></td>
                        <td class="right_cell Gain_Defend"></td>
                        <td class="red_cell Gain_Observe"></td>
                        <td class="right_cell Gain_Observe"></td>
                        <td class="red_cell Gain_Maintain"></td>
                        <td class="right_cell Gain_Maintain"></td>
                        <td class="red_cell Gain_Blank"></td>
                        <td class="right_cell Gain_Blank"></td>
                    </tr>
                    <tr>
                        <td class="Gain" style="border-left: none !important; border-top: none !important;">{!oldMatrixOverview.gainCovered}%</td>
                        <td class="bottom_left_cell Gain_Gain"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell Gain_Build"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell Gain_Defend"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell Gain_Observe"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell Gain_Maintain"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell Gain_Blank"></td>
                        <td class="bottom_right_cell"></td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="Build" style="border-right: none !important;"><b>{!$Label.channel_budget_page_lab12}</b></td>
                        <td class="Build totalCell_horz" style="border-left: none !important; border-bottom: none !important;">
                            {!oldMatrixOverview.segmentOverview['Build']}
                        </td>
                        <td class="red_cell Build_Gain"></td>
                        <td class="right_cell Build_Gain"></td>
                        <td class="green_cell Build_Build"></td>
                        <td class="right_cell Build_Build"></td>
                        <td class="red_cell Build_Defend"></td>
                        <td class="right_cell Build_Defend"></td>
                        <td class="red_cell Build_Observe"></td>
                        <td class="right_cell Build_Observe"></td>
                        <td class="red_cell Build_Maintain"></td>
                        <td class="right_cell Build_Maintain"></td>
                        <td class="red_cell Build_Blank"></td>
                        <td class="right_cell Build_Blank"></td>
                    </tr>
                    <tr>
                        <td class="Build" style="border-left: none !important; border-top: none !important;">{!oldMatrixOverview.buildCovered}%</td>
                        <td class="bottom_left_cell Build_Gain"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell Build_Build"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell Build_Defend"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell Build_Observe"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell Build_Maintain"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell Build_Blank"></td>
                        <td class="bottom_right_cell"></td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="Defend" style="border-right: none !important;"><b>{!$Label.channel_budget_page_lab13}</b></td>
                        <td class="Defend totalCell_horz" style="border-left: none !important; border-bottom: none !important;">
                            {!oldMatrixOverview.segmentOverview['Defend']}
                        </td>
                        <td class="red_cell Defend_Gain"></td>
                        <td class="right_cell Defend_Gain"></td>
                        <td class="red_cell Defend_Build"></td>
                        <td class="right_cell Defend_Build"></td>
                        <td class="green_cell Defend_Defend"></td>
                        <td class="right_cell Defend_Defend"></td>
                        <td class="red_cell Defend_Observe"></td>
                        <td class="right_cell Defend_Observe"></td>
                        <td class="red_cell Defend_Maintain"></td>
                        <td class="right_cell Defend_Maintain"></td>
                        <td class="red_cell Defend_Blank"></td>
                        <td class="right_cell Defend_Blank"></td>
                    </tr>
                    <tr>
                        <td class="Defend" style="border-left: none !important; border-top: none !important;">{!oldMatrixOverview.defendCovered}%</td>
                        <td class="bottom_left_cell Defend_Gain"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell Defend_Build"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell Defend_Defend"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell Defend_Observe"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell Defend_Maintain"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell Defend_Blank"></td>
                        <td class="bottom_right_cell"></td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="Observe" style="border-right: none !important;"><b>{!$Label.channel_budget_page_lab14}</b></td>
                        <td class="Observe totalCell_horz" style="border-left: none !important; border-bottom: none !important;">
                            {!oldMatrixOverview.segmentOverview['Observe']}
                        </td>
                        <td class="red_cell Observe_Gain"></td>
                        <td class="right_cell Observe_Gain"></td>
                        <td class="red_cell Observe_Build"></td>
                        <td class="right_cell Observe_Build"></td>
                        <td class="red_cell Observe_Defend"></td>
                        <td class="right_cell Observe_Defend"></td>
                        <td class="green_cell Observe_Observe"></td>
                        <td class="right_cell Observe_Observe"></td>
                        <td class="red_cell Observe_Maintain"></td>
                        <td class="right_cell Observe_Maintain"></td>
                        <td class="red_cell Observe_Blank"></td>
                        <td class="right_cell Observe_Blank"></td>
                    </tr>
                    <tr>
                        <td class="Observe" style="border-left: none !important; border-top: none !important;">{!oldMatrixOverview.observeCovered}%</td>
                        <td class="bottom_left_cell Observe_Gain"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell Observe_Build"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell Observe_Defend"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell Observe_Observe"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell Observe_Maintain"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell Observe_Blank"></td>
                        <td class="bottom_right_cell"></td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="Maintain" style="border-right: none !important;"><b>{!$Label.channel_budget_page_lab15}</b></td>
                        <td class="Maintain totalCell_horz" style="border-left: none !important; border-bottom: none !important;">
                            {!oldMatrixOverview.segmentOverview['Maintain']}
                        </td>
                        <td class="red_cell Maintain_Gain"></td>
                        <td class="right_cell Maintain_Gain"></td>
                        <td class="red_cell Maintain_Build"></td>
                        <td class="right_cell Maintain_Build"></td>
                        <td class="red_cell Maintain_Defend"></td>
                        <td class="right_cell Maintain_Defend"></td>
                        <td class="red_cell Maintain_Observe"></td>
                        <td class="right_cell Maintain_Observe"></td>
                        <td class="green_cell Maintain_Maintain"></td>
                        <td class="right_cell Maintain_Maintain"></td>
                        <td class="red_cell Maintain_Blank"></td>
                        <td class="right_cell Maintain_Blank"></td>
                    </tr>
                    <tr>
                        <td class="Maintain" style="border-left: none !important; border-top: none !important;">{!oldMatrixOverview.maintainCovered}%</td>
                        <td class="bottom_left_cell Maintain_Gain"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell Maintain_Build"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell Maintain_Defend"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell Maintain_Observe"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell Maintain_Maintain"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell Maintain_Blank"></td>
                        <td class="bottom_right_cell"></td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="border-right: none !important; border-left: 2px solid black !important;"><b>Not Existing</b></td>
                        <td style="border-left: none !important; border-bottom: none !important;" class="total_not_existing_col" ></td>
                        <td class="red_cell Blank_Gain"></td>
                        <td class="right_cell Blank_Gain"></td>
                        <td class="red_cell Blank_Build"></td>
                        <td class="right_cell Blank_Build"></td>
                        <td class="red_cell Blank_Defend"></td>
                        <td class="right_cell Blank_Defend"></td>
                        <td class="red_cell Blank_Observe"></td>
                        <td class="right_cell Blank_Observe"></td>
                        <td class="red_cell Blank_Maintain"></td>
                        <td class="right_cell Blank_Maintain"></td>
                        <td style="border-right: none !important; border-bottom: none !important;"></td>
                        <td class="right_cell"></td>
                    </tr>
                    <tr>
                        <td style="border-left: none !important; border-top: none !important;"></td>
                        <td class="bottom_left_cell Blank_Gain"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell Blank_Build"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell Blank_Defend"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell Blank_Observe"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell Blank_Maintain"></td>
                        <td class="bottom_right_cell"></td>
                        <td class="bottom_left_cell"></td>
                        <td class="bottom_right_cell"></td>
                    </tr>
                </table>
           </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>