<apex:page standardController="Product_Diseases_CAP__c" extensions="Product_Disease_Insert_Con">
<script type="text/javascript">
 function toggle_visibility(it,box){
     var vis = (box.checked) ? "block" : "none";
     document.getElementById(it).style.display = vis;
 }
 </script>
  <apex:form >
      <apex:pageBlock >
          <apex:messages style="color:red;"/> 
          <apex:pageBlockSection columns="3">          
              
              
               <apex:selectList value="{!SelectedProducts}" multiselect="true" size="5" style="width:200px">
                    {!$Label.BI_GLOBAL_PRODUCT_NAME}&nbsp;<apex:selectOptions value="{!Products}"/>
                </apex:selectList>
                
                <apex:selectList value="{!SelectedCompetitorProducts}" multiselect="true" size="5" style="width:200px">
                    {!$Label.Competitor_Products_Cap} &nbsp; <apex:selectOptions value="{!CompetitorProducts}"/>
                </apex:selectList>
             
             
                 <apex:outputPanel >{!$Label.Global_NewProduct_Name} &nbsp; &nbsp; <apex:inputCheckbox value="{!selectCheck}" onclick="toggle_visibility('{!$Component.fieldToHide}',this)"/>
                    <apex:outputPanel id="fieldToHide" style="display:none;">
                     {!$Label.Global_NewProduct_Name} &nbsp; &nbsp;<apex:inputText value="{!newPro}"/></apex:outputPanel>
                 </apex:outputPanel>
                 
                 
             
               
                <apex:selectList value="{!SelectedDiseases}" multiselect="true" size="5" style="width:200px">
                    {!$Label.Global_Disease_Name}&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<apex:selectOptions value="{!Diseases}"/>
                </apex:selectList>              
                             
                <apex:selectList value="{!SelectedNewDiseases}" multiselect="true" size="5" style="width:200px">
                    {!$Label.Global_NewDisease_Name}&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<apex:selectOptions value="{!NewDiseases}"/>
                </apex:selectList>      
                           
                <apex:outputPanel >{!$Label.Global_NewDisease_Name} &nbsp; &nbsp;<apex:inputCheckbox value="{!selectCheck1}" onclick="toggle_visibility('{!$Component.fieldToHide1}',this)"/>
                <apex:outputPanel id="fieldToHide1" style="display:none;">
                 {!$Label.Global_NewDisease_Name} &nbsp; &nbsp;<apex:inputText value="{!newDis}"/></apex:outputPanel>
                 </apex:outputPanel>
                  
                  
                  
                  
                  <apex:outputpanel ></apex:outputpanel>
                <br/><br/>
                
               <!-- Save Button-->
               <apex:outputPanel > <apex:commandButton value="{!$Label.Save_button}" action="{!done}" style=""/></apex:outputPanel>
          </apex:pageBlockSection>
      </apex:pageBlock>
  </apex:form>
</apex:page>