
    /* address update styles */
        .black_overlay {
            display: none;
            position: fixed;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index:1001;
            -moz-opacity: 0.8;
            opacity:.80;
            filter: alpha(opacity=80);
        }
        .modal_content {
            display: none;
            position: absolute;
            top: 5px;
            left: 30%;
            border: 2px solid #408040;
            border-radius:20px;
            background-color: white;
            z-index:1002;
            padding-bottom: 10px;
            width:45%; 
            text-align: left;
        }
        .field-group{
            display: block;
            height:30px;
            padding-top:8px;
        }
        .field-group-short{
            width:150px;
            display: inline-block;
            height:23px;
        }
        .labelCell{
            width:172px;
            padding-right: 3px;
            text-align:right;
            display: inline-table;
        }
        .inputCell {
            width:175px;
            position: relative;
            text-align: left;
        }
        div.buttons-panel {
            text-align: center;
            margin: 0px;
            white-space: normal;
        }
        div.fields-panel{
            margin: 15px;
            margin-bottom:5px;
        }

        /* CSS for text field label */
        .fieldinput {
            margin: 5px 0;
            background: white;
            float: left;
            clear: both;
            width:95%;
        }
        .fieldinput span {
            position: absolute;
            padding: 5px;
            margin-left: 3px;
            color: #999;
        }
        .fieldinput input, .fieldinput textarea, .fieldinput select {
            position: relative;
            margin: 0;
            border-width: 1px;
            padding: 6px;
            background: transparent;
            font: inherit;
            text-align: left;
        }
        .inputField {
            width:100%;
        }

        .inputFieldShort {
            width:100px;
        }

        select.no-address { 
            border: 2px solid red;
        }

        .label {
            text-align: left;
            display:inline;
            margin-right: 10px;
            font-weight: normal;
            width:25%;
            float:left;
            font-size:90%;
        }

        .label-normal {
            font-weight: normal;
        }

        .field {
            text-align: left;
            background: white;
            clear: both;
            width:65%;
            display: inline;
        }

        .field input, .field textarea, .field select{
            position: relative;
            margin: 0;
            border-width: 1px;
            padding: 3px;
            background: transparent;
            width:60%;
        }

        .field select{
            margin-left: -9px;
        }

        .required {
            color: #c00;
        }

        fieldset label{
             margin-right: 10px;
             position: relative;
             display:inline;
         }
        fieldset div{
            padding-left:20px;
        }

        fieldset label:after{
             content: "";
             position: absolute;
             right: -0.2em;
        }

        fieldset input{
            float: left;
            width:96%;
            border-width: 1px;
            padding: 3px;
            background: transparent;
            border: 1px solid #dddddd;
            background-color: transparent; 
            border-style: solid; 
            border-width: 1px 1px 1px 1px; 
            border-color:  #dddddd;
        }

        fieldset select{
            margin-left: 1px;
            float: left;
        }

        fieldset legend{
            padding: 0em 0.5em;
            color:black;
            font-size:90%;
            font-weight: normal;
        }

        fieldset legend.required {
            padding: 0em 0.5em;
            color:#c00;
            font-size:90%;
            font-weight: normal;
        }

        fieldset{
            font: sans-serif;
            border:1px solid grey;
            border-width: 0px 0px 0px 0px;
            
        }

        .requiredBlock {
            background-color: #c00;
            position: absolute;
            width: 3px;
            top: 1px;
            bottom: 1px;
            margin-left:-6px;
            padding-left:0px;
        }
        
        .requiredWrapper {
            position: relative;
            height: 100%;
            width: 100%;
            padding-left:0px;
            display:inline-block;
        }
