.apexBtn {
    padding-bottom: 15px;
}

#mainTable_paginate{
	text-align: center;
}

input.btn.customBtn{
	color: #fff !important;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
    padding-bottom: 15px;
    font-size: 140% !important;
}

input.btn.customBtn:hover{
	background-color: #286090 !important;
	color: #fff !important;
}

.bs .btn-sm.action-button{
	font-size: 140% !important;
	position: absolute;
}

.fa-exclamation-triangle{
	color: #ff9d00;
}

/*.bs .modal-body{
	position: relative !important;
	height: auto;
	max-height: 300px !important;
	padding: 3em 0em !important;
}*/

.bs .modal-body p{
	margin: 0px !important;
}

.bs .modal-body p.confirm-msg{
	background: #FEFDDE;
    padding: 1em;
    margin-top: 1em !important;
    font-size: 13px;
}

/*.bs .modal-body .body-footer{
	line-height: 3em;
	height: 3em;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 0px 20px;
}

.bs .modal-body .body-header{
	line-height: 3em;
	height: 3em;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	padding: 0px 20px;
}
.scrollable-list-wrapper{
	height: 100%;
	max-height: 200px !important;
	overflow: scroll;
}*/
.bs .form-control.has-error{
	border-color: #FF5656;
}

.bs .form-control.has-error:focus{
	border-color: #FF5656 !important;
	box-shadow: inset 0 1px 1px rgba(255, 86, 86, 0.075) !important;
}
.bs .form-control.input-date{
	display: inline-block !important;
	height: 30px !important;
}

.bs label{
	font-weight: 100 !important;
}
.error-msg{
	color: #FF5656;
    background: rgba(255, 86, 86, 0.075);
    padding: 10px 15px;
    border-radius: 5px;
}

.not-approved-error{
	color: #FF5656;
    background: rgba(255, 86, 86, 0.075);
    padding: 20px 15px;
    border-radius: 5px;
    font-size: 14px;
}

.not-approved-alert{
	color: #ffa64d;
    background: rgba(255, 166, 77, 0.075);
    padding: 20px 15px;
    border-radius: 5px;
    font-size: 14px;
}

