/**
 * Numeric inputs
 */
 input.form-control.numeric {
 	padding-right: 0px !important;
 	padding-left: 0px !important;
 	width: 45px !important; 
 	text-align: center; 
 	height: 25px !important; 
 	margin: 0 auto !important;
 }

 input.form-control.input-error {
	border: red 2px solid !important;
    background-color: rgba(255, 0, 0, 0.3) !important;
    color: red;
    font-weight: bold;
 }

/**
 * Hide spinner from inputs of type number
 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
/**
 * Alerts
 */
 .planit-alert{
 	position: fixed;
    bottom: 0;
 }

/**
 * Add vertical scrolls to the modals
 */
.modal-body{
    max-height: calc(100vh - 300px);
    overflow-y: auto;
}

.inline {
	display : table-cell;
}
.productSegment {
	width: 60%;
}
.productValue {
	width: 20%;
}

/**
 * Remove padding for iiner divs in table
 */
table.table thead>tr>th.noPaddedCell,
table.table tbody>tr>td.noPaddedCell {
	padding: 0 !important;
}
table.table thead>tr>th.noPaddedCell div.segmentData,
table.table tbody>tr>td.noPaddedCell div.segmentData {
	height: 50px;
}
table.table thead>tr>th.noPaddedCell div.segmentDataEdit,
table.table tbody>tr>td.noPaddedCell div.segmentDataEdit {
	height: 70px;
}
table.table thead>tr>th.noPaddedCell div.segmentData div,
table.table tbody>tr>td.noPaddedCell div.segmentData div {
	margin-top:10px;
}

table.table .noPaddedCell .vcenter {
    height: 50px;
    padding-top: 10px;
    padding-left: 0px !important;
    min-width: 30px;
    float: none !important;
    display: table-cell;
}
table.table thead>tr>th.noPaddedCell .vcenterEdit,
table.table tbody>tr>td.noPaddedCell .vcenterEdit {
    padding-top: 20px;
}

/**
 * Header styles
 */

table.table thead {
	background-color: white;
} 
table.table thead th span {
	cursor:pointer;
} 

/**
 * Edit action icons
 */
 .actionIcon {
 	cursor: pointer;
 	font-weight: bold !important;
 }

/**
 * Pagination items
 */
 ul.pagination li a {
 	cursor:pointer;
 }

/*
	CUSTOMER INFO
*/

/*.input-error {border: 1px solid #f35b3f !important }*/

.bs table.customerInfo{
	margin-top: 10px;
}

.bs .table tr td.customerInfo {
	padding-right: 2em !important;
	vertical-align: top !important;
}

.tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

div.filter {
	margin-bottom: 10px;
	margin-top: 10px;
}

.panel-heading.collapsable {
	cursor: pointer;
}

.panel {
	margin: 10px 0px !important;
}

#sapl_summaryTable tbody tr:nth-of-type(odd) {
	background-color: #f5f5f5 !important;
}

input.btn.action-btn {
	margin: 0.5em !important;
}

#section1 .panel-body .row {
	margin: 5px auto !important;
}

/*
	DATATABLE STYLES
*/

/*GLOS-178*/
div#sapl_dataTable_wrapper {
	margin-top:3em;
}

.dataTables_wrapper{
    overflow-x: scroll !important;	
}
div#sapl_dataTable_wrapper div.dataTables_filter input {
	width: 350px !important;
}

div.dataTables_wrapper div.dataTables_paginate, div.dataTables_wrapper div.dataTables_filter {
	text-align: center;
}

div.dataTables_wrapper div.dataTables_paginate {
	margin-bottom: 0em;
}

div.dataTables_wrapper div.dataTables_paginate ul li {
	margin: 0px !important;
}

div.dataTables_wrapper div.dataTables_filter label {
	width: 100% !important;
}

div#sapl_dataTable_wrapper div.dataTables_filter input {
	width: 100% !important;
}

.data_table_input {
	width: 45px !important;
	text-align: right;
	height: 25px !important;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after,
	table.dataTable thead .sorting_desc:after {
	content: none !important;
}

#legend-table.list-inline>li {
	padding: 0px 5px !important;
	margin-left: 0px !important;
}

.bs .table tbody>tr>td {
	vertical-align: middle !important;
}

.bs .modal-dialog {
	position: initial;
}

.filter-table {
	margin-left: 1em;
}

.filter-table tbody tr th {
	text-align: center !important;
	padding-bottom: 0.5em;
	padding-right: 15px;
}

.filter-table tbody tr td {
	padding-right: 15px;
}

.bs .table.summary-table tr td{
	padding: 2px !important;
}

/* ADD TARGET TABLE */

div#addTargetTable_wrapper div#addTargetTable_filter {
	display: inline-block;
    position: absolute;
    right: 0px;
    padding-right: 10px;
}

div#addTargetTable_wrapper div.dataTables_length {
	display: inline-block;
}

.add-target-input {
	width: 45px !important;
    text-align: right;
    height: 25px !important;
}

/*
	BADGE BUTTONS
*/
.search-icon-wrapper{
	height: 25px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
    cursor: pointer;
}

.search-icon-wrapper .unhover{
	line-height: 25px !important;
}

.search-icon-wrapper:hover{
	background: rgba(0,0,0,0.2);
}

.search-icon-wrapper:hover .unhover{
	color: #333;
}


tr.deleted {
	background-color: #ffdbdb;
}

tr.edited {
	background-color: #FFFFB9;
}

tr.rejected {
	background-color: #FFCD81;
}

tr.reviewed {
	background-color: #C0FFB9;
}

tr.deleted {
	background-color: #ffdbdb !important;
}

.edited td {
	background-color: #FFFFB9 !important;
}

.rejected td {
	background-color: #FFCD81 !important;
}

.reviewed td {
	background-color: #C0FFB9 !important;
}
.addedManually td{
	background-color: #A9C4EB !important;
}

span.unhover {
	color: #737373;
    cursor: pointer;
}

span.non-clickable{
	color: #737373;
}

span.unhover:hover {
	color: #333;
    cursor: pointer;
}

span.unhover-blue {
	color: #428bca;
    cursor: pointer;
}

span.unhover-blue:hover {
	color: #2a6496;
    cursor: pointer;
}

span.unhover-green {
	color: #03d003;
    cursor: pointer;
}

span.unhover-green:hover {
	color: #2a962f;
    cursor: pointer;
}

span.edited {
	color: #FFD115;
}

span.deleted {
	color: red;
}

span.rejected {
	color: #FEA41E;
}

span.reviewed {
	color: #21FF08;
}

span.addedManually {
	color: #A9C4EB;
}

span.glyphicon.glyphicon-link.related-flag {
	display: none !important;
}

td.has-related span.glyphicon.glyphicon-link.related-flag {
	display: inline-block !important;
}

td.has-not-related div.span-container{
	display: none !important;
}

.status-msg{
	padding: 5px;
    background: rgba(70, 70, 70, 0.07);
    border-radius: 5px;
}

.disabled{
	cursor: not-allowed !important;
}
/*
	SPINNER
*/

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  /*Center the spinner*/
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.loader_page {
 position:fixed;
    z-index:99;/* make higher than whatever is on the page */
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    background:red;
    width:100px;
    height:100px;
}

.spin-big {
    font-size: 50px;
    height: 50px;
    width: 50px;
 
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*
	BUSINESS RULES
*/
.business-rule-div {
	width: 69px;
}


/*
	OTHERS
*/

.bs .form-control.filterOption{
	height: 30px !important;
}

.bs #sapl_dataTable.table thead > tr > th.main-th{
	vertical-align: middle !important;
	text-align: center !important;
}

.bs legend.summary-legend{
	margin-bottom: 0px !important;
}

.bs legend.filter-legend{
	margin-bottom: 0px !important;
}

.no-data-display{
	text-align: center;
    padding: 1em;
    border: 1px dashed grey;
    margin-top: 1em;
    margin-bottom: 1em;
}
.no-data-display .msg{
	color: grey !important;
	font-size: 1.2em !important;
	margin-bottom: 0px !important;
}

.terms-legend{
	/*position: absolute;
	right: 2.6em;
	margin-bottom: 1em;
	padding: 5px;*/
	border: 1px dashed grey !important;
    font-size: 0.75rem;
    padding: 0.3em;
}

.bs table#terms-leyend-table{
	display: block !important;
}

.bs table#terms-leyend-table td.leyend-text{
	max-width: 200px;
}

.terms-legend ul li{
	margin-left: 0px !important;
}

.terms-legend ul{
	display: none !important;
	padding: 0.8em !important;
}

/*#segment-leyend{
	padding-top: 2.5em !important;
}*/

/*@media (max-width: 1000px) {
	.terms-legend{
		position: inherit;
		text-align: center;
		width: 100%;
		border: none !important;
	}

	.terms-legend ul li{
		margin-left: 0px !important;
		display: inline-block;
	}
	
	.terms-legend ul{
		padding: 0.8em !important;
		border: 0px !important;
		display: block !important;
	}
	
	.bs table#terms-leyend-table{
		display: none !important;
	}
	#segment-leyend{
		padding-top: 0em !important;
	}
}
*/
.bs .col-md-9.td-column{
	padding-left: 0px !important;
}

.bs .col-md-1.td-column{
	padding-left: 0px !important;
}

.fa-exclamation-triangle{
	color: #ff9d00;
}


