.sul {border:1px solid #EEE; padding-top:2px !important; padding-bottom:3px !important;}
.sli {margin: 2px 2px 2px 0px;}
.csNameSpan {padding: 5px; padding-left: 10px; padding-right: 10px;}

.pgover{background: #D4F1FD !important; cursor: move;}
.clicked{background: #fb908a !important; cursor: move; opacity: 0.4;}

.groupNameInput {width:100px; /*margin-left:10px;*/}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled{opacity: 1;}

.groupNameDiv {float:left; margin-left:10px; margin-top:4px; padding-top:1px;}

.groupSpecialOuterDiv {float:right; margin-right:10px; margin-top:3px;}

.groupErrMsg {max-width:200px; text-align:left; white-space:normal; margin-left:10px; word-wrap:break-word; margin-top:3px;}

.okBtn {width:40px;}

.matrixDropUlCls li {overflow:hidden; text-overflow:ellipsis;}

.specialSeletorUl {}
.specialSeletorUl li {overflow:hidden; text-overflow:ellipsis;}

.groupTabelOuterDiv {/*overflow:auto;*/ padding:5px 2px 5px 2px; /*border:1px solid #EEE;*/ overflow-y: hidden;}

.specialCls{/*position: relative;*/ padding:1px; border: 1px solid #999;-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius:4px;}
.specialCls div{width: 100%; position: relative; vertical-align: middle;}
.specialCls div.h1{ height: 40px; line-height: 40px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius:4px;}
.specialCls div.h2{ 
	height: 16px; line-height: 16px;
	-moz-border-radius: 4px;      /* Gecko browsers */
	-webkit-border-radius: 4px;   /* Webkit browsers */
	border-radius:4px;            /* W3C syntax */
	overflow: hidden;
}
.specialCls div.h2 span.sCls{vertical-align: middle;position: relative;display: block;height: 100%;line-height: 100%;}

.dropUlCls {margin:0 auto; padding:0; float:left; text-align: center !important; width:100%; height:100%; line-height:100%;list-style:none; cursor: default;border-radius: 6px;}
.dropUlCls li {font-weight:normal; font-size:12px;}
		
.draggable{
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius:4px;
	list-style:none; 
	display:inline-block;zoom:1;
	*display:inline; float: left;
	margin-left:3px; margin-top:3px; height: 20px;line-height:20px;min-height:20px;max-height:20px; border: 1px solid #e0e3e5; z-index: 50;}
	
div.heightCls{height: 60px; line-height: 60px;min-height: 60px; max-height: 120px;}

.matrixDropUlCls {width: 100%; height: 98%;line-height:98%; list-style: none; padding: 0; margin: 0;}
.matrixDropUlCls li{margin: 0;padding: 0; width: 100%;height: 30px; line-height:30px; list-style: none; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius:4px; font-weight:normal; font-size:12px;}

.theTopDivCls{position:relative;}

.matrixOuterTable {margin-left:20px;}

.matrixOuterTable tr {background:#F5FAFA;}

.matrixOuterTable td {vertical-align:middle !important; padding:5px 25px 5px 5px; font-weight:bold; font-size:15px;white-space:nowrap;}

.groupTable {float:left; border:1px solid #F0E4E4; margin:1px 5px; cursor:default; display:inline-block; border-radius: 6px;}

.groupTable td {text-align:center; padding:0px 5px 5px 5px !important; vertical-align:middle !important;}

.groupTable td span {vertical-align:middle !important;}

.special-state-disabled {background:#FB908A;}

.runMatrixCreationBtn {margin-top:5px; margin-bottom:10px;}

.cancelBtn {margin-top:5px; margin-left:20px; margin-bottom:10px;}

.requiredInput .requiredBlock {
	background-color:#c00;
	position:absolute;
	left:-4px;
	width:3px;
	top:1px;
	bottom:1px;
}

.requiredInput {position:relative;height:100%;}

.mtSelectListCls{width:118px;}

.lcSelectListCls{width:118px;}

.mtLabelDiv{position:absolute; bottom:65px; margin-left:5px;}

.matrixTableLabel{float:left; padding-top:2px;margin-left: 10px;margin-top: 6px;font-size: 12px;}