body #contentWrapper{font-size:12px;min-width: 1520px;}
body #contentWrapper .bodyDiv .outerNoSidebar{padding-bottom:0px;}
body .apexp .bDetailBlock.bPageBlock, body .apexp .individualPalette .bDetailBlock.bPageBlock {margin-bottom: 0px;}
.hideElem{display:none;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 1px solid #999;
	background: none;
	font-weight: normal;
	color: #4A4A56;
}
fieldset{
	font-size: 13px;
    height: 44px;
    width: 60%;
}
.theform{width:100%;overflow-x:auto;}
.matriHeader,.matri_Header{font-weight:bold;font-size:12px;margin-bottom:2px;color:#4A4A56;}
.matriHeader,.matri_Header{width:1000px;margin:0px auto;}
.matriHeader span{margin-left:400px;}
.matri_Header span{margin-left:270px;}
.hdlr div.frdv{margin-right:5px;}
.hdlr div.frdv,.hdlr div.ck{float:right;}
.hdlr div.ck{width:12px;height:12px;border:1px solid #ccc;cursor:pointer;}
.hdvh img{float:right;}
.hdvh.tenEl{margin-top:200px;}
.hdvh.fiSix{margin-top:60px;}
#matrixBody{width:1200px;color:#4A4A56;font-size:12px;margin:0px auto;}
.leftSec{height:650px;width:72px;margin-left:0px;margin-right:4px;position:relative;}
.left_Sec{height:450px;width:72px;margin-left:0px;margin-right:4px;position:relative;}
.leftSec,.left_Sec,.rightSec,.colorpick,.kpiDiv,.kpiTableDiv,#chart_div,.segBtnDiv{float:left;}
#chart_div{width:250px;}	
.leftSec .hdlr{text-align:right;margin:10px 0px;font-weight:bold;}
.rightSec{border:2px solid #455;margin-left:25px;}
.rightSec ol.tenEleven{list-style-type: none; margin: 0; padding: 0; width: 702px;}
.rightSec ol.fiveSix{list-style-type: none; margin: 0; padding: 0; width: 432px; }
.rightSec ol li {position:relative;margin:0px;padding:0px 1px; float: left; width: 50px; height: 36px; font-size: 12px; text-align: right; line-height:1;cursor:default;}
.rightSec ol li.tdhd{background:#FFF;}

.clear{clear:both;}
.clearright{clear:right;}
.rightSec table{border-collapse:collapse;border:2px solid #800;margin:10px;}
.rightSec table td{border-width:1px;border-style:solid;height:60px;width:50px;}
.colorpick{width:200px;}
.cpsa{height:460px;}
.cpsb{height:270px;}
#colorbody{position:absolute;width:187px;margin-right:20px;border:2px solid #CAA;border-radius:12px;background:#F8F8F8;z-index:1000;-webkit-box-shadow:-1px 3px 2px #CCC;
 -moz-box-shadow:-1px 3px 2px #CCC;}
#colors {padding: 0px;margin:6px;}
body .bPageBlock .detailList div#matrixBody .colorpick #colorbody #colors table#colorpickt1{border:none;width:176px;margin:0 auto;}
body .bPageBlock .detailList div#matrixBody .colorpick #colorbody #colors table#colorpickt1 tbody tr td{width:54px;
	height:30px;vertical-align:middle;text-align:center;font-weight:bold;cursor:pointer;}
body .bPageBlock .detailList div#matrixBody .colorpick #colorbody #colors table#colorpickt2{border:none;width:176px;margin:0 auto;}
body .bPageBlock .detailList div#matrixBody .colorpick #colorbody #colors table#colorpickt2 tbody tr td{width:82px;
	height:30px;vertical-align:middle;text-align:center;font-weight:bold;cursor:pointer;}
	body .bPageBlock .detailList div#matrixBody .colorpick #colorbody #colors table#popdata{border:none;width:176px;margin:0 auto;}
body .bPageBlock .detailList div#matrixBody .colorpick #colorbody #colors table#popdata tbody tr td{width:82px;
	vertical-align:middle;cursor:pointer;padding:3px;border:none;}
body .bPageBlock .detailList div#matrixBody .colorpick #colorbody #colors table#popdata tbody tr td.pdlf{text-align:right; white-space:nowrap;}
body .bPageBlock .detailList div#matrixBody .colorpick #colorbody #colors table#popdata tbody tr td.pdrt{text-align:left; white-space:nowrap;}	
.Gain{background:#F8B818;
color:#FFF;/*to test*/
}
.Build{background:#FCFC04;}
.Defend{background:#20A020;color:#FFF;}
.Observe{background:#FC0404;color:#FFF;}
.Maintain{background:#2060A0;color:#FFF;}
.Blank{background:#FFF;}
/**Minimun threshold Class*/
.Threshold{
	background: #808080;
	color: #fff;
}
.Threshold td{color: #fff;}

li.ui-selecting{background:#DFDFDF;}
span.ui-selecting {background:none;}
.Gain.ui-selecting{background:#FCDC8C;}
.Build.ui-selecting{background:#FEFEB4;}
.Defend.ui-selecting{background:#90D090;}
.Observe.ui-selecting{background:#FE8282;}
.Maintain.ui-selecting{background:#90B0D0;}
.Threshold.ui-selecting{background:#dfdfdf;}

.GainTd {background:#FCDC8C;}
.BuildTd {background:#FEFEB4;}
.DefendTd {background:#90D090;}
.ObserveTd {background:#FE8282;}
.MaintainTd {background:#90B0D0;}
.ThresholdTd {background:#808080;}
	
/*border:1px solid #0F9;*/
.rightSec ol li.tdhd.ui-selecting{border-color:#999;background: #FFF;}
li.ui-selected {background:#DFDFDF;}
span.ui-selected {background:none;}
.Gain.ui-selected{background:#FCDC8C;}
.Build.ui-selected{background:#FEFEB4;}
.Defend.ui-selected{background:#90D090;}
.Observe.ui-selected{background:#FE8282;}
.Maintain.ui-selected{background:#90B0D0;}
.Threshold.ui-selected{background:#dfdfdf;;}
.rightSec ol li.tdhd.ui-selected{border-color:#999;}
.kpiHeader{font-weight:bold;margin-top:5px;font-size:12px;}


.kpiTableDiv table{border-collapse:collapse;}
body .bPageBlock .detailList div#matrixBody .kpiDiv .kpiTableDiv table{border:2px solid #455;}
body .bPageBlock .detailList div#matrixBody .kpiDiv .kpiTableDiv table td{border:1px solid #455;font-size:12px;height:15px; width: 106px;}
body .bPageBlock .detailList div#matrixBody .kpiDiv .kpiTableDiv table tr.Maintain td{color:#FFF;}
body .bPageBlock .detailList div#matrixBody .kpiDiv .kpiTableDiv table tr.Observe td{color:#FFF;}
body .bPageBlock .detailList div#matrixBody .kpiDiv .kpiTableDiv table tr.Defend td{color:#FFF;}
body .bPageBlock .detailList div#matrixBody .kpiDiv .kpiTableDiv table tr.Gain td{color:#FFF;}/*to test*/
.kpiTableDiv td.td1,.kpiTableDiv td.td2,.kpiTableDiv td.td3,.kpiTableDiv td.td4,.kpiTableDiv td.td5,.kpiTableDiv td.td6{min-width:60px;}
body .btn.segSbtn{margin-left:280px;margin-top:10px;}
body .btn.segCbtn{margin-left:5px;margin-top:10px;}
.isTotalOn,.isAverageOn{background:#C44;}
#KPItbody .tdnu,.td2,.td3,.td4,.td5,.td6{text-align:right;}
.hide1,.hide2,.hide3{display:none;}
.lgHd{font-weight:bold;text-align:left;margin:5px 0px;}
.lgBd{border:2px solid #999;height:74px;width:114px;line-height:1;}
.lgBd span{white-space:nowrap;font-size:11px;}
.mylegend{position:absolute;top:394px;left:15px;cursor:default;}
.my_legend{position:absolute;top:204px;left:-20px;cursor:default;}
ol li div.hf{position:absolute;height:45px;width:5px;top:0px;left:-3px;z-index:100;}