body #contentWrapper{font-size:12px;}
body #contentWrapper .bodyDiv .outerNoSidebar{padding-bottom:0px;}
body .apexp .bDetailBlock.bPageBlock, body .apexp .individualPalette .bDetailBlock.bPageBlock {margin-bottom: 0px;}
.hideElem{display:none;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 1px solid #999;
	background: none;
	font-weight: normal;
	color: #4A4A56;
}
.theform{width:100%;overflow-x:auto;}
.matriHeader,.matri_Header{font-weight:bold;font-size:12px;margin-bottom:2px;color:#4A4A56;}
.matriHeader,.matri_Header{width:1000px;margin:0px auto;}
.matriHeader span{margin-left:400px;}
.matri_Header span{margin-left:270px;}
.hdlr div.frdv{margin-right:5px;}
.hdlr div.frdv,.hdlr div.ck{float:right;}
.hdlr div.ck{width:12px;height:12px;border:1px solid #ccc;cursor:pointer;}
.hdvh img{float:right;}
.hdvh.tenEl{margin-top:200px;}
.hdvh.fiSix{margin-top:60px;}
#matrixBody{width:1200px;color:#4A4A56;font-size:12px;margin:0px auto;}
.leftSec{height:650px;width:72px;margin-left:0px;margin-right:4px;position:relative;}
.left_Sec{height:450px;width:72px;margin-left:0px;margin-right:4px;position:relative;}
.leftSec,.left_Sec,.rightSec,.colorpick,.kpiDiv,.kpiTableDiv,#chart_div,.segBtnDiv{float:left;}
#chart_div{width:250px;}	
.leftSec .hdlr{text-align:right;margin:10px 0px;font-weight:bold;}
.rightSec{border:2px solid #455;margin-left:25px;}
.rightSec ol.tenEleven{list-style-type: none; margin: 0; padding: 0; width: 702px;}
.rightSec ol.fiveSix{list-style-type: none; margin: 0; padding: 0; width: 432px; }
.rightSec ol li {position:relative;margin:0px;padding:0px 1px; float: left; width: 50px; height: 36px; font-size: 12px; text-align: right; line-height:1;cursor:default;}

.rightSec ol li.tdhd{background:#FFF;}
.clear{clear:both;}
.clearright{clear:right;}
.rightSec table{border-collapse:collapse;border:2px solid #800;margin:10px;}
.rightSec table td{border-width:1px;border-style:solid;height:60px;width:50px;}
.colorpick{width:200px;}
.cpsa{height:460px;}
.cpsb{height:270px;}
#colorbody{position:absolute;width:187px;margin-right:20px;border:2px solid #CAA;border-radius:12px;background:#F8F8F8;z-index:1000;-webkit-box-shadow:-1px 3px 2px #CCC;
 -moz-box-shadow:-1px 3px 2px #CCC;}
#colors {padding: 0px;margin:6px;}
body .bPageBlock .detailList div#matrixBody .colorpick #colorbody #colors table#colorpickt1{border:none;width:176px;margin:0 auto;}
body .bPageBlock .detailList div#matrixBody .colorpick #colorbody #colors table#colorpickt1 tbody tr td{width:54px;
	height:30px;vertical-align:middle;text-align:center;font-weight:bold;cursor:pointer;}
body .bPageBlock .detailList div#matrixBody .colorpick #colorbody #colors table#colorpickt2{border:none;width:176px;margin:0 auto;}
body .bPageBlock .detailList div#matrixBody .colorpick #colorbody #colors table#colorpickt2 tbody tr td{width:82px;
	height:30px;vertical-align:middle;text-align:center;font-weight:bold;cursor:pointer;}
	body .bPageBlock .detailList div#matrixBody .colorpick #colorbody #colors table#popdata{border:none;width:176px;margin:0 auto;}
body .bPageBlock .detailList div#matrixBody .colorpick #colorbody #colors table#popdata tbody tr td{width:82px;
	vertical-align:middle;cursor:pointer;padding:3px;border:none;}
body .bPageBlock .detailList div#matrixBody .colorpick #colorbody #colors table#popdata tbody tr td.pdlf{text-align:right; white-space:nowrap;}
body .bPageBlock .detailList div#matrixBody .colorpick #colorbody #colors table#popdata tbody tr td.pdrt{text-align:left; white-space:nowrap;}	
.Gain{background:#F8B818;
color:#FFF;/*to test*/
}
.Build{background:#FCFC04;}
.Defend{background:#20A020;color:#FFF;}
.Observe{background:#FC0404;color:#FFF;}
.Maintain{background:#2060A0;color:#FFF;}
.Blank{background:#FFF;}

li.ui-selecting{background:#DFDFDF;}
span.ui-selecting {background:none;}
.Gain.ui-selecting{background:#FCDC8C;}
.Build.ui-selecting{background:#FEFEB4;}
.Defend.ui-selecting{background:#90D090;}
.Observe.ui-selecting{background:#FE8282;}
.Maintain.ui-selecting{background:#90B0D0;}

.GainTd {background:#FCDC8C;}
.BuildTd {background:#FEFEB4;}
.DefendTd {background:#90D090;}
.ObserveTd {background:#FE8282;}
.MaintainTd {background:#90B0D0;}

	
/*border:1px solid #0F9;*/
.rightSec ol li.tdhd.ui-selecting{border-color:#999;background: #FFF;}
li.ui-selected {background:#DFDFDF;}
span.ui-selected {background:none;}
.Gain.ui-selected{background:#FCDC8C;}
.Build.ui-selected{background:#FEFEB4;}
.Defend.ui-selected{background:#90D090;}
.Observe.ui-selected{background:#FE8282;}
.Maintain.ui-selected{background:#90B0D0;}
.rightSec ol li.tdhd.ui-selected{border-color:#999;}
.kpiHeader{font-weight:bold;margin-top:5px;font-size:12px;}


.kpiTableDiv table{border-collapse:collapse;}
body .bPageBlock .detailList div#matrixBody .kpiDiv .kpiTableDiv table{border:2px solid #455;}
body .bPageBlock .detailList div#matrixBody .kpiDiv .kpiTableDiv table td{border:1px solid #455;color:#4A4A56;font-size:12px;height:15px; width: 106px;}
body .bPageBlock .detailList div#matrixBody .kpiDiv .kpiTableDiv table tr.Maintain td{color:#FFF;}
body .bPageBlock .detailList div#matrixBody .kpiDiv .kpiTableDiv table tr.Observe td{color:#FFF;}
body .bPageBlock .detailList div#matrixBody .kpiDiv .kpiTableDiv table tr.Defend td{color:#FFF;}
body .bPageBlock .detailList div#matrixBody .kpiDiv .kpiTableDiv table tr.Gain td{color:#FFF;}/*to test*/
.kpiTableDiv td.td1,.kpiTableDiv td.td2,.kpiTableDiv td.td3,.kpiTableDiv td.td4,.kpiTableDiv td.td5,.kpiTableDiv td.td6{min-width:60px;}
body .btn.segSbtn{margin-left:280px;margin-top:10px;}
body .btn.segCbtn{margin-left:5px;margin-top:10px;}
.isTotalOn,.isAverageOn{background:#C44;}
#KPItbody .tdnu,.td2,.td3,.td4,.td5,.td6{text-align:right;}
.hide1,.hide2,.hide3{display:none;}
.lgHd{font-weight:bold;text-align:left;margin:5px 0px;}
.lgBd{border:2px solid #999;height:74px;width:89px;line-height:1;}
.lgBd span{white-space:nowrap;font-size:11px;}
.mylegend{position:absolute;top:394px;left:15px;cursor:default;}
.my_legend{position:absolute;top:204px;left:4px;cursor:default;}
ol li div.hf{position:absolute;height:45px;width:5px;top:0px;left:-3px;z-index:100;}

.ui-widget { font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif; font-size: 1.1em; }
.ui-widget-content { border: 1px solid #dddddd; background: #eeeeee; color: #333333; }
.ui-corner-all, .ui-corner-left{ -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.ui-widget-header { border: 1px solid #e78f08; background: #f6a828; color: #ffffff; font-weight: bold; }
.ui-progressbar { height:2em; text-align: left; overflow: hidden; }
.ui-progressbar .ui-progressbar-value {margin: -1px; height:100%; }
.tac{text-align: center !important;}
.tar{text-align: right !important;}
.fw{font-weight: bold;}
.matrixoverCls{}
.dropTarget{
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius:4px;
	background-color:#E6F5FB !important;opacity:0.65; z-index:8000;filter:alpha(opacity=65);background-repeat:no-repeat;background-position:center center;
}
.hoverTarget{ background-color:#e4e4ef !important; }
.clearfix:after {
	content: ".";
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
}
.startdiv{text-align: center !important;margin: 0 auto;width: 800px;vertical-align: middle;}
.hdvhc {
	white-space: nowrap;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	display: block;
	/*margin-top: 150px;*//*commented by Peng Zhu 2013-05-23*/
	font-weight: bold;
	position: relative;
}

.channelTabCls{border: none !important; margin: auto; width: 80%;}
.tbodycls,.trcls,.tdcls{border: none !important; text-align: center !important;}
.w1{width: 120px;}
.w2{width: 10px;}
.w3{width:240px;}
.tdh{height: 50px;line-height: 50px;}

.channelCls{position: relative; padding:1px; border: 1px solid #999;-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius:4px;}
.channelCls div{width: 100%; position: relative; vertical-align: middle;}
.channelCls div.h1{ height: 40px; line-height: 40px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius:4px;}
.channelCls div.h2{ 
	height: 16px; line-height: 16px;
	-moz-border-radius: 4px;      /* Gecko browsers */
	-webkit-border-radius: 4px;   /* Webkit browsers */
	border-radius:4px;            /* W3C syntax */
	overflow: hidden;
}
.channelCls div.h2 span.sCls{vertical-align: middle;position: relative;display: block;height: 100%;line-height: 100%;}
.channelTrDataH td div.heightCls{height: 60px; line-height: 60px;min-height: 60px; max-height: 60px;}

.matrixCls{ overflow: hidden; margin-top: 10px; width: 100%;}

.matrixCls div.matrixDivLabel{padding-top:26px; float: left; position: relative; width:100%; word-break:break-all;}
.matrixCls div.matrixDivLabel  ul{overflow:hidden;list-style:none; position: relative; float: right; margin: 0; padding: 0;}
.matrixCls div.matrixDivLabel  ul li{float:right;display:inline; word-wrap:break-word;word-break:nomal; padding: 0; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius:4px;}

.matrixCls div.labelCls{position: relative; height: 100%; line-height: 100%; float: left;width: 26px;overflow: hidden;}
.matrixCls div.matrixDivTable {float: left; width: 97%;}
.matrixCls div.matrixDivTable h1.hCls{}

.matrixTotalCls{overflow: hidden; margin-top:2px; width: 1160px; padding-left:30px; float:left;}
.matrixTotalCls div{position: relative;}
.matrixTotalCls div.matrixDivLabel{ height: 30px; line-height: 30px;text-align: left; width: 100%;}

.matrixTotalCls div.matrixDivTable{*float:left;}


.matrixTabTotalCls {text-align: right; width:100% !important;}
.matrixTabTotalCls th.brt,td.brt{text-align:right; border-right: 1px solid #e0e3e5 !important; border-left: none !important; border-bottom: 1px solid #f2f2f3 !important; }
.matrixTabTotalCls th.nbrt, td.nbrt {border-right: none !important;}
.matrixTabTotalCls th.nbbt, td.nbbt {border-bottom: none !important;}

.matrixTabCls {text-align: right;}
.matrixTabCls th.brt,td.brt{border-right: 1px solid #e0e3e5 !important; border-left: none !important; border-bottom: 1px solid #f2f2f3 !important; }
.matrixTabCls th.nbrt, td.nbrt {border-right: none !important;}
.matrixTabCls th.nbbt, td.nbbt {border-bottom: none !important;}

#channelDivId{padding-left:1px;padding-right:2px;margin:0 auto;}

.dropulCls{margin:0 auto; padding:0; float:left; text-align: center !important; width:100%; height:100%; line-height:100%;list-style:none;}
.draggable{-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius:4px;list-style: none; 
display:inline-block;zoom:1;*display:inline; float: left;
margin-left:3px; margin-top:3px; height: 20px;line-height:20px;min-height:20px;max-height:20px; border: 1px solid #e0e3e5; z-index: 50;}
.pgover{background: #E6F5FB !important; cursor: move;}
.oh{overflow: hidden;}
.displayCls{display:none;}
#channel1DivContent, #channel2DivContent{ background: none;border: none; }



.channelDropulCls{float: left; width: 100%; height: 98%;line-height:98%; list-style: none; padding: 0; margin: 0;}
.channelDropulCls li{margin: 0;padding: 0; width: 100%;height: 40px; line-height:40px; list-style: none; float: left;-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius:4px;}
#channel1 div, #channel2 div{float: left; margin-bottom: 3px;}

.border_bn{border-bottom:none !important;}
.border_rn{border-right:none !important;}
.border_ln{border-left:none !important;}
#colorbody #colors1 table td.fwb{width:50%;padding-right:3px;}
.tipsTdW{width:50%;text-align:left;padding-left:3px;}

.rightSec ol.olborderCls{border: 2px solid rgb(83, 82, 82);;float: left;list-style-type: none;margin: 0;padding: 0;}
.rightSec ol li.liborder_none{border:none;padding:0; width:60px; height:25px;}

.rightSec ol li.liborder_t{border-top: 2px solid rgb(83, 82, 82);}
.rightSec ol li.liborder_r{border-right: 2px solid rgb(83, 82, 82);}
.rightSec ol li.liborder_l{border-left: 2px solid rgb(83, 82, 82);}
.rightSec ol li.liborder_b{border-bottom: 2px solid rgb(83, 82, 82);}

.lidivcls{line-height:25px; height:89% !important; text-align:center !important; padding-top:4px;}
/*.lidivb_l{border-left: 1px solid #999;}*/


.cellPopupTable {border:1px solid #ededed;}
.cellPopupTable tr {height:25px;}
.cellPopupTable th, .cellPopupTable td {border:1px solid #ededed;}