.matrixTitleCls{float:left;}
.spanInputCls{float:right;}/*margin-left: 20px;*/
.hiddenCls{display:none}
#matricesSeletorDivId{height:120px;overflow-y:scroll}/*overflow-y:auto*/
.inputCls{width:30px;margin-top: -0.5px;-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius:4px;opacity:1;filter:alpha(opacity=100);}
.fullCoverageCb {margin-top: -0.5px; opacity:1;}
.pgover{background: #D4F1FD !important; cursor: move;}
.mightOverflow {width:82px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

.specialCls{position: relative; padding:1px; border: 1px solid #999;-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius:4px;}
.specialCls div{width: 100%; position: relative; vertical-align: middle;}
.specialCls div.h1{ height: 40px; line-height: 40px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius:4px;}
.specialCls div.h2{ 
	height: 16px; line-height: 16px;
	-moz-border-radius: 4px;      /* Gecko browsers */
	-webkit-border-radius: 4px;   /* Webkit browsers */
	border-radius:4px;            /* W3C syntax */
	overflow: hidden;
}
.specialCls div.h2 span.sCls{vertical-align: middle;position: relative;display: block;height: 100%;line-height: 100%;}

.dropUlCls {margin:0 auto; padding:0; float:left; text-align: center !important; width:100%; height:100%; line-height:100%;list-style:none;}
.dropUlCls li {font-weight:normal; font-size:12px;}
		
.draggable{
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius:4px;
	list-style:none; 
	display:inline-block;zoom:1;
	*display:inline; float: left;
	margin-left:3px; margin-top:3px; height: 20px;line-height:20px;min-height:20px;max-height:20px; border: 1px solid #e0e3e5; z-index: 50;
	white-space:nowrap;}
	
div.heightCls{height: 60px; line-height: 60px;min-height: 60px; }/*max-height: 120px;*/

.matrixDropUlCls {width: 100%; height: 98%;line-height:98%; list-style: none; padding: 0; margin: 0;}
.matrixDropUlCls li{margin: 0;padding: 0; width: 100%;height: 30px; line-height:30px; list-style: none; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius:4px; font-weight:normal; font-size:12px;}

.theTopDivCls{position:relative;}

.matrixOuterTable {margin-left:20px;}

.matrixOuterTable tr {background:#F5FAFA;}

.matrixOuterTable td {vertical-align:middle !important; padding:5px 25px 5px 5px; font-weight:bold; font-size:15px;white-space:nowrap;}

.matrixInnerTable {border:1px solid #F0E4E4; margin:1px 5px;}

.matrixInnerTable td {text-align:center; padding:5px !important;}

.special-state-disabled {background:#FB908A !important;}

.runMatrixCreationBtn {margin-top:5px; margin-bottom:10px;}

.cancelBtn {margin-top:5px; margin-left:20px; margin-bottom:10px;}

.requiredInput .requiredBlock {
	background-color:#c00;
	position:absolute;
	left:-4px;
	width:3px;
	top:1px;
	bottom:1px;
}

.requiredInput {position:relative;height:100%;}

.mtSelectListCls{width:118px;}

.lcSelectListCls{width:118px;}

.mtLabelDiv{position:absolute; bottom:65px; margin-left:5px;}

.matrixTableLabel{float:left; padding-top:2px;}



.pfOuterTable {}

.pfOuterTable td {vertical-align:middle !important; white-space:nowrap;}



.portfolioTable {border:1px solid #F0E4E4; margin:1px 5px; padding:1px 5px;width:362px;}

.portfolioTable td {vertical-align:middle !important;}

.portfolioTable td.labelCol {text-align:right !important;}

.portfolioTable td.dataCol {text-align:left !important;}

.portfolioTable td.dataCol input {width:100px;}
