.ui-widget { font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif; font-size: 1.1em; }
.ui-widget-content { border: 1px solid #dddddd; background: #eeeeee; color: #333333; }
.ui-corner-all, .ui-corner-left{ -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.ui-widget-header { border: 1px solid #e78f08; background: #f6a828; color: #ffffff; font-weight: bold; }
.ui-progressbar { height:2em; text-align: left; overflow: hidden; }
.ui-progressbar .ui-progressbar-value {margin: -1px; height:100%; }
.tac{text-align: center !important;}
.tar{text-align: right !important;}
.fw{font-weight: bold;}
.matrixoverCls{}
.dropTarget{
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius:4px;
	background-color:#E6F5FB !important;opacity:0.65; z-index:8000;filter:alpha(opacity=65);background-repeat:no-repeat;background-position:center center;
}
.hoverTarget{ background-color:#e4e4ef !important; }
.clearfix:after {
	content: ".";
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
}
.startdiv{text-align: center !important;margin: 0 auto;width: 800px;vertical-align: middle;}
.hdvhc {
	white-space: nowrap;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	display: block;
	/*margin-top: 150px;*//*commented by Peng Zhu 2013-05-23*/
	font-weight: bold;
	position: relative;
}

.channelTabCls{border: none !important; margin: auto; width: 80%;}
.tbodycls,.trcls,.tdcls{border: none !important; text-align: center !important;}
.w1{width: 120px;}
.w2{width: 10px;}
.w3{width:240px;}
.tdh{height: 50px;line-height: 50px;}

.channelCls{position: relative; padding:1px; border: 1px solid #999;-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius:4px;}
.channelCls div{width: 100%; position: relative; vertical-align: middle;}
.channelCls div.h1{ height: 40px; line-height: 40px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius:4px;}
.channelCls div.h2{ 
	height: 16px; line-height: 16px;
	-moz-border-radius: 4px;      /* Gecko browsers */
	-webkit-border-radius: 4px;   /* Webkit browsers */
	border-radius:4px;            /* W3C syntax */
	overflow: hidden;
}
.channelCls div.h2 span.sCls{vertical-align: middle;position: relative;display: block;height: 100%;line-height: 100%;}
.channelTrDataH td div.heightCls{height: 60px; line-height: 60px;min-height: 60px; max-height: 60px;}

.matrixCls{ overflow: hidden; margin-top: 10px; width: 100%;}

.matrixCls div.matrixDivLabel{padding-top:26px; float: left; position: relative; width:100%; word-break:break-all;}
.matrixCls div.matrixDivLabel  ul{overflow:hidden;list-style:none; position: relative; float: right; margin: 0; padding: 0;}
.matrixCls div.matrixDivLabel  ul li{float:right;display:inline; word-wrap:break-word;word-break:nomal; padding: 0; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius:4px;}

.matrixCls div.labelCls{position: relative; height: 100%; line-height: 100%; float: left;width: 26px;overflow: hidden;}
.matrixCls div.matrixDivTable {float: left; width: 97%;}
.matrixCls div.matrixDivTable h1.hCls{}

.matrixTotalCls{overflow: hidden; margin-top:2px; width: 1160px; padding-left:30px; float:left;}
.matrixTotalCls div{position: relative;}
.matrixTotalCls div.matrixDivLabel{ height: 30px; line-height: 30px;text-align: left; width: 100%;}

.matrixTotalCls div.matrixDivTable{*float:left;}


.matrixTabTotalCls {text-align: right; width:100% !important;}
.matrixTabTotalCls th.brt,td.brt{text-align:right; border-right: 1px solid #e0e3e5 !important; border-left: none !important; border-bottom: 1px solid #f2f2f3 !important; }
.matrixTabTotalCls th.nbrt, td.nbrt {border-right: none !important;}
.matrixTabTotalCls th.nbbt, td.nbbt {border-bottom: none !important;}

.matrixTabCls {text-align: right;}
.matrixTabCls th.brt,td.brt{border-right: 1px solid #e0e3e5 !important; border-left: none !important; border-bottom: 1px solid #f2f2f3 !important; }
.matrixTabCls th.nbrt, td.nbrt {border-right: none !important;}
.matrixTabCls th.nbbt, td.nbbt {border-bottom: none !important;}

#channelDivId{padding-left:1px;padding-right:2px;margin:0 auto;}

.dropulCls{margin:0 auto; padding:0; float:left; text-align: center !important; width:100%; height:100%; line-height:100%;list-style:none;}
.draggable{-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius:4px;list-style: none; 
display:inline-block;zoom:1;*display:inline; float: left;
margin-left:3px; margin-top:3px; height: 20px;line-height:20px;min-height:20px;max-height:20px; border: 1px solid #e0e3e5; z-index: 50;}
.pgover{background: #E6F5FB !important; cursor: move;}
.oh{overflow: hidden;}
.displayCls{display:none;}
#channel1DivContent, #channel2DivContent{ background: none;border: none; }



.channelDropulCls{float: left; width: 100%; height: 98%;line-height:98%; list-style: none; padding: 0; margin: 0;}
.channelDropulCls li{margin: 0;padding: 0; width: 100%;height: 40px; line-height:40px; list-style: none; float: left;-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius:4px;}
#channel1 div, #channel2 div{float: left; margin-bottom: 3px;}

.border_bn{border-bottom:none !important;}
.border_rn{border-right:none !important;}
.border_ln{border-left:none !important;}
#colorbody #colors1 table td.fwb{width:50%;padding-right:3px;}
.tipsTdW{width:50%;text-align:left;padding-left:3px;}

.rightSec ol.olborderCls{border: 2px solid rgb(83, 82, 82);;float: left;list-style-type: none;margin: 0;padding: 0;}
.rightSec ol li.liborder_none{border:none;padding:0; width:60px; height:25px;}

.rightSec ol li.liborder_t{border-top: 2px solid rgb(83, 82, 82);}
.rightSec ol li.liborder_r{border-right: 2px solid rgb(83, 82, 82);}
.rightSec ol li.liborder_l{border-left: 2px solid rgb(83, 82, 82);}
.rightSec ol li.liborder_b{border-bottom: 2px solid rgb(83, 82, 82);}

.lidivcls{line-height:25px; height:89% !important; text-align:center !important; padding-top:4px;}
/*.lidivb_l{border-left: 1px solid #999;}*/


.cellPopupTable {border:1px solid #ededed;}
.cellPopupTable tr {height:25px;}
.cellPopupTable th, .cellPopupTable td {border:1px solid #ededed;}